<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html">

    <title>${page.title}</title>

    <sly data-sly-include="customheaderlibs.html"/>

    <sly data-sly-call="${headlibRenderer.headlibs @
        designPath                = page.designPath,
        staticDesignPath          = page.staticDesignPath,
        clientLibCategories       = page.clientLibCategories,
        clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
        hasCloudconfigSupport     = page.hasCloudconfigSupport}"/>

</template>
