@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cmp-modal-legal-links{
    .cmp-modal {
        margin-top: 80px;

        @include mobile {
            margin-top: 0;
            .cmp-atc-modal__information-text{
                padding: 0 $space-xs;
            }
        }

        .cmp-modal-body-legal-links{
            max-height: 75vh;
            overflow-y: auto;
            overflow-x: hidden;
    
            @include mobile {
                max-height: 100vh;
                .cmp-atc-modal__information-text{
                    padding: 0 $space-xs;
                }
            }
        }
    }
}