<template data-sly-template.group="${@ items='The navigation items for the current level',
    parent='The parent nav item of the passed in child items if applicable'}" data-sly-use.itemTemplate="item.html">
    <ul class="cmp-navigation__group">
        <sly data-sly-repeat.item="${items}" data-sly-call="${itemTemplate.item @ item=item}"></sly>
        <div data-sly-test="${items[0].level == 1}"
             id="${parent ? '{0}-{1}' : '' @ format=[parent.name, 'target-container']}"
             class="cmp-navigation__adobe-target-container"></div>
    </ul>
</template>