<nav class="cmp-navigation"
     role="navigation"
     itemscope itemtype="http://schema.org/SiteNavigationElement"
     data-sly-use.navigation="com.waters.aem.core.components.content.Navigation"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${navigation.items.size > 0}"
     data-sly-use.groupTemplate="group.html"
     data-sly-call="${groupTemplate.group @ items=navigation.items}">
</nav>
<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!navigation.items, text=component.title}"/>