<div
        data-sly-use.myaccount="com.waters.aem.core.components.content.MyAccount"
>
    <div class="cmp-my-account--attach" id="my-account"></div>
    <script type="application/json" id="cmp-my-account">
        {
            "tiles": [
                {
                    "title": "${'Account' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/user.svg",
                    "links": [
                        {
                            "text": "${'Profile' @ i18n, context='unsafe'}",
                            "url": "${'#profile' @ context='unsafe'}"
                        },
                        {
                            "text": "${'Password' @ i18n, context='unsafe'}",
                            "url": "${'#password' @ context='unsafe'}"
                        }
                    ]
                },
                {
                    "title": "${'Orders' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/package.svg",
                    "links": [
                        {
                            "text": "${'Order History' @ i18n, context='unsafe'}",
                            "url": "${'#orderhistory' @ context='unsafe'}"
                        }
                    ]
                },
                {
                    "title": "${'Additional Resources' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/link.svg",
                    "links": ${myaccount.additionalResources @ context="unsafe"}
                }
            ]
        }
    </script>
</div>
<sly
        data-sly-use.patterns="/apps/waters/components/content/patterns.html"
        data-sly-call="${patterns.placeholder @ show=true, text=component.title}"
/>