<div data-sly-use.myaccount="com.waters.aem.core.components.content.MyAccount">
    <div class="cmp-my-account--attach" id="my-account"></div>
    <script type="application/json" id="cmp-my-account">
        {
            "tiles": [
                {
                    "title": "${'Account' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/user.svg",
                    "links": [
                        {
                            "text": "${'Profile' @ i18n, context='unsafe'}",
                            "url": "${'#profile' @ context='unsafe'}"
                        },
                        {
                            "text": "${'Password' @ i18n, context='unsafe'}",
                            "url": "${'#changepassword' @ context='unsafe'}"
                        }
                    ]
                },
                {
                    "title": "${'Orders' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/package.svg",
                    "links": [
                        {
                            "text": "${'Order History' @ i18n, context='unsafe'}",
                            "url": "${'#orderhistory' @ context='unsafe'}"
                        }
                    ]
                },
                {
                    "title": "${'Additional Resources' @ i18n, context='unsafe'}",
                    "icon": "/content/dam/waters/en/brand-assets/icons/link.svg",
                    "links": ${myaccount.additionalResources @ context="unsafe"}
                }
            ],
            "myProfile": {
                "fetchEndPoint": "${myaccount.userDetailsUrl @ context='unsafe'}",
                "submitEndpoint": "${myaccount.myAccountUpdateUrl @ context='unsafe'}",
                "personalConfigId": "json-config--cmp-detail-tiles--personal",
                "addressConfig": {
                    "abstractConfig": "json-config--cmp-detail-tiles--address",
                    "configs": [
                        "json-config--cmp-detail-tiles--shipping",
                        "json-config--cmp-detail-tiles--billing"
                    ]
                }
                },
                "changePassword": {
                    "config": "json-config--cmp-detail-tiles--changePassword"
                }
        }
    </script>

    <script
        type="application/json"
        id="json-config--cmp-detail-tiles--personal"
    >
        {
            "name": "personal-details-tile",
            "type": "personal",
            "title": "${'Personal Details' @ i18n, context='unsafe'}",
            "fetchEndPoint": "${myaccount.userDetailsUrl @ context='unsafe'}",
            "canCreate": false,
            "editText": "${'Edit' @ i18n, context='unsafe'}",
            "formMessage":  {
                "text": "${'Your email is your username and cannot be changed. If you need to change your country, please ' @ i18n, context='unsafe'}",
                "linkText": "${'Contact Waters' @i18n, context='unsafe'}",
                "linkURL": "https://www.waters.com/waters/localeRedirect.htm?type=contact_us"
            },
            "form": {
                "submitEndpoint": "${myaccount.myAccountUpdateUrl @ context='unsafe'}",
                "buttonText": "${'Save Changes' @ i18n, context='unsafe'}",
                "cancelText": "${'Cancel' @ i18n, context='unsafe'}",
                "icons": {
                    "checkmarkIcon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                    "validIcon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                    "invalidIcon": "/content/dam/waters/en/brand-assets/icons/attention.svg",
                    "lockIcon": "/content/dam/waters/en/brand-assets/icons/lock.svg"
                },
                "fields": [
                    {
                        "type": "text",
                        "name": "firstName",
                        "label": "${'First Name' @ i18n, context='unsafe'}",
                        "validation": {
                            "required": true,
                            "maxLength": {
                                "value": 40,
                                "message": "${'Maximum 40 characters allowed' @i18n, context='unsafe'}"
                            },
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid first name.' @ i18n, context='unsafe'}",
                            "requiredMsg": "${'Please enter a first name.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "lastName",
                        "label": "${'Last Name' @ i18n, context='unsafe'}",
                        "validation": {
                            "required": true,
                            "maxLength": {
                                "value": 40,
                                "message": "${'Maximum 40 characters allowed' @i18n, context='unsafe'}"
                            },
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid last name.' @ i18n, context='unsafe'}",
                            "requiredMsg": "${'Please enter a last name.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "company",
                        "label": "${'Company' @ i18n, context='unsafe'}",
                        "validation": {
                            "validateFnName": "noWhitespaceOnly",
                            "maxLength": {
                                "value": 40,
                                "message": "${'Maximum 40 characters allowed' @i18n, context='unsafe'}"
                            },
                            "validationMsg": "${'Please enter a valid company name.' @ i18n, context='unsafe'}",
                            "required": true,
                            "requiredMsg": "${'Please enter a company name.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "email",
                        "name": "email",
                        "disabled": true,
                        "label": "${'Email Address' @ i18n, context='unsafe'}",
                        "validation": {
                            "required": true,
                            "requiredMsg": "${'Please enter a valid email address.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "phone",
                        "label": "${'Phone Number' @ i18n, context='unsafe'}",
                        "validation": {
                            "required": false,
                            "requiredMsg": "${'Please enter a phone number.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "dropdown",
                        "name": "country",
                        "label": "${'Country' @ i18n, context='unsafe'}",
                        "placeholder": "${'Select...' @ i18n, context='unsafe'}",
                        "options": ${myaccount.countriesJson @ context='unsafe'},
                        "disabled": true,
                    "validation": {
                        "required": true,
                        "requiredMsg": "${'Please select your country.' @ i18n, context='unsafe'}"
                    }
                    },
                    {
                        "type": "checkbox",
                        "name": "communications",
                        "label": "${'I want to receive communications from Waters.' @ i18n, context='text'}"
                    }
                ]
            },
            "icons": {
                "edit": "/content/dam/waters/en/brand-assets/icons/edit.svg"
            }
        }
    </script>

    <script type="application/json" id="json-config--cmp-detail-tiles--billing">
        {
            "name": "billingAddresses-details-tile",
            "type": "billing",
            "title": "${'Billing Address' @ i18n, context='unsafe'}",
            "noAddressMessage": "${'For a faster checkout experience, add your billing address now.' @ i18n, context='unsafe'}",
            "addTitle": "${'Add New Billing Address' @ i18n, context='unsafe'}"
        }
    </script>

    <script
        type="application/json"
        id="json-config--cmp-detail-tiles--shipping"
    >
        {
            "name": "shippingAddresses-details-tile",
            "type": "shipping",
            "title": "${'Shipping Address' @ i18n, context='unsafe'}",
            "noAddressMessage": "${'For a faster checkout experience, add your shipping address now.' @ i18n, context='unsafe'}",
            "addTitle": "${'Add New Shipping Address' @ i18n, context='unsafe'}"
        }
    </script>

    <script type="application/json" id="json-config--cmp-detail-tiles--address">
        {
            "formMessage": {
                "text": "${'It may take up to 24 hours to verify a new or change of address. Orders may be delayed.' @ i18n, context='unsafe'}"
            },
            "editText": "${'Edit' @i18n, context='unsafe'}",
            "form": {
                "buttonText": "${'Save Changes' @ i18n, context='unsafe'}",
                "cancelText": "${'Cancel' @ i18n, context='unsafe'}",
                "icons": {
                    "validIcon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                    "invalidIcon": "/content/dam/waters/en/brand-assets/icons/attention.svg"
                },
                "fields": [
                    {
                        "type": "text",
                        "name": "company",
                        "label": "${'Company' @ i18n, context='unsafe'}",
                        "validation": {
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid company.' @ i18n, context='unsafe'}",
                            "required": true,
                            "requiredMsg": "${'Please enter a company.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "street",
                        "label": "${'Address' @ i18n, context='unsafe'}",
                        "validation": {
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid address.' @ i18n, context='unsafe'}",
                            "required": true,
                            "requiredMsg": "${'Please enter an address.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "city",
                        "label": "${'City' @ i18n, context='unsafe'}",
                        "validation": {
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid city.' @ i18n, context='unsafe'}",
                            "required": true,
                            "requiredMsg": "${'Please enter a city.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "dropdown",
                        "name": "state",
                        "label": "${'State/Province/Region' @ i18n, context='unsafe'}",
                        "placeholder": "${'Select...' @ i18n, context='unsafe'}",
                        "dropdownIndicator": "/content/dam/waters/en/brand-assets/icons/down.svg",
                        "options": [],
                        "validation": {
                            "required": true,
                            "requiredMsg": "${'Please select your region.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "text",
                        "name": "zip",
                        "label": "${'Zip/Postal Code' @ i18n, context='unsafe'}",
                        "validation": {
                            "validateFnName": "noWhitespaceOnly",
                            "validationMsg": "${'Please enter a valid postal code.' @ i18n, context='unsafe'}",
                            "required": true,
                            "requiredMsg": "${'Please enter a postal code.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "dropdown",
                        "name": "country",
                        "label": "${'Country' @ i18n, context='unsafe'}",
                        "placeholder": "${'Select...' @ i18n, context='unsafe'}",
                        "dropdownIndicator": "/content/dam/waters/en/brand-assets/icons/down.svg",
                        "options": [],
                        "validation": {
                            "required": true,
                            "requiredMsg": "${'Please select your country.' @ i18n, context='unsafe'}"
                        }
                    }
                ]
            },
            "canCreate": true,
            "icons": {
                "edit": "/content/dam/waters/en/brand-assets/icons/edit.svg",
                "add": "/content/dam/waters/en/brand-assets/icons/add.svg",
                "refresh": "/content/dam/waters/en/brand-assets/icons/refresh.svg"
            }
        }
    </script>

    <script
        type="application/json"
        id="json-config--cmp-detail-tiles--changePassword"
    >
        {
            "name": "changePassword-details-tile",
            "type": "password",
            "title": "${'Change Password' @ i18n, context='unsafe'}",
            "editText": "${'Edit' @i18n, context='unsafe'}",
            "canCreate": false,
            "form": {
                "submitEndpoint": "${myaccount.updatePasswordUrl @ context='unsafe'}",
                "buttonText": "${'Change Password' @ i18n, context='unsafe'}",
                "cancelText": "${'Cancel' @ i18n, context='unsafe'}",
                "icons": {
                    "checkmarkIcon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                    "validIcon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                    "invalidIcon": "/content/dam/waters/en/brand-assets/icons/attention.svg",
                    "eyeIcon": "/content/dam/waters/en/brand-assets/icons/eye.svg",
                    "eyeOffIcon": "/content/dam/waters/en/brand-assets/icons/eye-off.svg",
                    "signInIcon": "/content/dam/waters/en/brand-assets/icons/user.svg"
                },
                "fields": [
                    {
                        "type": "password",
                        "name": "currentPassword",
                        "label": "${'Enter Current Password' @ i18n, context='unsafe'}",
                        "hasMatch": false,
                        "validation": {
                            "required": true,
                            "requiredMsg": "${'Please enter current password.' @ i18n, context='unsafe'}"
                        }
                    },
                    {
                        "type": "password",
                        "name": "newPassword",
                        "label": "${'Create New Password' @ i18n, context='unsafe'}",
                        "hasMatch": true,
                        "matchLabel": "${'Confirm New Password' @ i18n, context='unsafe'}",
                        "validation": {
                            "required": true,
                            "validateFnName": "password",
                            "validationMsg": "${'Please enter a valid password.' @ i18n, context='unsafe'}",
                            "requiredMsg": "${'Please enter a password.' @ i18n, context='unsafe'}",
                            "requiredMatchMsg": "${'Please confirm your password.' @ i18n, context='unsafe'}",
                            "nonMatchingMsg": "${'Passwords must match. Please try again.' @ i18n, context='unsafe'}",
                            "requirementsLabel": "${'Your password must include' @i18n, context='unsafe'}",
                            "requirements": [
                                {
                                    "name": "shortPassword",
                                    "msg": "${'at least 8 characters' @ i18n, context='unsafe'}"
                                },
                                {
                                    "name": "noUppercase",
                                    "msg": "${'at least 1 uppercase letter' @ i18n, context='unsafe'}"
                                },
                                {
                                    "name": "noLowercase",
                                    "msg": "${'at least 1 lowercase letter' @ i18n, context='unsafe'}"
                                },
                                {
                                    "name": "noDigits",
                                    "msg": "${'at least 1 number' @ i18n, context='unsafe'}"
                                },
                                {
                                    "name": "noSpecial",
                                    "msg": "${'at least 1 symbol (for example, !, $, #, %)' @ i18n, context='unsafe'}"
                                }
                            ]
                        }
                    }
                ]
            },
            "icons": {
                "edit": "/content/dam/waters/en/brand-assets/icons/edit.svg"
            }
        }
    </script>
</div>
<sly
    data-sly-use.patterns="/apps/waters/components/content/patterns.html"
    data-sly-call="${patterns.placeholder @ show=true, text=component.title}"
/>
