.cmp-anchor {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
    position: relative;
    background-color: $color-white;
    padding: $space-l 0;

    svg {
        width: $icon-m;
        float: right;
        fill: $color-icon;
    }

    &__list {
        max-width: 1285px;
        @include tablet-and-over {
            white-space: nowrap;
            overflow-x: hidden;
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-heading {
            display: none;
        }

        @include mobile {
            a {
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    &--sticky {
        position: fixed;
        z-index: 100;
        width: 300%;
        margin: 0 -0% 0 -50%;
        padding: 0 162.5% 0 50%;
        white-space: nowrap;
        overflow-x: hidden;

        &--shadow {
            box-shadow: $shadow;
        }

        @include mobile {
            padding: 0 158.5% 0 50%;
            overflow-y: hidden;
            height: 52px;
        }

        @include tablet {
            width: 300%;
        }

        .cmp-anchor__list {
            @include mobile {
                padding-left: 0;
                columns: unset;
                margin-top: 0;
                overflow-y: auto;
                overflow-x: hidden;
                height: 100%;

                .cmp-anchor__list-item {
                    width: 100%;
                }
            }

            &-heading {
                @include font-utility;
                display: none;
                position: relative;
                cursor: pointer;
                margin-bottom: $space-s;

                @include mobile {
                    display: block;
                    display: block;
                    width: 150%;
                    margin-left: -25%;
                    padding-left: 25%;
                    height: 50px;
                    padding-top: ($space-xxs + 0.1em);
                }

                .cmp-icon {
                    display: block;
                    float: right;
                    right: 15%;
                    position: absolute;
                    top: 0.7em;
                    padding-right: $space-xs;
                }
            }
        }

        @include mobile {
            transition: height ease 0.5s;
            height: 52px;
            &.open {
                height: 100vh;
                .cmp-anchor__list-heading--closed {
                    opacity: 0;
                    height: 0;
                }

                .cmp-anchor__list-heading--open {
                    opacity: 1;
                }
            }

            &.closed {
                height: 52px;
                .cmp-anchor__list-heading--closed {
                    opacity: 1;
                }

                .cmp-anchor__list-heading--open {
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .cmp-anchor__link.active {
        color: $color-font-dark;
        @include tablet-and-over {
            padding-bottom: ($space-xs + 0.05em);
            border-bottom: 2px solid $color-gray-50;
        }
    }

    @include mobile {
        padding-top: 0;
    }

    &-gradient-left {
        @include tablet-and-over {
            width: 50px;
            height: 50px;
            position: absolute;

            background: -webkit-linear-gradient(
                left,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -moz-linear-gradient(
                left,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -ms-linear-gradient(
                left,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -o-linear-gradient(
                left,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: linear-gradient(
                left,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
        }
    }

    &-gradient-right {
        @include tablet-and-over {
            height: 50px;
            width: 50px;
            position: absolute;
            right: 0;

            background: -webkit-linear-gradient(
                right,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -moz-linear-gradient(
                right,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -ms-linear-gradient(
                right,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: -o-linear-gradient(
                right,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
            background: linear-gradient(
                right,
                rgba(255, 255, 255, 0.8) 30%,
                rgba(255, 255, 255, 0.2) 100%
            );
        }
    }
}

.cmp-anchor__list {
    float: left;
    width: 100%;
    margin: 0;
    padding: $space-xs 0;

    @include mobile {
        columns: 2;
        margin-top: -$space-s;
        padding: 0 0 $space-xs 0;
        &.cmp-anchor-show {
            margin-bottom: 100%;
            float: none;
            display: block;
            text-align: left;
            padding: 1em;
        }
    }

    &-item {
        display: inline-block;
        margin-bottom: 0;
        line-height: 1.8em;
        padding-right: $space-l;

        @include mobile {
            width: 100%;
            float: left;
            padding-right: 0;
            padding-top: $space-s;
        }
    }
}

.cmp-anchor--column-1 {
    .cmp-anchor__list {
        @include mobile {
            columns: 1;
        }

        &-item {
            width: 100%;
        }
    }
}

.cmp-anchor--column-2 {
    .cmp-anchor__list {
        @include mobile {
            columns: 2;
        }

        &-item {
            width: 100%;
        }
    }
}

.cmp-anchor--column-3 {
    .cmp-anchor__list {
        @include mobile {
            columns: 3;
        }

        &-item {
            width: 100%;
        }
    }
}

@include tablet-and-over {
    .hide-scroll-bar {
        overflow-x: hidden;
    }

    .show-scroll-bar {
        overflow-x: auto;
    }
}
