.cmp-banner{
  margin-right: -93px;
  margin-left: -80px;
  @include mobile {
    margin-right: -24px;
    margin-left: -20px;
  }
  @include tablet  {
    margin-right: -52px;
    margin-left: -40px;
  }
}

.cmp-banner--light .cmp-banner{
    margin-bottom: $space-l;
    background: $color-background-light;
}

.cmp-banner--dark .cmp-banner {
    margin-bottom: $space-l;
    background: $color-teal-50;
    p, a, h1, h2, h3, h4, h5, h6 {
            color: $color-font-light;
    }
}

.cmp-banner__parsys{
    padding: $space-xl 0;
}

.cmp-banner__backgroundImage{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}