.cmp-banner {
    margin: $space-l -30% $space-l;
    padding: 0 30%;
    position: relative;
    overflow-y: hidden;
    z-index: $cmp-banner-z-index;

    .container {
        padding: 0;
        margin: 0;
    }

    &__background-image {
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        > div {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;

            @include mobile {
                height: 100%;
            }
        }

        .cmp-image__title {
            display: none;
        }
    }

    &__background-overlay {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    @include mobile {
        margin-top: 0;
    }

    @include tablet {
        margin-top: 0;
    }
}

.is-author .cmp-banner {
    padding-top: 25px;
    float: left;
    width: 100%;

    &__background-image {
        position: relative;
        z-index: 0;
        min-height: 45px;
    }
}

.cmp-banner__parsys {
    padding: $space-xl 0 $space-m 0;
    margin: 0 -14px;

    @include mobile {
        margin: 0 0 0 -4px;
        padding: $space-l 0 $space-s 0;
    }

    @include tablet {
        margin: 0 0 0 -12px;
    }
}

.cmp-banner__backgroundImage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .cmp-image__image {
        opacity: 0;
    }
}

.cmp-banner--light .cmp-banner {
    background: $color-background-light;
}

// Style System

.cmp-banner--accent .cmp-banner {
    background: $color-teal-50;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul li,
    ol li {
        color: $color-font-light;
    }

    .cmp-banner__background-overlay {
        background-color: $color-teal-50;
        opacity: 0.9;
    }

    .cmp-button button,
    .cmp-button a,
    a.cmp-button,
    button.cmp-button {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-font-light;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }

    .cmp-button--secondary button.cmp-button,
    .cmp-button--secondary a.cmp-button,
    a.cmp-button--secondary,
    button.cmp-button--secondaryn {
        color: $color-font-light;
        border: 1px solid $color-white;
        background: none;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }
}

.cmp-banner--blue .cmp-banner {
    background: $color-blue-50;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul li,
    ol li {
        color: $color-font-light;
    }

    .cmp-banner__background-overlay {
        background-color: $color-blue-50;
        opacity: 0.9;
    }

    .cmp-button button,
    .cmp-button a,
    a.cmp-button,
    button.cmp-button {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-font-light;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }

    .cmp-button--secondary button.cmp-button,
    .cmp-button--secondary a.cmp-button,
    a.cmp-button--secondary,
    button.cmp-button--secondaryn {
        color: $color-font-light;
        border: 1px solid $color-white;
        background: none;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }
}

.cmp-banner--dark .cmp-banner {
    background: $color-background-dark;
    p,
    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul li,
    ol li {
        color: $color-font-light;
    }

    .cmp-banner__background-overlay {
        background-color: $color-background-dark;
        opacity: 0.85;
    }

    .cmp-button button,
    .cmp-button a,
    a.cmp-button,
    button.cmp-button {
        background-color: transparent;
        border: 1px solid $color-white;
        color: $color-font-light;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }

    .cmp-button--secondary button.cmp-button,
    .cmp-button--secondary a.cmp-button,
    a.cmp-button--secondary,
    button.cmp-button--secondary {
        color: $color-font-light;
        border: 1px solid $color-white;
        background: none;

        &:hover {
            color: $color-gray-20;
            border: 1px solid $color-gray-20;
            background: none;
        }
        &:active {
            color: $color-font-light;
            border: 1px solid $color-white;
            background: none;
        }
    }
}

.cmp-banner--light .cmp-banner {
    background: $color-background-light;

    .cmp-banner__background-overlay {
        background-color: $color-background-light;
        opacity: 0.95;
    }
}

.cmp-banner--header .cmp-banner {
    margin-top: -$space-l;

    @include mobile {
         margin-top: 0;
    }
}
.cmp-banner--left .cmp-banner {
    padding-right: 80%;

    @include tablet {
        padding-right: 50%;
        padding-left: 31%;
    }

    @include mobile {
        margin-top: 0;
        padding-right: 30%;
        overflow-x: hidden;
    }

    .cmp-banner__parsys {
        padding: $space-xl 0 ($space-xl + $space-xxs 0);
        margin: 0 $space-xl;

        .cmp-title__text div {
            text-align: left;
        }

        @include mobile {
            margin: 0;
            padding: $space-l 0;
        }
    }

    .cmp-banner__background-overlay {
        width: 31%;
        left: auto;

        @include tablet {
            width: 50%;
            left: 19%
        }

        @include mobile {
            width: 100%;
            left: 12%;
            height: 100%;
            top: 0;
        }
    }

    .cmp-button button,
    .cmp-button a,
    a.cmp-button,
    button.cmp-button {
        margin-bottom: 0;
    }

    .cmp-button--secondary button.cmp-button,
    .cmp-button--secondary a.cmp-button,
    a.cmp-button--secondary,
    button.cmp-button--secondary {
        margin-bottom: 0;
    }
}

.cmp-banner--search .cmp-banner {
    margin-bottom: $space-s;

    @include tablet-and-under {
        margin-bottom: $space-l;
    }
}
