.breadcrumb {
    white-space: nowrap;
    @include mobile {
        overflow-y: hidden;
        overflow-x: scroll;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.cmp-breadcrumb {
    display: inline;
    position: relative;

    &__list {
        @include mobile {
            display: block;
            margin: 0 0 $space-l 0;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 1;
        padding-left: 0;
        list-style: none;
        overflow-y: hidden;
        margin: $space-xxs 0 ($space-l + .5em) 0;

        & .fader-container {
            z-index: 1;

            &--right {
                @include mobile {
                    right: -0.2em !important;
                }
            }
        }
    }

    &__item {
        display: inline;
        position: relative;
        margin-bottom: $space-xxxs;

        @include mobile {
            padding-right: $space-m;
        }
        span {
            white-space: normal;
            line-height: $line-height-text;
            @include mobile {
                white-space: nowrap;
            }
        }
        &:after {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%234f5b64;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='8.8,20.5 17.2,12 8.8,3.5 '/%3E%3C/svg%3E%0A");
            display: block;
            float: right;
            width: $icon-s;
            height: $icon-s;
            margin-top: 6px;
            padding: 0 0.25em;
            @include mobile {
                padding: 0 .5em;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &:nth-child(2) {
            padding-left: 0;
        }

        &:last-of-type {
            &:after {
                display: none;
           }
        }
    }

    &--disable {
        display: none;
    }

    @include mobile {
        vertical-align: top;
        display: inline-block;
        margin-top: $space-m;
        width: 100%;
        overflow: hidden;
    }
}

.cmp-breadcrumb-search {
    display: inline-block;
    margin-top: ($space-xxxs + 0.05em);

    &--disable {
        display: none;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.cmp-breadcrumb-search a.cmp-breadcrumb-search__link {
    background-color: $color-white;
    color: $color-link;
    padding-right: $space-xs;
    float: unset;
    svg {
        margin-top: -3px;
    }
    span {
        border-right: 1px solid $color-border-light;
        padding-right: $space-xs;
    }

    &:hover {
        color: $color-link-hover;
        background-color: $color-white;
    }
}
