.breadcrumb {
    white-space: nowrap;
    @include mobile {
        overflow-y: hidden;
        overflow-x: scroll;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.cmp-breadcrumb {
    display: inline-block;

    &__list {
        display: block;
        padding-left: 0;
        list-style: none;
        position: relative;
        margin: $space-s 0 $space-xl 0;
    }

    &__item {
        display: inline;
        padding-left: ($space-s + 0.35em);
        position: relative;

        &:before {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%234f5b64;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='8.8,20.5 17.2,12 8.8,3.5 '/%3E%3C/svg%3E%0A");
            display: block;
            left: 0;
            top: 2px;
            position: absolute;
            width: $icon-s;
            height: $icon-s;
        }

        &:first-of-type {
            padding-left: 0;

            &:before {
                display: none;
            }
        }
    }

    &--disable {
        display: none;
    }

    @include mobile {
        vertical-align: top;
        padding-top: $space-xs;
    }
}

.cmp-breadcrumb-search {
    display: inline-block;
    margin: $space-s 0 $space-xl 0;
    &--disable {
        display: none;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.cmp-breadcrumb-search a.cmp-breadcrumb-search__link {
    background-color: $color-white;
    color: $color-link;
    padding-right: $space-xs;

    span {
        border-right: 1px solid $color-border-light;
        padding-right: $space-xs;
    }

    &:hover {
        color: $color-link-hover;
        background-color: $color-white;
    }
}

.rhs-gradient-fade {
    position: relative;
}
.rhs-gradient-fade:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: -webkit-linear-gradient(
        right,
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 0.2) 100%
    );
    background: -moz-linear-gradient(
        right,
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 0.2) 100%
    );
    background: -ms-linear-gradient(
        right,
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 0.2) 100%
    );
    background: -o-linear-gradient(
        right,
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 0.2) 100%
    );
    background: linear-gradient(
        right,
        rgba(255, 255, 255, 0.8) 30%,
        rgba(255, 255, 255, 0.2) 100%
    );
}
