.breadcrumb {
    white-space: nowrap;
    @include mobile {
        overflow-y: hidden;
        overflow-x: scroll;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.cmp-breadcrumb {
    display: inline;

    &__list {
        @include mobile {
            display: block;
            margin: $space-s 0 $space-s 0;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 1;
        padding-left: 0;
        list-style: none;
        position: relative;
        margin: 0 0 $space-l 0;
    }

    &__item {
        display: inline;
        position: relative;
        @include mobile {
            padding-left: 1.35em;
        }
        span {
            white-space: normal;
            line-height: $line-height-text;
            @include mobile {
                white-space: nowrap;
            }
        }
        &:after {
            content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%234f5b64;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='8.8,20.5 17.2,12 8.8,3.5 '/%3E%3C/svg%3E%0A");
            display: block;
            float: right;
            width: $icon-s;
            height: $icon-s;
            margin-top: 6px;
            padding: 0 0.25em;
            @include mobile {
                right: -17px;
                position: absolute;
                top: 0;
            }
        }

        &:nth-child(2) {
            padding-left: 0;
         }

        &:last-of-type {
            &:after {
                display: none;
            }
        }
    }

    &--disable {
        display: none;
    }

    @include mobile {
        vertical-align: top;
        display: inline-block;
    }


    &-gradient-left {
        @include mobile {
            height: 50px;
            width: 50px;
            z-index: 2;
            position: absolute;
            top: 0px;
            right: 0;

            background: -webkit-linear-gradient(right, rgba(255,255,255,0.8) 30%,rgba(255,255,255,0.2) 100%);
            background:    -moz-linear-gradient(right, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.2) 100%);
            background:     -ms-linear-gradient(right, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.2) 100%);
            background:      -o-linear-gradient(right, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.2) 100%);
            background:         linear-gradient(right, rgba(255,255,255,0.8) 30%, rgba(255,255,255,0.2) 100%);
        }
    }

    &-gradient-right {
        @include mobile {
             width: 50px;
             height: 50px;
             z-index: 1;
             position: absolute;
             left: -4px;

            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.2) 100%);
            background:    -moz-linear-gradient(left, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.2) 100%);
            background:     -ms-linear-gradient(left, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.2) 100%);
            background:      -o-linear-gradient(left, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.2) 100%);
            background:         linear-gradient(left, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0.2) 100%);
            }
        }
}

.cmp-breadcrumb-search {
    display: inline-block;
    &--disable {
        display: none;
    }

    @include mobile {
        margin-bottom: 0;
    }
}

.cmp-breadcrumb-search a.cmp-breadcrumb-search__link {
    background-color: $color-white;
    color: $color-link;
    padding-right: $space-xs;
    float: unset;
    svg {
        margin-top: -3px;
    }
    span {
        border-right: 1px solid $color-border-light;
        padding-right: $space-xs;
    }

    &:hover {
        color: $color-link-hover;
        background-color: $color-white;
    }
}
