.cmp-search__categories-tabs {
    height: 65px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: -3em;
    margin-top: 2em;

    @include mobile {
       margin-top: 0;
    }

    &.fader-fade {
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.fader-fade--right {
            scrollbar-width: thin;
            -ms-overflow-style: scrollbar;
            &::-webkit-scrollbar {
                display: block;
            }
        }

        &.fader-fade--left {
            scrollbar-width: thin;
            -ms-overflow-style: scrollbar;
            &::-webkit-scrollbar {
                display: block;
            }
        }
    }

    &-container {
        position: relative;
        width: 100%;
    }

    & .fader-container {
        height: 100%;
        margin-top: 0;

        &--right {
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
        }

        &--left {
            background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }

    &--tab {
        padding: 0.5625em $space-s;
        border: 1px solid $color-border-light;
        border-left: none;
        display: inline-block;
        font-size: $font-size-body;
        color: $color-font-medium;
        background-color: $color-white;
        font-weight: $font-weight-light;

        &:hover {
            cursor: pointer;
            color: $color-link-hover;
        }

        &.active{
            border-bottom: none;
            border-top: 3px solid $color-icon;
            padding-top: 0.4375em;
            padding-bottom: 0.625em;

            & .cmp-search__categories-tabs--tab-name {
                color: $color-font-dark;
                font-weight: $font-weight-bold;
            }

            &:hover {
                cursor: default;
                color: $color-font-dark;
            }
        }
    }

    & > .cmp-search__categories-tabs--tab {
        border-left: 1px solid $color-border-light;

        &::before {
            content: '';
            border-bottom: 1px solid #c6cdd2;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 43px;
            left: 0;
            z-index: -1;
        }

        & ~ .cmp-search__categories-tabs--tab {
            border-left: none;

            &::before {
                content: none;
                border-bottom: none;
                height: 0;
                width: 0;
                position: static;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
        }
    }

}
