.categories-type-menu-container {
    margin-top: $space-xl;

    @include tablet-and-under {
        margin-top: $space-l;
    }
}

.categories-type-menu-container__heading {
    display: flex;
    flex-flow: wrap;

    .back-btn {
        display: flex;
        flex-flow: wrap;
        width: 100%;
        padding-bottom: $space-s;
        
        a {
            div{
                display: inline-block;
            }

            &:hover,
            &:focus {
                color: $color-link-hover;
                text-decoration: none;
            }
        }
    }

    svg {
        position: relative;
        top: 3px;
        width: $icon-s;
        height: $icon-s;

        .st0 {
            stroke: $color-icon;
        }
    }


}

.filter-active {
    @include mobile {
        .bread-crumb {
            display: none;
        }
    }
}

.categories-type-menu-container__item {
    display: flex;
    margin-bottom: $space-s;
    cursor: pointer;

    a {
        @include font-utility;
        line-height: 0;
        color:$color-link;
    }

    div:nth-child(2) {
        padding-left: $space-xxxs;
        a {
            color: $color-icon;
        }
    }

    &:hover,
    &:focus {
        a {
            color: $color-link-hover;
            text-decoration: none;
        }
    }
}
