.cmp-chat {
    background: #f4f6f7;
    padding: 40px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    margin-bottom: $space-m;

    &__icon {
        svg {
            height: $icon-xl;
            width: $icon-xl;
            .st0,
            .st1 {
                stroke-width: 0.5px;
                stroke: $color-icon;
            }
        }
    }

    &__text {
        @include font-h3;
        margin: $space-xs 0 $space-m 0;
    }

    a.cmp-button {
        float: none;
        margin: 0 0 $space-xxxs 0;
        &--disabled {
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &__status {
        display: flex;
        justify-content: center;
        margin: $space-s 0;
        width: 100%;

        svg {
            height: $icon-s;
            width: $icon-s;
        }

        &-text {
            line-height: $line-height-heading;
        }

        &-icon {
            line-height: $line-height-text;
            margin: 0 0.35em 0 0;

            &.online {
                svg {
                    fill: $color-success;

                    .st0,
                    .st1 {
                        stroke: $color-success;
                        stroke-width: 2px;
                    }
                }
            }
            &.offline {
                svg {
                    fill: $color-error;
                    .st0,
                    .st1 {
                        stroke: $color-error;
                        stroke-width: 2px;
                    }
                }
            }
        }
    }
}
