.cmp-container--full-width {
    .cmp-container {
        margin: $space-l -30% $space-xl;
        padding: 0 30%;

        @include large-desktop {
            margin: $space-l -50% $space-xl;
            padding: 0 50%;  
        }
    
        @include extra-large-desktop {
            margin: $space-l -80% $space-xl;
            padding: 0 80%; 
        }
    }

    .cmp-container__wrapper, &.cmp-container--left .cmp-container__background-overlay {
        margin-left: -66px;
        margin-right: 66px;

        @include mobile {
            margin: 0;
        }

        @include tablet {
            margin-left: -28px;
            margin-right: 28px;
        }
    }
}

:not(.container--default):not(.cmp-container--full-width) {
   & > .cmp-container {
        margin: 0 -66px;

        @include mobile {
            margin: 0 -16px;
        }

        @include tablet {
            margin: 0 -28px;
        }
    }
}
.cmp-container {
    position: relative;
    overflow-y: hidden;
    z-index: $cmp-container-z-index;
    
    &__background-image {
        position: absolute;
        z-index: -2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        > div {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        img {
            width: 100%;
            object-fit: cover;
            height: 100%;

            @include mobile {
                height: 100%;
            }
        }

        .cmp-image__title {
            display: none;
        }
    }

    &__background-overlay {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.cmp-container__wrapper {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
    
    @include mobile {
        padding-top: $space-l;
        padding-bottom: $space-s;
    }
}

// Style System

.cmp-container--accent .cmp-container {
    .cmp-container__background-overlay {
        background-color: $color-teal-50;
    }
}

.cmp-container--blue .cmp-container {
    .cmp-container__background-overlay {
        background-color: $color-blue-50;
    }
}

.cmp-container--dark .cmp-container {
    .cmp-container__background-overlay {
        background-color: $color-background-dark;
    }
}

.cmp-container--light .cmp-container {
    .cmp-container__background-overlay {
        background-color: $color-background-light;
    }
}

// Position - Header
.cmp-container--header .cmp-container {
    margin-top: -$space-l;

    @include mobile {
         margin-top: 0;
    }
}

// Left
.cmp-container--left .cmp-container {
    padding-right: 80%;

    @include tablet {
        padding-right: 50%;
        padding-left: 31%;
    }

    @include mobile {
        margin-top: 0;
        padding-right: 30%;
        overflow-x: hidden;
    }

    @include large-desktop {
        padding-right: 100%;
    }

    @include extra-large-desktop {
        padding-right: 130%;
    }

    .cmp-container__wrapper {
        padding: $space-xl $space-xl ($space-xl + $space-xxs) $space-xl;

        .cmp-title__text div {
            text-align: left;
        }

        @include mobile {
            padding: $space-l 0;
        }
    }

    .cmp-container__background-overlay {
        width: 31%;
        left: auto;

        @include tablet {
            width: 50%;
            left: 19%
        }

        @include mobile {
            width: 100%;
            left: 12%;
            height: 100%;
            top: 0;
        }

        @include large-desktop {
            width: 25%;
        }

        @include extra-large-desktop {
            width: 19%;
        }
    }
}

// Overlay - Opacity
.cmp-container--0 .cmp-container {
    .cmp-container__background-overlay {
       opacity: .0;
   }
}

.cmp-container--30 .cmp-container {
     .cmp-container__background-overlay {
        opacity: .3;
    }
}

.cmp-container--50 .cmp-container {
    .cmp-container__background-overlay {
        opacity: .5;
    }
}

.cmp-container--70 .cmp-container {
    .cmp-container__background-overlay {
        opacity: .7;
    }
}

.cmp-container--90 .cmp-container {
    .cmp-container__background-overlay {
        opacity: .9;
    }
}

//Spacing - Padding

.cmp-container--full-width {
    &.cmp-container--xlargePadding .cmp-container {
        .cmp-container__wrapper {
            padding-top: $space-xxl;
            padding-bottom: $space-xxl;
        }
    }
    &.cmp-container--largePadding .cmp-container {
        .cmp-container__wrapper {
            padding-top: $space-xl;
            padding-bottom: $space-xl;
        }
    }

    &.cmp-container--mediumPadding .cmp-container {
        .cmp-container__wrapper {
            padding-top: $space-l;
            padding-bottom: $space-l;
        }
    }

    &.cmp-container--smallPadding .cmp-container {
        .cmp-container__wrapper {
            padding-top: $space-m;
            padding-bottom: $space-m;
        }
    }

    &.cmp-container--xSmallPadding .cmp-container {
        .cmp-container__wrapper {
            padding-top: $space-s;
            padding-bottom: $space-s;
        }
    }
}
:not(.cmp-container--full-width) {
    &.cmp-container--xlargePadding .cmp-container {
        .cmp-container__wrapper {
            padding: $space-xxl;
        }
    }
    &.cmp-container--largePadding .cmp-container {
        .cmp-container__wrapper {
            padding: $space-xl;
        }
    }

    &.cmp-container--mediumPadding .cmp-container {
        .cmp-container__wrapper {
            padding: $space-l;
        }
    }

    &.cmp-container--smallPadding .cmp-container {
        .cmp-container__wrapper {
            padding: $space-m;
        }
    }

    &.cmp-container--xSmallPadding .cmp-container {
        .cmp-container__wrapper {
            padding: $space-s;
        }
    }
}

.cmp-container--position0 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 0%;
    }
}

.cmp-container--position10 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 10%;
    }
}

.cmp-container--position20 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 20%;
    }
}

.cmp-container--position30 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 30%;
    }
}

.cmp-container--position40 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 40%;
    }
}

.cmp-container--position50 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 50%;
    }
}

.cmp-container--position60 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 60%;
    }
}

.cmp-container--position70 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 70%;
    }
}

.cmp-container--position80 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 80%;
    }
}

.cmp-container--position90 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 90%;
    }
}

.cmp-container--position100 .cmp-container {
    .cmp-container__background-image img {
        object-position: 0 100%;
    }
}

// Default height
.cmp-container--smallHeight .cmp-container {
    min-height: 12em;

    @include mobile {
        min-height: auto;
    }
}

.cmp-container--mediumHeight .cmp-container {
    min-height: 16em;

    @include mobile {
        min-height: auto;
    }
}

.cmp-container--largeHeight .cmp-container {
    min-height: 20em;

    @include mobile {
        min-height: auto;
    }
}

.cmp-container--xlargeHeight .cmp-container {
    min-height: 24em;

    @include mobile {
        min-height: auto;
    }
}