.delivery-status {
    @include font-h3;   
    text-align: right;
    margin-bottom: $space-xxs;

    @include mobile {  
        text-align: left;
    } 

    &.disabled {
        color: $color-disabled;
        cursor: default;
        svg .st0 {
                stroke: $color-disabled;
        }
    }

    .delivery-icon {
        display: inline-block;  
        line-height: $icon-m; 

        svg {
            height: $icon-m;
            width: $icon-m;
            .st0,
            .st1 {
                stroke-width: 1.0px;
                stroke: $color-icon;
            }
        }
        margin-right: $space-xxs;
    }

    .delivery-icon-complete {
        display: inline-block;  
        line-height: $icon-m; 
        
        svg {
            height: $icon-m;
            width: $icon-m;
            .st0,
            .st1 {
                stroke-width: 1.5px;
                stroke: $color-success;
            }
        }
        margin-right: $space-xxs;
    }

    .delivery-icon-disabled {
        display: inline-block;  
        line-height: $icon-m; 
        
        svg {
            height: $icon-m;
            width: $icon-m;
            .st0,
            .st1 {
                stroke-width: 1.5px;
                stroke: $color-disabled;
            }
        }
        margin-right: $space-xxs;
    }

    .rejected-icon{
        display: inline-block;  
        line-height: $icon-m; 
        
        svg {
            height: $icon-m;
            width: $icon-m;
            .st0,
            .st1 {
                stroke-width: 1.5px;
                stroke: $color-red-50;
            }
        }
        margin-right: $space-xxs;
    }

    .pending-icon {
        display: inline-block;  
        line-height: $icon-m; 
        
        svg {
            height: $icon-m;
            width: $icon-m;
            .st0,
            .st1, g {
                stroke-width: 1px;
                stroke: $color-icon;
            }
        }
        margin-right: $space-xxs;
    }

    .delivery-text {
        display: inline-block; 
        vertical-align: top;
        line-height: $icon-m; 
    }
    .tracking-link {
        @include font-body;
        margin: 0;
        color: $color-link;

        .tracking-link__icon {
            display: inline-block;
            svg {
                height: ($icon-m - $space-xxxs);
                width: ($icon-m - $space-xxxs);
                margin-left: $space-xxxs;
                margin-bottom: -4px;
                .st0,
                .st1 {
                    stroke: $color-link;
                }
            }
        }
    }
    
    .tracking-link:hover {
        .tracking-link__icon {
            svg {
                .st0,
                .st1 {
                    stroke: $color-link-hover;
                }
            }
        }
    }
}