.cmp-detail-tiles {
    margin-bottom: $space-xl;

    &--add {
        display: inline-block;
        cursor: pointer;
        color: $color-link;

        div {
            display: inline-block;
            position: relative;
            top: 1px;

            svg {
                circle, line {
                    stroke: $color-link;
                }
            }
        }

        &:hover {
            color: $color-link-hover;

            svg {
                circle, line {
                    stroke: $color-link-hover!important;
                }
            }
        }
    }

    &--title {
        @include font-h2;
        margin-bottom: $space-xs;
    }

    &-list {
        &--tile {
            display: block;
            background-color: $color-background-light;
            padding: $space-xs;
            margin-bottom: $space-s;
            position: relative;

            &-edit {
                cursor: pointer;
                position: absolute;
                top: ($space-xs + $space-xxs);
                right: ($space-s + $space-xs);
                color: $color-link;

                div {
                    display: inline-block;
                    position: relative;
                    top: 1px;

                    svg {
                        color: $color-link;
                        path {
                            stroke: $color-link;
                        }
                    }

                }

                &:hover {
                    color: $color-link-hover;

                    svg {
                        color: $color-link-hover;

                        path {
                            stroke: $color-link-hover!important;
                        }
                    }
                }
            }

            &-column {
                display: inline-block;
                padding: $space-xxs $space-xxl $space-xxs $space-s;

                &--title {
                    @include font-h4;
                }

                &--text {
                    @include font-body;
                    margin-bottom: 0;
                }
            }

            &-notification-wrapper {
                display: block;
            }

            &-notification {
                display: inline-block;
                margin: $space-xxs $space-s;
                background: $color-red-10;
                border: 1px solid $color-red-20;
                padding: $space-xxs;
                padding-top: $space-xxxs;

                &--icon {
                    display: inline-block;
                    margin-right: $space-xxs;

                    div {
                        display: inline-block;

                        svg {
                            position: relative;
                            top: $space-xxxs;
                        }
                    }
                }

                &--title {
                    display: inline-block;
                    margin-right: $space-xxs;
                }

                &--description {
                    display: inline-block;
                }
            }

            &.form-shown {
                display: none;
            }
        }

        &--form {
            display: block;

            &-message {
                margin: $space-l 0;
            }

            .cmp-form {
                float: none;

                .cmp-form-field {
                    float: none;
                }

                .cmp-button {
                    float: none;
                }
            }

            &.hidden {
                display: none;
            }
        }
    }
}

#personal-details-tile {
    .cmp-detail-tiles-list--tile-column {
        &--title {
            @include font-h1;
            margin-bottom: $space-xxxs;
        }
    }
}

#changePassword-details-tile {
    .cmp-detail-tiles-list--tile-column {
        &--title {
            @include font-h2;
            margin-bottom: 0;
        }
    }
}