.cmp-detail-tiles {
    margin-bottom: $space-s;
    float: left;
    width: 100%;

    &--add {
        display: inline-flex;
        cursor: pointer;

        &-title {
            @include font-body;
            display: inline-block;
            color: $color-link;
        }

        &-icon {
            display: inline-block;
            height: $icon-s;
            width: $icon-s;
            margin-right: $space-xxxs;

            svg {
                stroke-width: 1.5px;
                position: relative;
                top: 2px;
                height: $icon-s;
                width: $icon-s;

                circle,
                line {
                    stroke: $color-link;
                }
            }
        }

        &:hover {
            .cmp-detail-tiles--add {
                &-title {
                    color: $color-link-hover;
                    text-decoration: underline;
                }

                &-icon {
                    svg {
                        circle,
                        line {
                            stroke: $color-link-hover !important;
                        }
                    }
                }
            }
        }
    }

    &--title {
        @include font-h2;
        margin-bottom: $space-xs;
    }

    &-list {
        &--tile {
            display: block;
            background-color: $color-background-light;
            padding: $space-m;
            margin-bottom: $space-s;
            position: relative;
            float: left;
            width: 100%;

            &-edit {
                display: inline-flex;
                cursor: pointer;
                position: absolute;
                top: $space-s;
                right: $space-m;

                @include mobile {
                    top: $space-s;
                }

                &--title {
                    @include font-body;
                    color: $color-link;
                }

                &--icon {
                    height: $icon-s;
                    width: $icon-s;
                    margin-right: $space-xxxs;

                    div {
                        height: $icon-s;
                        width: $icon-s;
                        display: inline-block;
                        position: relative;
                        top: 1px;

                        svg {
                            stroke-width: 1.5px;
                            height: $icon-s;
                            width: $icon-s;
                            color: $color-link;

                            path {
                                stroke: $color-link;
                            }
                        }
                    }
                }

                &:hover {
                    .cmp-detail-tiles-list--tile-edit {
                        &--title {
                            color: $color-link-hover;
                            text-decoration: underline;
                        }

                        &--icon {
                            svg {
                                color: $color-link-hover;

                                path {
                                    stroke: $color-link-hover !important;
                                }
                            }
                        }
                    }
                }
            }

            &-column {
                display: inline-block;
                padding-right: $space-xl;
                margin-bottom: 0;

                @include mobile {
                    padding-right: 0;
                    width: 100%;
                }

                &--title {
                    @include font-h4;
                }

                &--text {
                    @include font-body;
                    margin-bottom: 0;

                    &.communications {
                        margin-top: $space-xs;
                        @include font-small;
                    }
                }
            }

            &-notification-wrapper {
                display: block;                
                padding-bottom: $space-xs;
            }

            &-notification {
                display: inline-flex;
                background: $color-red-10;
                border: 1px solid $color-red-20;
                padding: $space-xxs;
                border-radius: 4px;
                width: 100%;

                &--icon {
                    display: inline-block;
                    margin-right: $space-xxs;
                    height: $icon-m;
                    width: $icon-m;

                    div {
                        display: inline-block;
                        height: $icon-m;
                        width: $icon-m;

                        svg {
                            height: $icon-m;
                            width: $icon-m;

                            .st0 {
                                stroke: $color-error;
                            }
                        }
                    }
                }

                &--title {
                    @include font-h4;
                    display: inline-block;
                    margin-bottom: 0;
                    margin-right: $space-xxxs;
                }

                &--description {
                    @include font-body;
                    margin-bottom: 0;
                    display: inline-block;
                }
            }

            &.form-shown {
                display: none;
            }

            &.no-address {
                padding: ($space-l + $space-xxs) $space-l $space-m $space-l;
                text-align: center;
                border: $border-empty;
                background-color: transparent;
                @include font-body;

                .cmp-detail-tiles-list--tile-noAddress--title {
                    padding-bottom: $space-xs;

                    @include mobile {
                        padding-bottom: $space-s;
                    }
                }
            }
        }

        &--form {
            display: block;

            &-message {
                margin: $space-l 0;
            }

            .cmp-form {
                float: none;

                @include tablet-and-over {
                    width: 62.5%;
                }

                .cmp-form-field {
                    float: none;
                }

                .cmp-button {
                    float: none;
                }
            }
        }
    }
}

#personal-details-tile {
    .cmp-detail-tiles-list--tile-column {
        width: 60%;
        display: block;
        float: left;

        &.column-0 {
            width: 40%;
            display: block;
            float: left;
        }

        @include tablet {
            width: 50%;

            &.column-0 {
                width: 50%;
            }
        }

        @include mobile {
            width: 100%;

            &.column-0 {
                width: 100%;
            }
        }

        &--title {
            @include font-h3;
            @include linewrap;
            margin-bottom: $space-xxxs;
        }

        &--text {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -ms-word-break: break-all;
            word-break: break-all;
            word-break: break-word;
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    }
    .cmp-detail-tiles--title {
        @include font-h2;
        margin-bottom: $space-xs;
    }
    .cmp-detail-tiles-list--form-message {
        @include font-body;
        margin-bottom: $space-m;
    }
}

#changePassword-details-tile {
    .cmp-detail-tiles-list--tile-column {
        margin-bottom: 0;
        &--title {
            @include font-h2;
            margin-bottom: 0;
        }
    }
    .cmp-detail-tiles-list {
        width: 100%;
    } 
}

#my-account {
    .cmp-my-account__aside-content {
       // IE 11 Fix
       @media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            width: calc(100vw - 37em);
            max-width: 885px;
            @include tablet-and-under {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}