// Horizontal Rules
hr,
.cmp-horizontal-rule hr {
    margin: $space-xl 0;
    background-color: $color-border-medium;
    border: none;
    height: 1px;

    @include mobile {
        width: 200%;
        margin-left: -25%;
    }
}

// Accent Rules
.cmp-accent-rule hr {
    margin: 0 0 $space-m 0;
    width: 100%;
    background-color: $color-accent;
    height: 4px;
    border: none;

    @include mobile {
        width: 100%;
        margin: 0 0 $space-s 0;
    }
}

hr.small-accent-rule {
    margin: 0 0 $space-xs 0;
    width: 5em;
    background-color: $color-accent;
    height: 4px;
    border: none;
    text-align: left;
}


// Spacers
.cmp-spacer--xxs hr {
    margin: 0;
    background-color: transparent;
    height: $space-xxs;
    border: none;
    }
.cmp-spacer--xs hr {
    margin: 0;
    background-color: transparent;
    height: $space-xs;
    border: none;
    }
.cmp-spacer--s hr {
    margin: 0;
    background-color: transparent;
    height: $space-s;
    border: none;
    }

.cmp-spacer--m hr {
    margin: 0;
    background-color: transparent;
    height: $space-m;
    border: none;
    }

.cmp-spacer--l hr {
    margin: 0;
    background-color: transparent;
    height: $space-l;
    border: none;
    }
.cmp-spacer--xl hr {
    margin: 0;
    background-color: transparent;
    height: $space-xl;
    border: none;
    }
.cmp-spacer--xxl hr {
    margin: 0;
    background-color: transparent;
    height: $space-xxl;
    border: none;
    }

// Vertical Dividers
.vert-divider-s {
    border-left: $border-divider-small;
    height: 1em; 
    margin: 0 $space-xxs;
}

.vert-divider-l {
    border-left: $border-divider-large;
    height: $height-medium; 
    margin: 0 $space-xs;
}

.h-small {
    border-top: $border-divider-small;
  }
  .h-large {
    border-top: $border-divider-large;
  }
  
  .v-small {
    border-left: $border-divider-small;
    height: 1em;
    margin: 0 $space-xxs;
  }
  .v-large {
    border-left: $border-divider-large;
    height: $height-medium;
    margin: 0 $space-xs;
  }
  
  .h-accent {
    border-top: 4px solid $color-accent;
  }