.cmp-external-list {

    @include font-body;
    &__title {
        @include font-h3;
    }

    &__parsys {
        .image{
            padding: 0px;
            margin: 0px;
        }
        img {
            border: 1px solid $color-border-light;
        }
    }

    &__link {
        a {
            @include font-h3;
        }
    }

}

.cmp-external-list--horizontal {

    .cmp-external-list {
        @include font-body;
        &__title {
            @include font-h3;
        }
    
        &__parsys {
            float: left;
            .image{
                padding: 0px;
                margin: 0px;
                @include tablet-and-over {
                    width: 192px;
                    margin-right: $space-s;
                }
            }
            img {
                border: 1px solid $color-border-light;

                @include tablet-and-over {
                    width: 192px;
                }
            }
        }
    
        &__link {
            a {
                @include font-h3;
                line-height: 0.7em;
                vertical-align: top;
            }
        }
    
        &__description {
            @include tablet-and-over {
                display: block;
                overflow: hidden;
            }
        }
    }
}