.cmp-external-list {
    margin-bottom: $space-l;

    @include font-body;
    &__title {
        @include font-h3;
        margin-bottom: $space-xs;
    }

    &__parsys {
        .image {
            padding: 0px;
            margin: 0px;
        }
        img {
            border: $border-medium;
        }
    }

    &__link {
        @include font-h3;
    }
    @include mobile {
        margin-bottom: $space-m;
    }
}

.cmp-external-list--noPadding .cmp-external-list {
    margin-bottom: 0;
}

.cmp-external-list--horizontal {
    .cmp-external-list {
        &__title {
            @include font-h3;
        }

        &__parsys {
            float: left;
            .image {
                padding: 0px;
                margin: 0px;
                @include tablet-and-over {
                    width: 192px;
                    margin-right: $space-s;
                }
            }
            img {
                border: $border-medium;

                @include tablet-and-over {
                    width: 192px;
                }
            }
        }

        &__link {
            a {
                vertical-align: top;
            }
        }

        &__description {
            @include font-body;
            @include tablet-and-over {
                display: block;
                overflow: hidden;
            }
        }

        margin-bottom: $space-xxl;
        
        @include tablet-and-under {
            margin-bottom: $space-m;
        }
    }
}

.cmp-external-list--reverse .cmp-external-list {
    color: $color-font-light;
    &__title {
        color: $color-font-light;
    }

    &__description {
        color: $color-font-light;
    }

    &__parsys {
        img {
            border: $border-light;
        }
    }

    &__link {
        a {
            color: $color-gray-20;

            &:hover {
                color: $color-font-light;
            }
        }
        
    }    

    .cmp-links__external-link--true::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='16' height='16' viewBox='0 0 24 24' stroke='%23E3E6E9' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
        width: 24px;
        height: 15px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: $space-xxxs;
        transition: $hover-transition;
    }
    
    .cmp-links__external-link--true:hover::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
        width: 24px;
        height: 15px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: $space-xxxs;
    }
}