.cmp-external-footer {
    background-color: $color-gray-50;
    padding: $space-m 0 11em 0;
    margin-top: $space-xl;
    overflow: hidden;
    width: 100%;

    a {
        color: $color-font-light;
    }
}

.cmp-external-footer__logo {
    width: 115px;
    float: left;
    margin-right: $space-xl;
    margin-top: $space-xs;

    a {
        float: left;
        width: 115px;
        display: block;
    }

    img {
        height: 32px;
        max-width: 115px;
    }

    @include mobile {
        width: 100%;
    }
}

.cmp-external-footer__links {
    width: calc(100% - 165px);
    float: right;
    text-align: right;
    margin-top: 0.5em;
    a {
        margin-left: $space-l;
        display: inline;
        line-height: 2.5em;
        transition: all 0.25s ease;

        &:hover {
            text-decoration: underline;
            color: $color-font-light;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }

    @media (max-width: 860px) {
        width: 100%;

        a {
            display: block;
            float: left;
            width: 50%;
            margin-left: 0;
            text-align: left;
        }
    }
}

.cmp-external-footer__copyright {
    float: right;
    margin-top: $space-l;

    p {
        @include font-small;
        color: $color-font-light;
    }

    @include tablet {
        margin-top: $space-l;
    }

    @include mobile {
        float: left;
        margin-top: $space-l;
    }
}

.cmp-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    height: 2.75em;
    width: 2.75em;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: $color-font-dark;
    cursor: pointer;
    display: block;
    opacity: 0;
    border: 1px solid $color-border-light;
    padding-top: 9px;
    box-shadow: $shadow;
    transition: opacity 0.5s ease;

    svg {
        width: $icon-m;
        height: 24px;

        .st0 {
            stroke: $color-gray-50;
        }
    }

    &:hover {
        border: 1px solid $color-border-dark;

        svg {
            .st0 {
                stroke: $color-link-hover;
            }
        }
    }

    &:active {
        border: 1px solid $color-border-light;
        svg {
            .st0 {
                stroke: $color-gray-50;
            }
        }
    }

    &:disabled {
        border: 1px solid $color-disabled;

        svg {
            .st0 {
                stroke: $color-disabled;
            }
        }
    }

    &.cmp-back-to-top-show {
        opacity: 1;
    }

    &.cmp-back-to-top-affix {
        position: relative;
        float: right;
        bottom: 20px;
    }
}
