.fader-fade {
    white-space: nowrap;
    overflow-x: scroll;

    & .fader-container {
        height: 100%;
        width: 150px;
        position: absolute;
        top: 0;
        visibility: hidden;

        &--left {
            left: 0;
            background: -webkit-linear-gradient(left,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2));
            background: -moz-linear-gradient(left,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: -ms-linear-gradient(left,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: -o-linear-gradient(left,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: linear-gradient(left,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2));
        }
        
        &--right {
            right: 0;
            background: -webkit-linear-gradient(right,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2));
            background: -moz-linear-gradient(right,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: -ms-linear-gradient(right,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: -o-linear-gradient(right,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2) 100%);
            background: linear-gradient(right,hsla(0,0%,100%,.8) 30%,hsla(0,0%,100%,.2));
        }
    }

    &--left .fader-container {
        &--left {
            visibility: visible;
        }
    }

    &--right .fader-container {
        &--right {
            visibility: visible;
        }
    }
}