.cmp-features {
    &__list {
        padding-left: 0;
    }

    &__feature {
        list-style: none;
        margin-bottom: $space-s;

        &-icon {
            height: $icon-l;
            width: $icon-l;
            margin-bottom: $space-xxs;
            color: $color-icon;

            .st0 {
                stroke: $color-icon;
                stroke-width: 0.75px;
            }

            .st1 {
                stroke: $color-icon;
                stroke-width: 0.75px;
            }
        }

        &-title {
            @include font-h3;
            margin-bottom: 0;
        }

        &-desc {
            @include font-body;
            margin-bottom: $space-s;
        }

        &-link {
            @include font-body;
            color: $color-link;
        }
    }
}

.cmp-features--left {
    .cmp-features__feature {
        &-wrapper {
            display: grid;
            grid-template-columns: ($icon-l + $space-xs) 1fr;

            @include IE11-only {
                display: block;
            }
        }

        &-icon {
            margin-right: $space-xs;
            margin-bottom: 0;
        }
    }
}

.cmp-features--signin {
    .cmp-features {
        padding: 0;

        &__list {
            margin: 0 0 $space-xxs 0;

            @include mobile {
                margin: 0;
            }
        }
    }

    .cmp-features__feature {
        margin: 0;

        &-optionals {
            display: flex;
            flex-wrap: wrap;
        }

        &-title {
            order: 0;
            display: block;
            flex-basis: 100%;
        }

        &-desc {
            order: 1;
            display: inline-block;
            margin: 0;
        }

        &-link {
            order: 2;
            display: inline-flex;

            @include IE11-only {
                position: relative;
                top: $space-xxxs;
            }

            &::before {
                display: inline-block;
                content: "";
                height: (($icon-s + $icon-m) / 2);
                width: (($icon-s + $icon-m) / 2);
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%2307b;stroke-linecap:round;stroke-linejoin:round;%7D .st1%7Bfill:none;stroke:%2307b;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M18.6,19.6V18c0-1.8-1.4-3.3-3.3-3.3H8.8c-1.8,0-3.3,1.4-3.3,3.3v1.6'/%3E%3Ccircle class='st0' cx='12.1' cy='9.3' r='3.3'/%3E%3Ccircle class='st1' cx='12' cy='12.2' r='10'/%3E%3C/g%3E%3C/svg%3E%0A");
                margin-right: $space-xxxs;
                position: relative;
                top: $space-xxxs;

                @include IE11-only {
                    top: 0;
                    background-position-y: 0;
                    height: $icon-m;
                }

                .st0 {
                    stroke: $color-link;
                }

                .st1 {
                    stroke: $color-link;
                }
            }
        }

        &-icon {
            display: none;
        }
    }
}
