.cmp-features {
    padding-top: $space-l;

    &__list {
        padding-left: 0;
    }

    &__feature {
        list-style: none;
        margin-bottom: $space-l;

        &-icon {
            height: $icon-l;
            width: $icon-l;
            margin-bottom: $space-xxs;
            color: $color-icon;

            .st0 {
                stroke: $color-icon;
            }

            .st1 {
                stroke: $color-icon;
            }
        }

        &-title {
            @include font-h3;
            margin-bottom: 0;
        }

        &-desc {
            @include font-body;
            margin-bottom: $space-s;
        }

        &-link {
            @include font-body;
            color: $color-link;
        }
    }

    &--left {
        .cmp-features__feature {
            &-wrapper {
                display: grid;
                grid-template-columns: ($icon-l + $space-xs) 1fr;
            }

            &-icon {
                margin-right: $space-xs;
                margin-bottom: 0;
            }
        }
    }

    &__feature-wrapper--signin {
        display: flex;
        flex-wrap: wrap;

        .cmp-features__feature {
            &-title {
                order: 0;
                display: block;
                flex-basis: 100%;
            }

            &-desc {
                order: 1;
                display: inline-block;
            }

            &-anchor {
                order: 2;
                display: inline-flex;
            }

            &-icon {
                order: 1;
                display: inline-block;
                height: (($icon-s + $icon-m)/ 2);
                width: (($icon-s + $icon-m)/ 2);
                margin: 0 $space-xxxs 0 $space-xxs;
                position: relative;
                top: ($space-xxxs - 0.1);

                .st0 {
                    stroke: $color-link;
                }

                .st1 {
                    stroke: $color-link;
                }
            }

            &-link {
                order: 2;
                display: inline-block;
            }
        }

    }
}