.cmp-search-filters {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        @include font-utility;
        list-style: none;
        margin-bottom: 0;
    }
    input[type='input'] {
        @include font-utility;
        height: $input-height;
        line-height: $input-height;
        padding: 0 $space-xs;
        background-color: transparent;
        outline: none;
        border: 1px solid $color-gray-40;
        color: $color-font-medium;
    }
    &__filter {
        ul {
            display: none;
            max-height: 200px;
            overflow-y: scroll;
            padding: $space-xs;
            li {
                padding: 5px 0;
                display: table;
                label {
                    display: table-cell;
                }
            }
        }
        h3 {
            @include font-utility;
            border-top: 1px solid $color-gray-40;
            margin: 0;
            position: relative;
            height: $input-height;
            a {
                @include font-utility;
                display: block;
                background-color: $color-white;
                padding: 0 $space-xs;
                margin: 0;
                text-decoration: none;
                height: $input-height;
                line-height: $input-height;
                position: relative;
                svg {
                    position: absolute;
                    top: 12px;
                    right: 13px;
                    width: 20px;
                    height: 20px;
                    .st0 {
                        stroke: $color-icon;
                    }
                }
                .expandIcon {
                    display: block;
                }
                .collapseIcon {
                    display: none;
                    .st0 {
                        stroke: $color-white;
                    }
                }
                .mobileIcon {
                    display: none;
                }
                @include tablet-and-under {
                    .expandIcon {
                        display: none;
                    }
                    .mobileIcon {
                        display: block;
                    }
                }
            }
        }
        &:last-child {
            h3 {
                border-bottom: 1px solid $color-gray-40;
                height: calc(2.75em + 2px);
            }
        }
        &__item {
            &__count {
                font-style: italic;
                color: $color-font-medium;
            }
            input[type='checkbox'] {
                appearance: none;
                border: 1px solid $color-gray-40;
                height: 1rem;
                width: 1em;
                vertical-align: -3px;
                margin-right: 10px;
                &:checked {
                    background-color: $color-background-dark;
                    &:after {
                        content: '\2713';
                        display: inline-block;
                        color: $color-white;
                        margin-left: 2px;
                        vertical-align: 3px;
                    }
                }
                &:checked,
                &:hover,
                &:focus {
                    outline: none;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__search {
            display: none;
            position: relative;
            &,
            input[type='input'] {
                width: 100%;
                position: relative;
                margin-bottom: 0;
            }
            input[type='input'] {
                padding-right: $space-xl;
            }
            svg {
                position: absolute;
                top: 10px;
                right: 9px;
                width: 25px;
                height: 25px;
                .st0 {
                    stroke: $color-icon;
                }
            }
        }
        &__year {
            display: none;
            margin: $space-xs auto;
            width: 180px;
            &__min,
            &__max {
                width: 80px;
                input[type='input'] {
                    width: 100%;
                    text-align: center;
                }
                label {
                    display: block;
                    text-align: center;
                }
            }
            &__min {
                float: left;
            }
            &__max {
                float: right;
            }
        }
        &.expanded {
            h3 {
                a {
                    background-color: $color-font-medium;
                    color: $color-white;
                    .expandIcon {
                        display: none;
                    }
                    .collapseIcon {
                        display: block;
                    }
                    @include tablet-and-under {
                        .collapseIcon,
                        .mobileIcon {
                            display: none;
                        }
                    }
                }
            }
            ul,
            .cmp-search-filters__filter__search,
            .cmp-search-filters__filter__year {
                display: block;
            }
        }
    }
    &__tags {
        margin-top: $input-height;
        margin-bottom: 1em;
        a {
            @include font-small;
            display: block;
            float: left;
            padding: 2px $space-xs 2px $space-m;
            margin: 0 8px 8px 0;
            text-decoration: none;
            background-color: $color-gray-10;
            position: relative;
            svg {
                position: absolute;
                top: 6px;
                left: 4px;
                width: 16px;
                height: 16px;
                .st0 {
                    stroke: $color-icon;
                }
            }
            &:hover {
                background-color: $color-gray-20;
            }
            &.cmp-search-filters__tags__clear {
                color: $color-white;
                background-color: $color-gray-50;
                .st0 {
                    stroke: $color-white;
                }
                &:hover {
                    background-color: $color-gray-50;
                }
            }
        }
        @include tablet-and-under {
            margin-top: 0;
            display: none;
        }
    }
}

.cmp-search-apply-btn {
    display: none;

    a {
        @include font-utility;
        background-color: $color-blue-50;
        text-align: center;
        padding: 0 $space-xs;
        margin-bottom: $space-s;
        color: $color-white;
        height: $input-height;
        line-height: $input-height;
        width: 100%;
        display: block;
    }

    @include tablet-and-under {
        display: block;
    }
}

.cmp-search-done-btn {
    display: none;
    a {
        @include font-utility;
        border: 1px solid $color-blue-50;
        text-align: center;
        padding: 0 $space-xs;
        margin-bottom: $space-s;
        color: $color-blue-50;
        height: $input-height;
        line-height: $input-height;
        width: 100%;
        display: block;
    }
}

.cmp-search-hide-btn {
    display: none;

    a {
        width: 30px;
        height: 30px;
        display: block;
        float: right;
        .st0 {
            stroke: $color-icon;
        }
    }

    @include tablet-and-under {
        display: block;
    }
}

.cmp-search-sortby {
    margin-bottom: $space-l;
    &__select {
        position: relative;
        select {
            @include font-utility;
            background-color: transparent;
            border-radius: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            height: 2.75em;
            padding: 0 $space-xs 0.1em $space-xs;
            border: 1px solid $color-gray-40;
            position: relative;
            &:hover,
            &:focus {
                outline: none;
                &::-ms-value {
                    color: inherit;
                    background-color: transparent;
                }
            }
            &::-ms-expand {
                display: none;
            }
        }
        svg {
            position: absolute;
            top: 14px;
            right: 13px;
            width: 20px;
            height: 20px;
            .st0 {
                stroke: $color-icon;
            }
        }
    }
}

.cmp-search__sort-filter {
    .cmp-search-filters__tags {
        display: none;
    }

    @include tablet-and-under {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background: $color-white;

        padding: 20px;
        max-height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        &.selected {
            display: block;
        }
        &__container {
            overflow-y: scroll;
            height: 100%;
            padding-bottom: $space-xxl;
            position: relative;
        }
        .cmp-search-filters__tags {
            display: block;
        }
    }

    @include mobile {
        width: 100%;
    }

    @include tablet {
        width: 40%;
    }
}

$header-height: 74px;

.show-sort-filters {
    @include tablet-and-under {
        .cmp-search__sort-filter,
        .overlay {
            display: block;
        }
        .cmp-search__sort-filter {
            height: 100%;
            max-height: 100vh;
            z-index: 1;
            padding-bottom: $space-xxl;
        }
        .container {
            max-height: calc(100vh - 6.5em);
            overflow: hidden;
        }

        &.filter-active {
            .cmp-search {
                &-apply-btn,
                &-sortby,
                &-filters h3,
                &-filters__tags,
                &-filters__filter {
                    display: none;
                }
                &-done-btn {
                    display: block;
                }
                &-filters__filter {
                    &.expanded {
                        display: block;
                        h3 {
                            display: block;
                            border: none;
                            a {
                                @include font-utility;
                                background-color: transparent;
                                &:before {
                                    background-image: none;
                                }
                            }
                        }
                        ul {
                            max-height: none;
                        }
                    }
                }
            }
        }
        .cmp-search__sort-filter {
            padding-top: $header-height;
        }
    }
}
