.cmp-search-filters {
    ul {
        padding: 0;
        margin: 0;
    }
    li {
        list-style: none;
        margin-bottom: 0;
    }
    input[type='input'] {
        font-family: $font-stack;
        @include font-body;
        padding: $space-xs $space-s;
        background-color: transparent;
        outline: none;
        border: 1px solid $color-border-light;
    }
    &__filter {
        div.facet-container {
            overflow-y: hidden;
            max-height: 0px;
            transition: all 0.4s ease-out;
        }
        ul {
            overflow-y: auto;
            max-height: 12em;
            padding: 0 $space-xs;

            li {
                padding: 0 0 $space-xs 0;
                display: table;
                label {
                    display: table-cell;
                }
            }
            @include tablet-and-under {
                transition: none;
            }
        }

        a.filter-toggle {
            @include font-utility;
            border-top: 1px solid $color-border-rule;
            display: block;
            background-color: $color-white;
            padding: $space-xs $space-s $space-xs 0;
            margin: 0;
            text-decoration: none;
            position: relative;
            &:hover {
                color: $color-link;
                & svg .st0 {
                    stroke: $color-link;
                }
            }
            svg {
                position: absolute;
                top: 13px;
                right: 13px;
                width: $icon-m;
                height: $icon-m;
                .st0 {
                    stroke: $color-icon;
                }
            }
            .expandIcon {
                display: block;
            }
            .collapseIcon {
                display: none;
                .st0 {
                    stroke: $color-white;
                }
            }
            .mobileIcon {
                display: none;
            }
            @include tablet-and-under {
                transition: none;
                .expandIcon {
                    display: none;
                }
                .mobileIcon {
                    display: block;
                }
            }
        }

        &:last-child {
            h3 {
                border-bottom: 1px solid $color-gray-40;
                height: calc(2.75em + 2px);
            }
        }
        &__item {
            &__count {
                @include font-utility;
            }
            input[type='checkbox'] {
                display: none;
            }
            .checkbox {
                display: inline-block;
                appearance: none;
                border: 1px solid $color-gray-40;
                height: 1em;
                width: 1em;
                vertical-align: -2px;
                margin-right: $space-xxs;
                transition: none;
                svg {
                    display: none;
                    width: 0.8em;
                    height: 0.8em;
                    margin-left: 1px;
                    margin-top: 1px;
                    -moz-transform: rotate(-10deg);
                    -o-transform: rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    transform: rotate(-10deg);
                    .st0 {
                        stroke: $color-white;
                        stroke-width: 4;
                    }
                }
                &:hover {
                    border: 1px solid $color-blue-50;
                }
                &.checked {
                    border: 1px solid $color-background-dark;
                    background-color: $color-background-dark;
                    svg {
                        display: block;
                    }
                }
            }
        }
        &__search {
            position: relative;
            &,
            input[type='input'] {
                width: 100%;
                position: relative;
                margin-bottom: 0;
            }
            input[type='input'] {
                padding-right: $space-xl;
                margin-bottom: $space-xs;

                &::-ms-clear {
                    display: none;
                }
            }
            svg {
                z-index: 1;
                position: absolute;
                top: 13px;
                right: 10px;
                width: 25px;
                height: 25px;
                .st0 {
                    stroke: $color-icon;
                }
            }

            .closeIcon {
                cursor: pointer;
            }
        }
        &__year {
            display: none;
            margin: $space-xs auto;
            width: 180px;
            &__min,
            &__max {
                width: 80px;
                input[type='input'] {
                    width: 100%;
                    text-align: center;
                }
                label {
                    display: block;
                    text-align: center;
                }
            }
            &__min {
                float: left;
            }
            &__max {
                float: right;
            }
        }
        &.expanded {
            a.filter-toggle {
                @include font-h4;
                &:hover {
                    color: $color-font-dark;
                    & svg .st0 {
                        stroke: $color-link;
                    }
                }
                .expandIcon {
                    display: none;
                }
                .collapseIcon {
                    & svg .st0 {
                        stroke: $color-icon;
                    }
                    display: block;
                }
                @include tablet-and-under {
                    .collapseIcon,
                    .mobileIcon {
                        display: none;
                    }
                }
            }
            div.facet-container,
            .cmp-search-filters__filter__search,
            .cmp-search-filters__filter__year {
                transition: all 0.4s ease-out;
                @include tablet-and-under {
                    transition: none;
                }
                max-height: 200px;
                padding: 0;
            }
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2.75em;
        margin-bottom: $space-s;

        a {
            @include font-small;
            display: block;
            float: left;
            padding: ($space-xxxs - .05em) $space-xs ($space-xxxs + .05em) $space-l;
            margin: 0 $space-xxs $space-xs 0;
            text-decoration: none;
            background-color: $color-gray-10;
            position: relative;
            border-radius: .25em;

            @include mobile {
                padding: ($space-xxxs - .15em) $space-s ($space-xxxs + .05em) $space-l;
            }

            svg {
                position: absolute;
                top: 9px;
                left: 10px;
                width: $icon-s;
                height: $icon-s;
                .st0 {
                    stroke: $color-icon;
                    stroke-width: 2px;
                }
                @include tablet-and-under {
                    top: 10px;
                    margin: 0;
                }
            }
            &:hover {
                background-color: $color-gray-20;
            }
            &.cmp-search-filters__tags__clear {
                color: $color-font-light;
                background-color: $color-gray-50;
                .st0 {
                    stroke: $color-white;
                }
            }
        }
        @include tablet-and-under {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &__emptytags {
        height: 0.5em;

        @include tablet-and-under {
            height: 0;
        }
    }
}

.cmp-search-apply-btn {
    display: none;

    a {
        background-color: $color-blue-50;
        text-align: center;
        padding: $space-xs $space-l;
        margin-bottom: $space-m;
        color: $color-white;
        width: 100%;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
    }

    @include tablet-and-under {
        display: block;
    }
}

.cmp-search-done-btn {
    display: none;
    a {
        background: $color-blue-10;
        text-align: center;
        padding: $space-xs $space-l;
        margin-bottom: $space-m;
        color: $color-blue-70;
        width: 100%;
        display: block;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.cmp-search-hide-btn {
    .btn-hide-sort-filter {
        @include font-utility;
        display: none;
        padding: $space-xs $space-xs $space-xs 6%;
        margin: 0 0 $space-m -5.5%;
        box-shadow: $shadow;
        width: 112%;
        position: relative;
        text-decoration: none;
        margin: 0px 0 1.5em -6%;
        svg {
            position: absolute;
            top: 12px;
            right: 8%;
            width: $icon-m;
            height: $icon-m;
            .st0 {
                stroke: $color-icon;
            }
        }
        a:hover {
            text-decoration: none;
        }

        @include tablet-and-under {
            display: block;
        }

        @include mobile {
            display: none;
            width: 114%;
            float: none;
            background-position: 95% 13px;
            padding: $space-xs $space-xs $space-xs 7%;
            svg {
                margin: 0 2% 0 0;
                top: 16px;
                right: 3%;
            }
        }
    }
    @include mobile {
        float: none;
        width: 100%;
    }
}

.cmp-search-filters__tags.clearfix {
    &:after {
        display: block;
    }
}

$header-height: 74px;

.cmp-search__sort-filter {
    position: relative;
    top: -55px;
    // height: 100vh;

    .cmp-search-filters__tags {
        display: none;
        margin-bottom: $space-m;
    }

    @include tablet-and-under {
        position: fixed;
        top: 0;
        right: 0;
        background: $color-white;
        max-height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
        z-index: 3;

        &.selected {
            display: block;
        }
        &__container {
            overflow-y: scroll;
            height: 100%;
            padding-bottom: 10em;
            position: relative;
        }
        .cmp-search-filters__tags {
            display: block;
        }
    }

    @include mobile {
        width: 100%;
        display: block;
        height: 0;
        padding: 0 20px;
    }

    @include tablet {
        display: none;
        width: 40%;
        height: 100%;
        padding: $header-height 20px 20px 20px;
    }
}

.show-sort-filters {
    @include tablet-and-under {
        .cmp-search__sort-filter {
            overflow: hidden;
        }
        &.filter-active {
            .cmp-search {
                &-apply-btn,
                &-sortby,
                &-filters h3,
                &-filters__tags,
                &-filters__filter {
                    display: none;
                }
                &-done-btn {
                    display: block;
                }
                &-filters__filter {
                    &.expanded {
                        display: block;
                        h3 {
                            display: block;
                            border: none;
                            a {
                                @include font-utility;
                                background-color: transparent;
                                &:before {
                                    background-image: none;
                                }
                            }
                        }
                        ul,
                        div.facet-container {
                            max-height: none;
                            @include mobile {
                                max-height: 49vh;
                            }
                            @include tablet {
                                max-height: 53vh;
                            }
                        }
                    }
                }
            }
        }
    }
    @include mobile {
        .cmp-search__sort-filter {
            height: 100vh;
            padding: 40px 20px 80px 20px;
        }
        .cmp-search__sort-filter__container {
            height: 105%;
        }
        &.filter-active {
            .cmp-search__sort-filter__container {
                overflow: visible;
            }
        }
    }
    @include tablet {
        .cmp-search__sort-filter {
            display: block;
        }
        .overlay {
            display: block;
            margin: -40px;
        }
    }

    .cmp-search__container {
        .cmp-search-filters__tags {
            @include mobile {
                margin-top: -30px;
            }

            @include tablet {
                position: relative;
                z-index: -1;
                margin-top: -20px;
            }
        }
    }
}

// .sort-filter-container-sticky {
//      position: fixed;
//      top: 78px;
//  }

// .sort-filter-container-affix {
//      position: relative;
//  }

