.cmp-footer {
    padding: $space-xl 0;
    padding-bottom: 0;
    margin-top: $space-xl;
    overflow: hidden;
    width: 100%;

    a {
        word-break: keep-all;
        color: $color-font-light;
    }

    .cmp-button {
        background-color: $color-background-dark;
        display: inline-block;
        border: 1px solid $color-white;
        color: $color-font-light;
        width: 100%;
        &:hover {
            background-color: $color-background-dark;
            border: 1px solid $color-gray-20;
            color: $color-gray-20;
        }
    }

    h3 {
        color: $color-white;
    }

    .links {
        color: $color-white;
        display:    inline-block;
    }

    .container1 {
        background-color: $color-background-dark;
        opacity: 0.9;
        max-width: 1480px;
        //position: static;
        margin: -$space-xxs auto 0 auto;
        padding: $space-xl $space-xxl;
        display: block;
        text-align: left;

        @include mobile {
            padding: $space-l 20px;
        }

        @include tablet {
            padding: $space-l;
        }

    }

    .container1_wrapper {
        background-color: $color-background-dark;
        opacity: 0.95;
    }
    .container2 {
        background-color: $color-background-dark;
        max-width: 1480px;
        padding: $space-xl $space-xxl;
        clear: both;
        width: 100%;
        display: block;
        margin: -$space-xxs auto 0 auto;

        @include mobile {
            padding: 0 20px $space-l 20px;
        }

        @include tablet {
            padding: $space-l;
        }
        .cmp-footer__yamcontainer{
             margin-top: $space-l;
        }
    }
    .container2_wrapper {
        background-color: $color-background-dark;
    }
}

.cmp-footer__logo {
    max-width: 115px;
    height: 32px;
    margin-top: $space-l;
    margin-left: $space-s;
    display: inline-block;

    img {
        height: 32px;
        max-width: 115px;
    }

    @include mobile {
        width: 100%;
        display: inline-block;
        margin-left: 0;
    }
}

.cmp-footer__links {
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-left: $space-s;
    position: relative;

    @include mobile {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        @include font-small;
    }

    a {
        margin-right: $space-l;
        display: inline;
        @include mobile {
            line-height: $line-height-text;
            padding: $space-s 0 0 0;
            display: block;
            width: 100%;
        }
        @include tablet {
            display: inline-block;
        }
        line-height: 2.5em;

        &:hover {
            text-decoration: underline;
            color: $color-font-light;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }

    &.china-legal {
       @include mobile {
         margin-bottom: 150px;
       }
    }
}

.cmp-footer__yamlinks {
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-left: $space-s;

    @include mobile {
        margin-left: 0px;
    }

    span {
        @include font-small;
        color: $color-disabled;
        padding-right: $space-xxs;
        font-weight: $font-weight-bold;

    }

    a {
        @include font-small;
        margin-right: $space-xxs;
        display: inline;
        color: $color-disabled;
        text-decoration: none solid rgb(156, 167, 176);

        &:hover {
            text-decoration: underline;
            color: $color-gray-20;
        }

        &:first-of-type {
            padding-left: 0;
        }
    }
}

.cmp-footer__copyright {
    float: right;
    margin-top: $space-xxs;
    margin: $space-xxs $space-s 0 0 ;
    p {
        @include font-small;
        color: $color-font-light;
    }

    @include tablet {
        margin-top: $space-l;
    }

    @include mobile {
        float: left;
        margin-top: $space-l;
        text-align: left;
    }
}

.cmp-back-to-top {
    position: fixed;
    bottom: $space-m;
    right: $space-m;
    z-index: 98;
    height: $button-fixed;
    width: $button-fixed;
    background: $color-white;
    cursor: pointer;
    display: block;
    opacity: 0;
    border: 1px solid $color-border-light;
    border-radius: $border-radius;
    padding: ($space-xxs + .05em);
    box-shadow: $shadow;
    transition: $fade-transition;

    svg {
        width: $icon-m;
        height: $icon-m;

        .st0 {
            stroke: $color-icon;
        }
    }

    &:hover {
        border: 1px solid $color-link;
        svg {
            .st0 {
                stroke: $color-link;
            }
        }
    }

    &:active {
        border: 1px solid $color-border-light;
        svg {
            .st0 {
                stroke: $color-icon;
            }
        }
    }

    &.cmp-back-to-top-show {
        opacity: 1;
    }

    &.cmp-back-to-top-affix {
        position: relative;
        float: right;
        bottom: $space-m;
    }
}

.cmp-footer__social-links {
    display: inline-block;
    float: right;
    margin-right: $space-s;
    @include mobile {
        margin-top: $space-m;
        float: none;
        width: 100%;
        padding-top: $space-s;
    }

    .social-links-text {
        @include font-small;
        color: $color-font-light;
        text-align: right;
        padding-bottom: $space-s;

        @include mobile {
            text-align: left;
        }

    }

    .inline-svg {
        display: inline-block;
    }

    ul {
        float: right;
        @include mobile {
            float: left;
            padding-inline-start: 0;
        }
        li {
            list-style-type: none;
            display: inline-block;

            img.inline-svg {
                width: $icon-m;
                height: $icon-m;
            }

            a {
                text-decoration: none;
                padding-left: $space-m;
                padding-right: 0;

                @include mobile {
                    padding-right: $space-s;
                    padding-left: 0;
                }

                svg {
                    width: $icon-m;
                    height: $icon-m;
                    fill: $color-white;
                }
            }
        }
    }
}

.cmp-footer .cmp-links__external-link--true::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='25' viewBox='0 0 24 24' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
}
.cmp-footer .cmp-links__external-link--true:hover:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='25' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6M15 3h6v6M10 14L21 3'/%3E%3C/svg%3E");
}

.cmp-footer__selector {
    margin-left: $space-s;
    width: fit-content;
    position: relative;
    line-height: 28px;
    margin-bottom: $space-xl;

    @supports (display: inline-grid) {
        position: static;
    }

    @include mobile {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin-bottom: $space-m;
    }

    &__region {
        cursor: pointer;
        display: inline-flex;
        min-height: 51px;
        height: 51px;
        -webkit-box-align: center;
        align-items: center;
        padding: $space-xxs $space-s $space-xxs $space-s;
        border: 1px solid $color-border-light;
        margin-right: $space-xxs;
        border-radius: $border-radius;

        &:hover {
            color: $color-gray-20;
            & > span:first-child {
                color: $color-gray-20;
            }

            .inline-svg {    
                line, polyline {
                    stroke: $color-gray-20;
                }
            }
        }

        @include mobile {
            margin-bottom: $space-s;
        }

        span {
            display: inline-block;
            flex-grow: 1;
            color: $color-white;
            padding-right: $space-xxs;
        }

        .inline-svg {
            display: inline-block;
            float: left;
            width: $icon-m / 2;
            height: $icon-m / 2;
            margin-bottom: 3px;

            line, polyline {
                stroke: $color-white;
                stroke-width: 1px;
            }

            @supports (display: inline-grid) {
               margin-bottom: 0;
            }
        }

        &.one-country {
            cursor: text;
            border: 0;
            padding-left: 0;

            .inline-svg {
                display: none;
            }

            &:hover {
                color: $color-white;
                & > span:first-child {
                    color: $color-white;
                }
    
                .inline-svg {    
                    line, polyline {
                        stroke: $color-white;
                    }
                }
            }

            @include mobile {
                border-right: 0px !important;
            }
        }
    }

    &__language {
        cursor: pointer;
        min-height: 51px;
        height: 51px;
        -webkit-box-align: center;
        align-items: center;
        padding: 0 $space-s;
        border: 1px solid $color-border-light;
        display: inline-table;
        position: absolute;
        border-radius: $border-radius;
        
        @supports (display: inline-grid) {
            display: inline-flex;
            position: relative;
        }

        @include mobile {
            margin-right: $space-xxs;
        }

        &:hover {
            color: $color-gray-20;
            & > a:first-child {
                color: $color-gray-20;
            }

            &::after {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23e3e6e9;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cpolyline class='st0' points='3.3,7.7 11.9,16.2 20.5,7.7 '/%3e%3c/svg%3e ");
            }
        }

        & > a {

            &:first-child {
                white-space: pre-wrap;
                pointer-events: none;
                vertical-align: middle;
                display: table-cell;
                padding-right: $space-s;

                @supports (display: inline-grid) {
                    display: inline-block;
                    white-space: normal;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &::after {
            content: '';
            width: $icon-m;
            height: $icon-m;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cpolyline class='st0' points='3.3,7.7 11.9,16.2 20.5,7.7 '/%3e%3c/svg%3e ");
            display: table-cell;

            @supports (display: inline-grid) {
                display: inline-block;
            }

            @include mobile {
                position: absolute;
                right: $space-s;
            }
        }

        &--options {
            display: none;
            background-color: $color-background-dark;
            position: absolute;
            top: 100%;
            right: -1px;
            z-index: 1;
            min-height: 38px;
            -webkit-box-align: center;
            align-items: center;
            border: 1px solid #c6cdd2;
            width: 100%;
            box-sizing: content-box;

            & > a {
                display: flex;
                padding: $space-xxs $space-xxs $space-xxs $space-s;
                color: $color-white;

                &:hover {
                    text-decoration: none;
                    background-color: adjust-color($color: $color-gray-40, $alpha: -0.7);
                }
            }
        }

        &.active {
            .cmp-footer__selector__language--options {
                display: block;
            }

            &.one-link {
                .cmp-footer__selector__language--options {
                    display: none;
                }
            }
        }

        &.one-link {
            padding: 0;
            border: none;
            cursor: text;

            &:hover > a:first-child {
               color: $color-white;
            }

            @include mobile {
                width: auto;
            }

            &::after {
                display: none;
            }
        }
    }

    &.one-link {
        .cmp-footer__selector__region {
            @include mobile {
                border-right: 1px solid $color-border-light;
            }
        }
    }
}

.cmp-footer__china-legal {
   font-size: $font-size-small;
   font-weight: $font-weight-light;
   margin-top: $space-s;

   @include tablet-and-under {
      position: relative;
      padding-top: $space-l + 0.5em;
   }

   @include mobile {
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 0;
      padding-top: $space-l;
   }

   &-sICP {
      position: relative;

      @include tablet-and-under {
         line-height: 1em!important;
      }

      span {
         padding-left: 20px;
      }
   }

   &-bPNS {
      position: relative;

      @include tablet-and-under {
         line-height: 1em!important;
      }

      @include mobile {
         padding-top: $space-l!important;
      }

      span {
         padding-left: 10px;
      }
   }
}
