@import 'variables.scss';
@import 'mixins.scss';
@import 'typography.scss';

.cmp-form {
    &--check-email {
        width: 100%;
    }
    
    .cmp-form-header {
        @include font-body;
        a {
            @include font-h4;
            text-decoration: none;
        }
    }
    @include non-IE11-browsers {
        float: left;
    }

    margin-bottom: $space-l;

    .cmp-form__disclaimer {
        @include font-utility;
        display: block;
        clear: left;
        width: 75%;

        @include mobile {
            width: 100%;
        }
    }

    &--submit {
        font-family: inherit;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        margin-bottom: $space-s;
        margin-top: $space-s;
        font-size: $font-size-body;

        @include tablet-and-over {
            width: auto;
        }

        &.cmp-button--disabled {
            background-color: #9ca7b0 !important;
            cursor: default;
            @include tablet-and-over {
                width: auto;
            }
        }
    }
    .cmp-form-field {
        float: left;
        width: 100%;
        margin-bottom: $space-s;

        .cmp-form-field--icons {
            .lock-icon {
                display: inline-block;

                svg {
                    display: block;
                    .st0 {
                        stroke: $color-disabled;
                    }
                }
            }
        }

        &.cmp-form-field-dropdown {
            width: 65%;

            @include mobile {
                width: 100%;
            }

            .cmp-form-field-dropdown--wrapper {
                position: relative;

                .cmp-form-field--errorText {
                    display: none;
                }
            }

            .cmp-custom-dropdown--is-disabled {
                .cmp-custom-dropdown__control--is-disabled {
                    background-color: $color-white;
                    color: $color-disabled;
                }

                .cmp-custom-dropdown__input {
                    display: none !important;
                }
            }
        }

        label {
            display: block;
            @include font-h4;
            margin-bottom: $space-xxxs;

            .cmp-form-field--optional {
                @include font-small;
                font-weight: $font-weight-light;
            }

            &.cmp-form-field--label-matching {
                margin-top: $space-s;
            }
        }

        .cmp-form_description {
            @include font-small;
            margin-bottom: $space-xxs;
        }

        .cmp-form-field--errorText {
            position: relative;
            a {
                .email-signin {
                    display: inline-block;
                    svg {
                        height: $icon-s;
                        width: $icon-s;
                        margin-left: $space-xxs;
                        margin-right: $space-xxxs;
                        margin-bottom: -1px;
                        .st0,
                        .st1 {
                            stroke: $color-link;
                        }
                    }
                }
            }
        }

        input {
            border: $border-medium;
            font-family: inherit;
            font-weight: inherit;
            letter-spacing: inherit;
            line-height: inherit;
            width: 100%;
            margin-bottom: 0;
            padding: $space-xs;
        }

        input::-ms-reveal {
            display: none !important;
        }

        input::-ms-clear {
            display: none !important;
        }

        input::-webkit-contacts-auto-fill-button {
            visibility: hidden;
            display: none !important;
            pointer-events: none;
            position: absolute;
            right: 0;
        }

        input::-webkit-caps-lock-indicator {
            visibility: hidden;
            display: none !important;
        }

        input::-webkit-credentials-auto-fill-button {
            visibility: hidden;
            display: none !important;
        }

        input::-webkit-textfield-decoration-container {
            visibility: hidden;
        }

        input.valid {
            & ~ .cmp-form-field--icons .valid-icon {
                display: inline-block;
                svg {
                    display: block;
                }
            }

            &::-moz-placeholder {
                & ~ .cmp-form-field--icons .valid-icon {
                    display: none;
                    svg {
                        display: none;
                    }
                }
            }

            &:-ms-input-placeholder {
                & ~ .cmp-form-field--icons .valid-icon {
                    display: none;
                    svg {
                        display: none;
                    }
                }
            }
        }

        &.cmp-form-field--invalid {
            input.error, textarea.error {
                border: $border-error;
                margin-bottom: ($space-xxxs - 0.1em);

                & ~ .cmp-form-field--icons .invalid-icon {
                    display: inline-block;
                    svg {
                        display: block;
                    }
                }
            }

            .cmp-form-field--errorText {
                @include font-small;
                color: $color-error;
            }

            .radio.error,
            .textarea.error,
            .checkbox.error {
                border: $border-error;
            }

            .cmp-form-field-dropdown--wrapper {
                .cmp-custom-dropdown__control {
                    border: $border-error;

                    .cmp-custom-dropdown__indicators {
                        margin-right: $space-l;
                    }
                }

                .cmp-form-field--icons {
                    .invalid-icon {
                        display: inline-block;
                        svg {
                            display: block;
                        }
                    }
                }

                .cmp-form-field--errorText {
                    display: inline;
                }
            }
        }

        input {
            &:hover {
                border: $border-link;
            }

            &:active {
                border: $border-focus;
            }

            &:focus {
                outline: none;
                border: $border-focus;
            }

            &:disabled {
                border: $border-medium !important;
                color: $color-disabled;
                background-color: $color-white;
            }
        }

        &--input {
            position: relative;

            .fieldHidden {
                display: none;
            }
       }

        &--icons {
            position: absolute;
            top: 1px;
            right: 1em;
            height: (($space-xs * 2) + $line-height-text);
            display: flex;
            align-items: center;
            pointer-events: none;

            & > div {
                display: none;
                margin-left: $space-xxs;

                svg {
                    display: none;
                    height: $icon-m;
                    width: $icon-m;
                }

                &.valid-icon svg .st0 {
                    stroke: $color-success;
                    stroke-width: 2px;
                }

                &.invalid-icon svg .st0 {
                    stroke: $color-error;
                    stroke-width: 1px;
                }

                &.showHide-icon,
                &.showHideOff-icon {
                    height: 46px;
                    padding-top: 1px;
                    display: none;
                    svg {
                        .st0 {
                            stroke: $color-icon;
                        }
                        height: 46px;
                        width: 48px;
                        cursor: pointer;
                        display: none;
                    }
                }

                &.showHide-icon.toggled,
                &.showHideOff-icon.toggled {
                    pointer-events: all;
                    display: inline-block;
                    svg {
                        .st0 {
                            stroke: $color-icon;
                        }
                        height: 46px;
                        width: 48px;
                        cursor: pointer;
                        display: block;
                    }
                }
            }
        }

        &--input-requirements {
            display: none;
            top: 100%;
            background-color: white;
            z-index: 1;
            width: 100%;
            padding: $space-s;
            padding-left: 0;

            & > div {
                display: block;
                position: relative;
                & > div {
                    display: inline-block;
                    svg {
                        height: $icon-s;
                        width: $icon-s;
                        position: absolute;
                        top: $space-xxxs;
                        left: 0;

                        .st0 {
                            stroke-width: 2px;
                            stroke: $color-border-medium;
                        }
                    }

                    &.valid {
                        svg {
                            .st0 {
                                stroke: $color-success;
                            }
                        }
                    }
                }
            }

            .requirements-info {
                @include font-small;
                margin-left: $space-m;
            }

            .requirements-title {
                display: block;
                @include font-body;
                margin-bottom: $space-xxs;
            }

            &.toggled {
                display: block;
            }

            @include tablet-and-under {
                display: block;
            }
        }

        &-checkbox,
        &-radio {
            display: flex;
            label {
                display: inline;
                font-weight: $font-weight-light;
            }

            &--grouping-item {
                display: flex;
            }

            &--address1 {
                display: flex;
                padding-left: 24px;
            }

            &--wrapper {
                &.disabled {
                    label {
                        color: $color-disabled !important;
                    }
                }
            }

            &.optional {
                @include font-small;
            }
        }
        
        &-label {
            label{
                margin-top: 0;
                @include font-small;
                font-weight: $font-weight-light;
            }
        }

        &-label {
            label{
                margin-top: 0;
                @include font-small;
                font-weight: $font-weight-light;
            }
        }
        
        input[type='checkbox'] {
            display: none;

            &:checked ~ .checkbox {
                border: $border-dark;
                background-color: $color-background-dark;
                svg {
                    display: block;
                }
            }
        }
        .checkbox {
            display: inline-block;
            appearance: none;
            border: $border-dark;
            height: 1em;
            width: 1em;
            margin-top: 0.3em;
            margin-right: $space-xxs;
            transition: none;
            flex-shrink: 0;
            svg {
                display: none;
                width: 0.8em;
                height: 0.8em;
                margin-left: 1px;
                margin-top: 1px;
                -moz-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
                -webkit-transform: rotate(-10deg);
                transform: rotate(-10deg);
                .st0 {
                    stroke: $color-white;
                    stroke-width: 4;
                }
            }

            &:hover {
                border: $border-link;
            }

            &.disabled {
                border: $border-disabled !important;
                color: $color-disabled !important;
                cursor: default;
            }
        }

        input[type='radio'] {
            display: none;

            &:checked ~ .radio {
                border: 1px solid $color-background-dark;
                div.selector {
                    display: block;
                }
            }
        }
        .radio {
            display: inline-block;
            appearance: none;
            border: $border-dark;
            height: $icon-s;
            width: $icon-s;
            margin-top: 0.3em;
            margin-right: $space-xxs;
            transition: none;
            border-radius: 100%;
            position: relative;
            flex-shrink: 0;
            div.selector {
                display: none;
                background-color: $color-gray-50;
                border-radius: 100%;
                width: $icon-xs;
                height: $icon-xs;
                margin: $space-xxxs;
                position: absolute;
                top: -1px;
                left: -1px;
            }
            &:hover {
                border: $border-link;
            }

            &.disabled {
                border: $border-disabled !important;
                color: $color-disabled !important;
                cursor: default;
            }
        }
    }

    .cmp-custom-dropdown__option {
        &--is-focused {
            color: $color-blue-50;
        }
    }

    .cmp-custom-dropdown__input {
        margin-top: 0;
    }

    .cmp-custom-dropdown__control--is-disabled {
        border-color: $color-border-medium;
    }

    textarea {
        background-size: cover;
        border: $border-medium;
        border-radius: $border-radius;
        font-family: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        padding: $space-xs;
        width: 100%;
        &::placeholder {
          color: $color-disabled;
        }
        &:hover {
          border: $border-link;
        }
        &:active {
          border: $border-focus;
        }
        &:focus {
          outline: none;
          border: $border-focus;
          &::placeholder {
            color: transparent;
          }
        }
      
        &:disabled {
          border: $border-disabled;
        }

        &.disable-resize {
            resize: none;
          }
      }

    .textarea-info {
        display: flex;
        justify-content: space-between;

        .text-info {
            &.errorText {
                @include font-small;
                color: $color-error;
            }
        }
    }

    .cmp-form-field-captcha {
        margin-top: $space-s;
        margin-bottom: $space-s;
    }

    .cmp-form-field-textwithlinks--privacy {
        margin-top: $space-s;
        @include font-small;
    }

    &__submission-error {
        float: left;
        clear: both;
        margin-bottom: $space-l;
        color: $color-error;
    }

    .cmp-form__additionalText {
        font-weight: $font-weight-bold;
        margin-left: $space-xxxs;
    }
}

.cmp-trouble-signing-in-form,#js-contact-support-form {
    .cmp-form {
        margin-bottom: 0;
    }
}

#js-registration-form {
    .cmp-form {
        .cmp-form-field {           
            width: 100%;
        }  

        .cmp-form-field-label {
            .addressLabel {
                display: block;
                @include font-h4;
                margin-bottom: $space-xxxs;
            }
        }
		.cmp-form-field-addLineButton {
			display: inline-block;
            width: 100%;
            margin-top: 0;
            margin-left: 0;

			.add-line-item {
				margin-top: $space-xs;
                margin-left: 0;
                white-space: nowrap;
                cursor: pointer;
                span {
                    padding-right: 2px;
                    vertical-align: middle;
                }
			}
			svg .st0,
			svg .st1 {
				stroke: $color-blue-50;
			}
			svg {
				width: $icon-m;
				height: $icon-m;
			}
        }	
        .noLabel {
            margin-top: $space-s;
        }

        .cmp-form-field-left-formNotification--notification {
            float: left;
            padding: 0 $space-xxs $space-xxs $space-xxs;
            height: 100%;
          
            svg {
                width: $icon-m;
                height: $icon-m;
                svg .st1 {
                    stroke: $color-icon;
                }
            }
        }

        .cmp-form-field-right-formNotification--notification {
            @include font-body;
            display: table-cell;
            .boldText {
                font-weight: $font-weight-bold;
            }
        }
    }
}
#js-support-request-form {
    .cmp-form {
        .text-as-label {  
            input:disabled {
                border: none !important;
                padding: 0;
                color: $color-black;
            }
            .cmp-form-field--icons {
                display: none;
            }           
        }
        .text-hidden {  
            display: none;
        }
        .cmp-back-link {
            a {
                vertical-align: text-bottom;
            }
            svg {
                width: $icon-s;
                height: $icon-s;
                .st0,
                .st1 {
                    stroke: $color-link;
                }
            }
        }
        .cmp-section-hr {
            hr {
                border-bottom: solid 4px $border-divider-large;
                height: 0;
                margin: 0.5em 0;
                width: 100%;
            }
        }
        .cmp-heading-label {
            @include font-h4;
        }
    }
}