* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    padding-top: (4.5em + $space-l);
    overflow-x: hidden;

    @include mobile {
        padding-top: (4.1875em + $space-l);
    }
}

.aem-GridColumn {
    padding: 0 14px;

    @include mobile {
        padding: 0 4px;
    }

    @include tablet {
        padding: 0 12px;
    }
}

.layoutcontainer > div {
    margin: 0 0 0 -14px;

    @include mobile {
        margin: 0 0 0 -4px;
    }

    @include tablet {
        margin: 0 0 0 -12px;
    }
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 80px;

    &__left {
        width: 25%;
        float: left;
    }

    &__content {
        width: 75%;
        float: right;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }
    }

    @include mobile {
        padding: 0 20px;
    }

    @include tablet {
        padding: 0 40px;
    }
}

a {
    color: $color-link;
    transition: $hover-transition;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:active {
        color: $color-link;
        text-decoration: none;
    }

    // add external styling
}

.hidden {
    display: none;
}

.overlay {
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: none;

    &.active {
        display: block;
    }
}

.clearfix:after {
    display: table;
    clear: both;
    content: '';
}

.cmp-custom-dropdown__control {
    .cmp-custom-dropdown__dropdown-indicator > div {
        width: $icon-m;
        height: $icon-m;

        svg {
            height: ($icon-m + 0.1em);
            .st0 {
                stroke: $color-icon;
            }
        }
    }
    &:hover {
        .cmp-custom-dropdown__value-container {
            color: $color-link !important;
        }

        .cmp-custom-dropdown__dropdown-indicator > div {
            svg {
                .st0 {
                    stroke: $color-link;
                }
            }
        }
    }
}

.container .st0,
.cmp-footer .st0,
.cmp-back-to-top .st0 {
    fill: none;
}
