* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.aem-GridColumn {
    padding: 0 14px;

    @media (max-width: 650px) {
        padding: 0 4px;
    }

    @media (min-width: 651px) and (max-width: 1200px) {
        padding: 0 12px;
    }
}

.layoutcontainer > div {
    margin: 0 0 0 -14px;

    &:first-of-type {
        padding-top: 35px;
    }

    @include mobile {
        margin: 0 0 0 -4px;
    }

    @include tablet {
        margin: 0 0 0 -12px;
    }
}

.layoutcontainer .sectioncontainer {
    padding: 0;
    margin: $space-l 0;
}

.layoutcontainer .cmp-section-container__title {
    padding: 0 14px;

    @include mobile {
        padding: 0 4px;
    }

    @include tablet {
        padding: 0 12px;
    }
}

.container {
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 80px;
    overflow-x: hidden;

    @include mobile {
        padding: 0 20px;
    }

    @include tablet {
        padding: 0 40px;
    }
}

a {
    @include font-utility;
    color: $color-link;
    transition: all 0.25s ease;
    text-decoration: none;

    &:hover {
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:active {
        color: $color-link;
    }

    &:focus {
        @include font-utility;
        color: $color-link-hover;
        text-decoration: underline;
        outline: 2px solid $color-focus;
        margin-bottom: 0;
    }

    // add external styling
}
