@import "hamburgers";

.cmp-header {
    background-color: $color-white;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: $space-l;

    @include mobile {
        z-index: $header-mobile-z-index;
        margin-bottom: 0;
    }

    &__navigation{
        box-shadow: $shadow;
    }

    &__overlay.overlay{
        z-index: $header-overlay-z-index;
        height: 100vh;
        position: fixed;
        transition: opacity 0.25s ease;
        opacity: 0;
        visibility: hidden!important;

        @include mobile {
            display: none !important;
        }

        &.active {
            visibility: visible!important;
            opacity: 1;
            @include tablet {
                margin: 0;
            }
        }
    }

    &__top-bar{
        position: relative;
        z-index: $header-top-bar-z-index;
        background: $color-white;
        border-bottom: 1px solid $color-border-light;

        .container {
            display: flex;
        }

        &__logo {
            padding: ($space-s + $space-xxxs) 0 $space-s 0;
            font-weight: 300;
            line-height: 1.6em;
            margin: 0;
            font-size: 1em;

            @include mobile {
                padding: $space-s 0 $space-xs 0;
                font-size: 1.1em;
            }
            
            img {
                height: 32px;
                width: 115px;

                @include mobile-xs{
                    width: 110px;
                    height: 30px;
                }

            }
        }

        &__nav {
            display: flex;
            margin-left: auto;

            &__ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: 100%;
                display: flex;
                align-self: center;

                & > .top-bar__nav__item {
                    height: 74px;
                    align-items: center;
                    align-self: center;
                    vertical-align: top;
                    margin-left: $space-s;
                    margin-bottom: 0;
                    padding-top: $space-xxxs;

                    
                    @include mobile {
                        height: 100%;
                    }

                    @include mobile-xs {
                        margin-left: $space-s;
                    }

                    &:first-of-type,
                    &:last-of-type {
                        margin-left: 0;
                    }

                    .cmp-header-links__link > span {
                        float: left;

                        @include mobile {
                            display: none;
                        }
                    }
                    
        
                    svg.inline-svg{
                        display: inline-block;
                        width: 30px;
                        height: 25px;
                        padding-left: 0.3em;

                        @include mobile {
                            width: $icon-m;
                            height: $icon-m;
                            padding-left: 0;
                        }

                        @include mobile-xs {
                            width: $icon-m;
                            height: $icon-m;
                        }
                    }
                }
            }

            .top-bar__nav__user,
            .top-bar__nav__search,
            .top-bar__nav__cart {
                display: inline-flex;
            }

            .top-bar__nav__user {
                position: relative;
                z-index: $header-top-bar-user-z-index;

                header.cmp-header &.is-active{
                    position: relative;
                }

                @include mobile {
                    header.cmp-header &.is-active{
                        position: static !important;
                    }
                    min-width: 0 !important;
                }

                &__dropdown {
                    
                    @include tablet-and-over {                
                        opacity: 0;
                        transition: all 0.2s ease;
                        visibility: hidden;
                        box-shadow: $shadow;
                        position: absolute;
                        top: 71px;
                        right: 0px;
                        border-top: 4px solid $color-gray-50;
                        display: none;
                        justify-content: flex-end;
                    }
                }
    

                &.is-active{
                    .top-bar__nav__user__dropdown{
                        visibility: visible;
                        opacity: 1;
                        display: flex;
                    }
                }
                
                &.loggedIn {

                    .top-bar__nav__user__link {
                        svg .st1,
                        svg .st0{
                            stroke: $color-teal-30;
                            stroke-width: 0.75px;
                        }
                    }

                    &:hover .top-bar__nav__user__link {
                        color: $color-gray-50;
                    }


                }
    
            }
 
            .top-bar__nav__mobile {
                display: none;

                &__divider {
                    border-left: 1px solid $color-border-light;
                    height: 2em;
                    margin: 0 $space-s;

                    @include mobile-xs{
                        margin: 0 $space-xxs 0 $space-s;
                    }
                }
            }

            .top-bar__nav__mobile.is-used {
                display: inline-flex;

                @include tablet-and-over {
                    display: none;
                }
            }

        }
    }

    @include mobile {

        &__navigation{
            transition: $fade-transition;
            opacity: 0;
            display: none;

            .container{
                padding: 0;
            }

            &.is-active {
                opacity: 1;
                display: block;
            }
        }
    }
}

@include mobile {

    .cmp-header.is-fixed {
        position: fixed;
        height: 100%;
    }
}

.cmp-header-links__link{
    @include font-utility;
    display: inline-block;

    svg .st0,
    svg .st1 {
        stroke: $color-gray-50;
    }

    &:hover {
        color: $color-link;
        & svg .st0,
        & svg .st1 {
            stroke: $color-link;
        }
    }
    &:active {
        @include font-utility;
        & svg .st0,
        & svg .st1 {
            stroke: $color-icon;
        }
    }
}
