@import "hamburgers";

.cmp-header {
    background-color: $color-white;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1999999999;
    margin-bottom: $space-l;

    @include mobile {
        margin-bottom: 0;
    }

    &__navigation{
        box-shadow: $shadow;
    }

    &__overlay.overlay{
        z-index: 999;
        height: 100vh;
        position: fixed;
        transition: all 0.25s ease;
        opacity: 0;

        @include mobile {
            display: none !important;
        }

        &.active {
            opacity: 1;
        }
    }

    &__top-bar{
        position: relative;
        z-index: 1000;
        background: $color-white;
        border-bottom: 1px solid #c6cdd2;

        .container {
            display: flex;
        }

        &__logo {
            padding: ($space-s + $space-xxxs) 0 $space-s 0;
            
            img {
                height: 32px;
                width: 115px;

                @include mobile-xs{
                    width: 110px;
                    height: 30px;
                }

            }
        }
    
        &__nav {
            display: flex;
            margin-left: auto;
    
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: 100%;
                display: flex;
                align-self: center;

                li {
                    height: 100%;
                    align-items: center;
                    align-self: center;
                    vertical-align: top;
                    margin-left: $space-s;
                    margin-bottom: 0;
        
                    @include mobile-xs {
                        margin-left: $space-xxs;
                    }

                    &:first-of-type,
                    &:last-of-type {
                        margin-left: 0;
                    }
        
                    .cmp-header-links__link > span {
                        float: left;
                        
                        @include mobile {
                            display: none;
                        }
                    }
        
                    svg,
                    img.inline-svg {
                        display: inline-block;
                        float: left;
                        width: 30px;
                        height: 25px;
                        padding-left: 0.3em;
        
                        .st0,
                        .st1 {
                            stroke: $color-gray-50;
                        }
        
                        @include mobile {
                            width: 26px;
                            height: 26px;
                            padding-left: 0;
                        }

                        @include mobile-xs {
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
    
            .top-bar__nav__user,
            .top-bar__nav__search,
            .top-bar__nav__cart {
                display: inline-flex;
            }

            .top-bar__nav__user {
                position: relative;
                z-index: 1000;
        
                @include mobile {
                    min-width: 0 !important;
                }
        
                .greeting-text {
                    display: none;
                }
        
                &__dropdown {
                    display: block;
                    width: 100%;
                    height: auto;
                    min-width: 135px;
                    position: absolute;
                    top: 71px;
                    left: 0px;
                    background-color: $color-white;
                    margin:0 !important;
                    padding-bottom: $space-s !important;
                    border-top: 4px solid $color-gray-50;
                    opacity: 0;
                    transition: all 0.2s ease;
                    visibility: hidden;
                    box-shadow: $shadow;
        
                    &__item{
                        margin: 0;
                        width: 100%;
        
                        a {
                            span{
                                display: block;
                                float: none;
                                padding: 14px 10px 2px 23px;
                            }
        
                            @include font-utility;
                            transition: $hover-transition;
            
                            &:hover {
                                color: $color-link;
                            }
            
                            &:active {
                                @include font-utility;
                            }
                        }
                        a:hover{
                            text-decoration: none;
                        }
                    }
                }
        
                &.loggedIn {      

                    .top-bar__nav__user__link {
                        svg .st1,
                        svg .st0{
                            stroke: $color-teal-30;
                        }  
                    }

                    .greeting-text {
                        display: inline-block;
        
                        @include mobile {
                            display: none
                        }
                    }
            
                    .sign-in-text {
                        display: none;
                    }
        
                    @include tablet-and-over{
                        &:hover{
                            .top-bar__nav__user__dropdown{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
        
        
        
                }
            }

            .top-bar__nav__mobile {
                display: none;

                &__divider {
                    border-left: 1px solid $color-border-light;
                    height: 2em;
                    margin: 0 $space-s;

                    @include mobile-xs{
                        margin: 0 $space-xxs;
                    }
                }
            }

            .top-bar__nav__mobile.is-used {
                display: inline-flex;

                @include tablet-and-over {
                    display: none;
                }
            }

        }
    }

    @include mobile {

        html.noscroll &__navigation{
            height: 100%;
            height: -moz-available;
            height: -webkit-fill-available; 
            height: fill-available;
            overflow-y: auto;
        }

        &__navigation{
            transition: $fade-transition;
            opacity: 0;
            display: none;

            .container{
                padding: 0;
            }

            &.is-active {
                opacity: 1;
                display: block;
            }
        }
    }
}

@include mobile {
    html.noscroll,
    html.noscroll body{
        overflow: hidden;
    }
    .cmp-header.is-fixed {
        position: fixed;
        height: 100%;
    }
}

.cmp-header-links__link{
    @include font-utility;
    display: inline-block;

    &:hover {
        color: $color-link;
        & svg .st0,
        & svg .st1 {
            stroke: $color-link;
        }
    }
    &:active {
        @include font-utility;
        & svg .st0,
        & svg .st1 {
            stroke: $color-icon;
        }
    }
}
