.cmp-iframe {
    iframe {
        width: 100%;
        outline: none;
        border: 1px solid $color-border-light;
        margin-bottom: $space-l;
    }

    .hide {
        display: none;
    }
}