img {
    max-width: 100%;
}

.cmp-image {
    max-width: 100%;
    margin: 0 0 $space-s 0;
}

.cmp-image__title {
    width: 100%;
    display: block;
    @include font-caption;
}

.cmp-image--border img {
    border: 1px solid $color-border-light;
}

div.image {
    margin-bottom: 2em;
}

.inline-svg {
    display: none;

    svg {
        display: none;
    }

    &.inlined-svg {
        display: block;

        svg {
            display: block;
        }
    }
}

svg.inline-svg {
    display: block;
}

a.cmp-utility-button {
    img.inline-svg {
        display: none;
    }
    > svg {
        min-height: 50px;
        padding-bottom: $space-m;

        &.inline-svg {
            display: inline-block;
        }

        &.inlined-svg {
            display: inline-block;
        }
    }
}
