.image-carousel {
    position: relative;
    width: 100%;
    text-align: center;
}

.image-viewer-container {
    width: 100%;
}

.image-viewer-container__image-figure {
    border: thin solid $color-border-light;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-clip: border-box;
    touch-action: none;
}

.image-viewer-container__image-figure--true
    > .image-viewer-container__image-element {
    opacity: 0;
}

.image-viewer-container__image-display {
    position: relative;
    display: inline-block;
}

.image-viewer-container__image-element {
    width: 100%;
    height: 100%;
}

.image-viewer-container__image-zoom {
    position: absolute;
    bottom: 12px;
    right: 14px;
    z-index: 1;

    @include mobile {
        bottom: 9px;
    }

    @include tablet {
        bottom: 16px;
        right: 18px;
    }

    svg {
        width: $icon-l;
        height: $icon-l;
        cursor: pointer;

        .st0 {
            stroke: $color-icon;
        }
    }
}

.image-thumbnail-wrapper {
    display: none; // TODO: add this style back when thumbnails are added => inline-block;
    text-align: left;
}

.image-carousel__thumbnails {
    display: flex;
}

.image-carousel__thumbnails .alice-carousel {
    width: 75%;
}

.image-carousel__thumbnails .alice-carousel__stage-item {
    margin-left: 0px;
    margin-right: 0px;
}

// IE CSS Hacks
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .image-viewer-container__image-display {
        display: static;
    }

    .image-thumbnail-wrapper {
        display: static;
    }

    .image-viewer-container__image-zoom {
        bottom: 15px;
        right: 16px;
    }
}

// Edge CSS Hacks
@supports (-ms-ime-align: auto) {
    .image-viewer-container__image-zoom {
        bottom: 15px;
        right: 16px;
    }
} 

// Firefox CSS Hacks
@-moz-document url-prefix() { 
    .image-viewer-container__image-zoom {
        position: absolute;
        bottom: 14px;
        right: 16px;
    }
}