.cmp-list {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    margin: 0;

    &__item {
        display: block;
        float: left;
        width: 100%;

        &-link {
            display: block;
            margin-bottom: 0;
        }

        &-description {
            margin: $space-xxs 0;
            @include multiLineEllipsis($lineCount: 3);
        }

        &-date {
            font-size: $font-size-small;

            @include mobile {
                font-size: $font-size-small-m;
            }
        }
    }
}
