// Styles for both lists and search results

@mixin list-container {
    float: left;
    width: 100%;
    margin-bottom: $space-m;
}

@mixin list-styles {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    margin: 0;
}

@mixin list-item {
    display: block;
    float: left;
    width: 100%;

    &-link {
        display: block;
        margin-bottom: 0;
    }

    &-description {
        margin: $space-xxs 0;
        @include multiLineEllipsis($lineCount: 3);
    }

    &-date {
        font-size: $font-size-small;
    }
    &-title {
        font-size: $font-size-h3;
    }
}

@mixin list-item-thumbnail {
    float: right;
    width: 12em;

    img {
        width: 100%;
        border: 1px solid $color-border-light;
        margin-bottom: $space-s;
    }

    @include mobile {
        width: 100%;
        margin-bottom: 0;
        margin-top: $space-s;
    }
}

@mixin list-item-body-includes-thumbnail {
    float: left;
    width: calc(100% - 14em);
    margin-right: $space-l;

    @include mobile {
        width: 100%;
    }
}
