@mixin tablet-and-under {
    @media screen and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin tablet-and-over {
    @media screen and (min-width: #{$tablet-width + 1px}) {
        @content;
    }
}

@mixin mobile-xs {
    @media screen and (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}
// Lists and Search Results

@mixin list-container {
    float: left;
    width: 100%;
    margin-bottom: $space-m;
}

@mixin list-styles {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    margin: 0;
}

@mixin list-item {
    display: block;
    float: left;
    width: 100%;

    &-link {
        @include font-h3;
        display: block;
        margin-bottom: $space-xxs;
    }

    &-description {
        @include multiLineEllipsis($lineCount: 3);
        margin-bottom: $space-xxs;
    }

    &-date {
        @include font-small;
    }
}

@mixin list-item-thumbnail {
    float: right;
    width: 12em;

    img {
        width: 100%;
        margin-bottom: $space-s;
        background: $color-white;
        border: 1px solid $color-border-light;
    }

    @include mobile {
        width: 100%;
        margin-bottom: 0;
        margin-top: $space-s;
    }
}

@mixin list-item-body-includes-thumbnail {
    float: left;
    width: calc(100% - 14em);
    margin-right: $space-l;

    @include mobile {
        width: 100%;
    }
}

@mixin non-IE11-browsers {
    @supports (display: inline-grid) {
        @content;
    }
}

@mixin IE11-only {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        @content;
    }
}