@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";

.mobile-back-btn {
  @include font-body;
  display: flex;
  justify-content: center;
  color: $color-link;
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  left: 0;
  margin-bottom: 0;

  svg,
  div {
    height: $icon-m;
    width: $icon-s;
    display: inline-block;
    margin-right: $space-xxxs;
  }

  span {
    font-size: $font-size-small;
  }

  svg .st0,
  svg .st1 {
    stroke: $color-link;
  }

  &:hover {
    color: $color-link-hover;
    & svg .st0,
    & svg .st1 {
      stroke: $color-link-hover;
    }
  }
  &:active {
    @include font-utility;
    & svg .st0,
    & svg .st1 {
      stroke: $color-link-hover;
    }
  }
}
.pinch-to-zoom {
  display: flex;
  justify-content: center;
  svg {
    width: $icon-m;
    height: $icon-m;
    padding-right: $space-xxxs;
  }
  .pinch-to-zoom-label {
    @include font-small;
  }
}

.moboverlay-preview-player-container {
  padding: $space-m 0;
}

.preview-area-wrapper {
  img {
    width: 100%;
  }
}
.preview-player {
  min-height: 55vh;
  margin: $space-xs $space-l;

  .preview-player-container {
    width: 100%;
  }
}

.image-description {
  @include font-body;
  font-style: italic;
  padding: $space-s $space-l 0 $space-l;
  overflow: scroll;
  height: $height-large;
  border-top: $border-light;
}

.mobile-thumbnail-container {
  padding: $space-m;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.video-title {
  @include font-h4;
  padding: 0 $space-l 0 $space-l;
}

.mobile-header-search-bar {
  left: 0;
}

@include mobile {
  .cmp-asset-display-modal {
    display: none;
  }
}

.moboverlay-preview-player-container {
  @include mobile {
    &.fit-on-zoom {
      .preview-player {
        margin: 0;
      }
      .preview-player-container {
        overflow: visible;
        .image-view-area {
          position: absolute;
          width: 100vw;
          height: 62vh;
          top: -4rem;
          figure {
            height: 61vh;
          }
        }
      }
    }
  }
}
