.cmp-modal-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba($color-black, 0.7);
    z-index: $cmp-modal-box-z-index;
    display: flex;

    @include mobile {
        display: block;
    }
}

.cmp-modal {

    background-color: $color-white;
    height: auto;
    position: relative;
    width: 30%;

    @include tablet-and-over {
        align-self: center;
        margin: auto;
    }

    @include tablet {
        width: 70%;
    }

    @include mobile {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .cmp-modal__box {
        padding: $space-m $space-xl;
        @include mobile {
            padding: $space-s;
        }
    }

    .cmp-modal__close-icon {
        border: none;
        padding: 0;
        margin-bottom: $space-s;
        @include mobile {
            display: contents;
        }
        svg {
            cursor: pointer;
            position: absolute;
            top: $space-s;
            right: $space-s;
            width: $icon-l;
            height: $icon-l;
            float: right;
            .st0,
            .st1 {
                stroke: $color-icon;
            }
            @include mobile {
                top: $space-xs;
                width: $icon-m;
                height: $icon-m;
                stroke: $color-icon;
                z-index: $cmp-modal-box-close-btn-z-index;
            }
        }
    }

    .cmp-modal__title {
        .cmp-modal__title-icon {
            margin-right: $space-xxs;
            display: inline-block;
            svg {
                height: $icon-l;
                width: $icon-l;
                @include mobile {
                    height: $icon-m;
                    width: $icon-m;
                }
                vertical-align: bottom;
                polyline {
                    stroke-width: 2px;
                    stroke: $color-accent;
                }
            }
        }
        .cmp-modal__title-text {
            @include font-h2;
            display: inline-block;
            margin-bottom: 0;
            @include mobile {
                @include font-body;
                @include font-utility;
                margin-bottom: 0;
            }
        }

        @include mobile {
            top: $space-xs;
            width: 115%;
            left: -3px;
            position: absolute;
            -webkit-box-shadow: 0px 4px 2px -2px $color-gray-20;
            -moz-box-shadow: 0px 4px 2px -2px $color-gray-20;
            box-shadow: 0px 4px 2px -2px $color-gray-20;
            padding-bottom: $space-xs;
            padding-left: $space-s;
        }
    }

    .cmp-modal__information {
        margin-top: $space-l;

        @include mobile {
            margin-top: $space-xl + 1;
        }

        .cmp-modal__information-header {
            @include font-body;
            @include font-utility;
            margin-bottom: $space-xxs;
            margin-top: -$space-xxs;
        }

        .cmp-modal__information-text {
            @include font-h3;
            color: $color-black;
        }
    }

    .cmp-modal__btn {
        margin-top: $space-m;

        .cmp-modal__btn-main {
            @include tablet-and-over {
                width: 100%;
            }
            float: none;
            margin-bottom: $space-s;
        }

        .cmp-modal__btn-alt {
            @include tablet-and-over {
                width: 100%;
            }
            cursor: pointer;
            text-transform: capitalize;
            background: none;
            border: none;
            float: none;
            @include font-body;
            margin-bottom: 0;
            color: $color-link;
            &:hover {
                color: $color-link-hover;
                text-decoration: underline;
            }
        }
    }
}

/////// MY-ACCOUNT DROPDOWN MODAL
@include mobile {

    .cmp-modal.my-account-dropdown{
        .cmp-modal__box {
            @include mobile {
                padding: ($space-m - $space-xxxs);
            }
        }
    }


    .cmp-modal-box.my-account-dropdown {
        position: absolute;
        top: 66px;
        border-top: 1px solid $color-border-light;
    }

    .cmp-modal.my-account-dropdown {
        .cmp-modal__title {
            left: 0;
            .cmp-modal__title-icon {
                display: none;
                margin-right: $space-xxs;
                height: $icon-m;
                width: $icon-m;

                svg {
                    .st0,
                    .st1 {
                        stroke: $color-teal-30;
                    }
                }
            }
        }
    }

}