.cmp-modal-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba($color-black, 0.7);
    z-index: $cmp-modal-box-z-index;
    display: flex;

    @include mobile {
        display: block;

        &.cmp-modal-box__site-nav-on-mobile {
            position: absolute;
            top: 66px;
            border-top: 1px solid $color-border-light;
        }
    }
}

.cmp-modal {

    background-color: $color-white;
    height: auto;
    position: relative;
    width: 30%;

    @include tablet-and-over {
        padding: 1.5em 3em;
        align-self: center;
        margin: auto;
    }

    @include tablet {
        width: 70%;
    }

    @include mobile {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .cmp-modal__header {
        display: flex;
        flex-wrap: wrap;

        @include mobile {
            padding: 1em 0;

            &.header-with-title:after{
                box-shadow: 0 4px 2px -2px #e3e6e9;
                content: '';
                width: 100%;
                height: 9px;
                margin-top: -9px;
                padding-bottom: calc(1em - 9px);
            }
        }

        .cmp-modal__title {
            .cmp-modal__title-icon {
                margin-right: $space-xxs;
                display: inline-block;

                svg {
                    height: $icon-l;
                    width: $icon-l;
                    position: relative;
                    top: 3px;
                    @include mobile {
                        height: $icon-m;
                        width: $icon-m;
                        top: 2px;
                    }

                    vertical-align: bottom;
                    
                    .st0, .st1, polyline {
                        //this is the default modal icon color
                        stroke: $color-icon;
                    }

                }
            }
            .cmp-modal__title-text {
                @include font-h2;
                display: inline-block;
                margin-bottom: 0;
                @include mobile {
                    @include font-body;
                    @include font-utility;
                    margin-bottom: 0;
                }
            }
    
            @include mobile {
                padding-left: 1em;
                flex-grow: 1;
            }
        }
        
        .cmp-modal__close-icon {
            border: none;
            padding: 0;
            margin-bottom: $space-s;
            margin-left: auto;
            @include mobile {
                padding-right: 1em;
                margin-bottom: 0;
            }
            svg {
                cursor: pointer;
                width: $icon-l;
                height: $icon-l;
                
                .st0,
                .st1 {
                    stroke: $color-icon;
                }
                
                @include tablet-and-over {
                    position: absolute;
                    top: $space-s;
                    right: $space-s;
                    float: right;
                }

                @include mobile {
                    width: $icon-m;
                    height: $icon-m;
                    stroke: $color-icon;
                }
            }
        }


        &.header-with-title-centered {
            .cmp-modal__title {
                @include tablet-and-over {
                    margin-left: auto;
                }

            }
        }

        &.header-with-added-margin-top {
            @include tablet-and-over {
                margin-top: 1em;
            }
        }
    }

    & > div:not(:nth-child(1)) {
        @include mobile {
            padding: 0 $space-s;
        }
    }
}