.cmp-my-account {
    &__body {
        margin-bottom: $space-l + 0.5em;
    }

    &__tiles {
        width: 200%;
        background: $color-background-light;
        padding: $space-l 50%;
        margin-left: -50%;
    
        @include mobile {
            padding: $space-s 50%;
        }
    
        .tile {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
    
            @include tablet-and-under {
                flex-wrap: wrap;
                justify-content: start;
            }
    
            & > .cmp-linktile {
                @include tablet-and-under {
                    width: calc(50% - 0.75em);
                }
    
                @include mobile {
                    width: 100%;
                }
    
                &:first-child {
                    margin-right: $space-l;
    
                    @include tablet-and-under {
                        margin-right: $space-m;
                    }
    
                    @include mobile {
                        margin: 0;
                        margin-bottom: $space-s;
                    }
                }
    
                &:last-child {
                    margin-left: $space-l;
    
                    @include tablet-and-under {
                        margin: 0;
                        margin-top: $space-s;
                    }
                }
    
                .cmp-linktile--title {
                    font-weight: $font-weight-light;
                }
            }
        }
    }

    &__aside-wrapper {
        margin-top: -7px;

        display: grid;

        grid-template-rows: 100px auto;
        grid-template-columns: 400px auto;

        grid-template-areas:
            "title content-area"
            "aside content-area";

        .cmp-title {
            grid-area: title;
        }

        @include tablet-and-under {
            margin-top: 0px;
            display: block;
        }
    }

    &__aside-links {
        grid-area: aside;
        display: flex;
        flex-direction: column;

        .tile {
            margin-bottom: $space-m + 0.375em;
        }

        .tile:last-child {
            margin-bottom: 0px;
        }

        .tile__title {
            font-weight: $font-weight-bold;
        }

        .tile__links {
            display: flex;
            flex-direction: column;

            a, .link--active {
                margin-top: $space-xxs + 0.125em;
            }
        }

        @include tablet-and-under {
            display: none;
        }
    }

    &__aside-content {
        grid-area: content-area;
    }
}