.navigation {
   position: relative;
   float: none!important;
   background-color: $color-white;
   z-index: 998;
   height: 67px;
   width: 105%!important;
   padding: 0 $space-xl;
   margin: 0 (($space-xl - (14/(16*1.1)))*-1)!important; 
}

nav.cmp-navigation {
   white-space: nowrap;
   overflow: hidden;
   height: inherit;

   &::after {
       width: 102.5%;
       height: 67px;
       content: '';
       position: absolute;
       box-shadow: none; 
       left: -1.25%;
       top: 0;
       z-index: 1000;
       visibility: hidden;
       background: none;
       pointer-events: none;
   }

   &.cmp-navigation--shadow::after {
       box-shadow: 0px 15px 5px -15px rgba(79, 91, 100, 0.2); 
   }

   &:hover {
      &::after {
         visibility: visible;
      }
   }

   & > .cmp-navigation__group {
      padding: 0;
      -ms-overflow-style: none;
      overflow-x: scroll;
      margin-bottom: 0;

      &::-webkit-scrollbar {
         display: none;
      }

      & > .cmp-navigation__item {
         @include font-h3;
         margin-right: $space-xl;
         margin-bottom: 0;
         display: inline-block;

         &--level-0 {
            height: 67px;
            z-index: 1001;
            align-content: center;
            display: inline-grid;
            border-top: 3px solid transparent;

            &:hover {
               cursor: pointer;
               border-top: 3px solid  $color-gray-50;
            }
            
            &::after {
               content: '';
               margin-top: -49px;
               margin-bottom: -18px;
               position: relative;
               left: 100%;
               margin-right: -3.3em;
               max-width: 3.3em;
            }
         }

         & > .cmp-navigation__item-link {
            color: $color-font-medium;
            -webkit-transition: none;
            -o-transition: none;
            -moz-transition: none;
            transition: none;

            &:hover {
               color: $color-font-dark;
               text-decoration: none;
            }

         }

         & > .cmp-navigation__group {
            white-space: initial;
            position: absolute;
            top: 67px;
            left: 0;
            z-index: 99;
            visibility: hidden;
            list-style: none;
            padding: $space-l $space-xl  $space-xl $space-xl;
            background-color: $color-white;
            width: 100%;

            & > .cmp-navigation__item {
               @include font-h3;
               margin-bottom: 0;
               padding-bottom: $space-s;
            }
         }

         & > .cmp-navigation__group.cmp-navigation__group--col-1 {
            columns: 1;
         }

         & > .cmp-navigation__group.cmp-navigation__group--col-2 {
            columns: 2;

            & > .cmp-navigation__item {
               break-inside: avoid;
            }
         }

         & > .cmp-navigation__group.cmp-navigation__group--col-3 {
            columns: 3;

            & > .cmp-navigation__item {
               break-inside: avoid;
            }
         }

         &:hover > .cmp-navigation__group {
            visibility: visible;

            & .cmp-navigation__item-link {
               -webkit-transition: none;
               -o-transition: none;
               -moz-transition: none;
               transition: none;
            }
         }
      }
   }
}

.cmp-navigation__item-link {
   -webkit-transition: none;
   -o-transition: none;
   -moz-transition: none;
   transition: none;
}

.cmp-navigation-overlay__container {
   &.overlay-container {
      z-index: 97;
      visibility: hidden;
   }
}