.cmp-navigation {
   
   &:hover {
      box-shadow: 0px 2px 1px -1px rgba(79, 91, 100, 0.2);
   }

   .cmp-navigation__group {
      padding: 0;
      
      .cmp-navigation__item {
         @include font-h3;
         margin-right: $space-xl;
   
         display: inline-block;

         &--level-0 {
            height: 67px;
            align-content: center;
            display: inline-grid;

            &:hover {
               border-top: 3px solid $color-gray-50;
            }
         }

         &-link {
            color: $color-font-medium;

            &:hover {
               color: $color-font-dark;
               text-decoration: none;
            }
         }
      }
   }
}
