$level0MobileDisplay: flex;

.navigation {
   position: relative;
   float: none!important;
   background-color: rgba(255, 255, 255, 1);
   z-index: $navigation-z-index;
   height: 73px;
   width: 105%!important;
   padding: 0 $space-xl;
   margin: 0 ($space-xl * -1)!important;

   @supports (display: inline-grid) {
      height: 56px;
   }

   &:hover {
      background-color: rgba(255, 255, 255, 1);
   }

   @include mobile {
      height: auto;
      width: 100% !important;
      margin: 0 !important;
      padding: 0;

      &:hover {
         box-shadow: none;
      }
   }
}

nav.cmp-navigation {
   white-space: nowrap;
   overflow: hidden;
   height: inherit;

   @include tablet-and-over {
      // NOTE: TABLET & ABOVE ONLY TO PREVENT SCROLLING/OVERLFLOW ISSUES
      &::after {
         width: 102.5%;
         height: 56px;
         content: '';
         position: absolute;
         box-shadow: none;
         left: -1.25%;
         top: 0;
         z-index: $navigation-after-z-index;
         visibility: hidden;
         background: none;
         pointer-events: none;
      }
   }

   &.cmp-navigation--shadow::after {
       box-shadow: 0px 15px 5px -15px rgba(79, 91, 100, 0.2);
   }

   &:hover {
      &::after {
         visibility: visible;
      }
   }

   .cmp-navigation__group {
      cursor: default;
   }

   & > .cmp-navigation__group {
      padding: 0;
      margin-bottom: 0;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: hidden;
      -ms-overflow-y: hidden;
      
      &.fader-fade {
         overflow-x: hidden;
         -ms-overflow-x: hidden;

         &.fader-fade--right {
            overflow-x: scroll;
            -ms-overflow-x: scroll;
         }

         &.fader-fade--left {
            overflow-x: scroll;
            -ms-overflow-x: scroll;
         }
      }

      &::-webkit-scrollbar {
         display: none;
      }

      @include mobile {
         overflow-y: scroll;

         > .cmp-navigation__item {
            width: 100%;
         }

         &.is-expanded > .cmp-navigation__item.is-active .cmp-navigation__group-wrapper {
            visibility: visible;
            display: block;
            overflow-x: hidden;
            overflow-y: auto;
            opacity: 1;
         }

         &.is-expanded > .cmp-navigation__item.is-active {
            display: $level0MobileDisplay;
            flex-direction: column;
            height: 100vh;
            position: fixed;
            padding-bottom: 150px;

            & > .cmp-navigation__container {
               min-height: 56px;
               padding: $space-s $space-m $space-s ($space-xl - 0.7em);
               border-left: 4px solid $color-gray-50;
               flex-grow: 0;

               & > .arrow.left{
                  display: block;
                  position: absolute;
                  left: $space-xs;
               }

               & > .arrow.right{
                  display: none;
               }
            }
         }

         &.is-expanded > .cmp-navigation__item{
            display: none;
         }
      }


      & > .cmp-navigation__item {
         @include font-h4; 
         margin-right: $space-xl;
         margin-bottom: 0;
         display: inline-block;
         overflow: visible;

         &--level-0 {
            height: 56px;
            z-index: $navigation-level-0-z-index;
            align-content: center;
            display: inline-table;
            border-bottom: 3px solid transparent;
            border-top: 3px solid adjust-color($color-gray-50, $alpha: -1);

            @supports (display: inline-grid) {
               display: inline-grid;
            }

            @include mobile {
               transition-property: none;
               display: $level0MobileDisplay;
               margin: 0;
               padding: 0;
               border-top: 0px none transparent;
               height: auto;
               white-space: normal;
            }

            svg,
            img.inline-svg {
               width: $icon-m;
               height: $icon-m;
               margin-top: 2px;

               .st0 {
                  stroke: $color-icon;
               }
            }


            &:hover {
               cursor: pointer;
               border-top: 3px solid  $color-gray-50;

               .cmp-navigation__group-wrapper {
                  opacity: 1;
                  visibility: visible;
               }

               @include mobile {
                  border-top: 0px none transparent;
               }
            }


            @include tablet-and-over {
               &::after {
                  content: '';
                  margin-top: -49px;
                  margin-bottom: -20px;
                  position: relative;
                  left: 100%;
                  margin-right: -3.3em;
                  max-width: 3.3em;
                  display: block;
                  height: 117px;

                  @supports (display: inline-grid) {
                     height: 68px;
                  }
               }
            }
         }

         & > .cmp-navigation__container{
            display: table-cell;
            vertical-align: middle;

            @supports (display: inline-grid) {
               display: block;
            }

            @include mobile {
               display: flex;
               padding: $space-s $space-m;
               width: 100%;
               border-left: 4px solid transparent;
               border-bottom: 1px solid $color-border-rule;
               height: auto;
            }
            & > a {
               align-self: center;
            }

            & > .arrow {
               display: inline-block;
               justify-self: end;
               align-self: center;

               &.left{
                  display: none;
               }
               &.right{
                  display: block;
                  margin-left: auto;
               }
               @include tablet-and-over {
                  display: none !important;
               }

            }


            & .cmp-navigation__item-link {
               @include font-h3;
               color: $color-font-dark;
               margin-bottom: 0;
               -webkit-transition: none;
               -o-transition: none;
               -moz-transition: none;
               transition: none;
               vertical-align: middle;
               display: table-cell;

               @supports (display: inline-grid) {
                  display: block;
               }

               @include mobile {
                  width: 100%;
                  white-space: pre-wrap;
                  margin: 0;
               }

               &:hover {
                  color: $color-font-dark;
                  text-decoration: none;
               }

            }
         }

         & .cmp-navigation__group-wrapper {
            white-space: initial;
            z-index: $navigation-group-z-index;
            opacity: 0;
            visibility: hidden;
            padding: $space-l $space-xl $space-l $space-xl;
            background-color: $color-white;
            width: 100%;
            display: flex;

            @include tablet-and-over {
               position: absolute;
               top: 56px;
               left: 0;
            }
            @include mobile {
               display: none;
               padding: $space-s $space-xl $space-xl ($space-xl - 0.5em);
            }
         }

         & .cmp-navigation__group {
            width: 75%;
            list-style: none;
            padding-left: 0em;

            @include tablet {
               width: 65%;
            }

            @include mobile {
               width: 100%;
            }

            & > .cmp-navigation__item {
               margin-bottom: 0;
               padding-bottom: $space-xs;
               padding-right: $space-xl;
            }
         }

         & .cmp-navigation__adobe-target-container {
            width: 25%;

            @include tablet {
               width: 35%;
            }

            @include mobile {
               width: 100%;
            }

            .notification {
               padding-left: 0px;
               padding-right: 0px;
            }


            .cmp-notification-wrapper {
               margin-top: $space-s;
            }
            

            .cmp-links__item {
               margin-bottom: $space-xxs;
            }

            .layoutcontainer--light {
               margin-bottom: $space-s;

               @include mobile {
                  margin-top: $space-m;
               }
            }

            div.links {
               margin-bottom: 0;
            }
         }

         @include tablet-and-over {
            & .cmp-navigation__group.cmp-navigation__group--col-1 {
               columns: 1;
            }

            & .cmp-navigation__group.cmp-navigation__group--col-2 {
               columns: 2;

               & > .cmp-navigation__item {
                  break-inside: avoid;
               }
            }

            & .cmp-navigation__group.cmp-navigation__group--col-3 {
               columns: 3;

               & > .cmp-navigation__item {
                  break-inside: avoid;
               }
            }

            &:hover .cmp-navigation__group {
               visibility: visible;
               opacity: 1;

               & .cmp-navigation__container .cmp-navigation__item-link {
                  -webkit-transition: none;
                  -o-transition: none;
                  -moz-transition: none;
                  transition: none;
                  @include font-h3;
               }
            }

         }
      }
   }
}

.cmp-navigation__container .cmp-navigation__item-link {
   -webkit-transition: none;
   -o-transition: none;
   -moz-transition: none;
   transition: none;
   font-weight: $font-weight-light;
}

.cmp-navigation-overlay__container {
   &.overlay-container {
      z-index: $navigation-overlay-z-index;
      visibility: hidden;
      opacity: 0;
      transition-timing-function: linear;
      transition-duration: 0.25s;
      transition-property: visibility, opacity;
      transition-delay: 0.25s, 0s;
      pointer-events: none;

      @include mobile {
         display: none;
      }
   }
}
