.cmp-notification {
    &-wrapper,
    &--sitewide {
        display: flex;
        justify-content: center;
        background-color: $color-background-light;
        padding: $space-s;
        margin-bottom: $space-l;

        @include mobile {
            padding: $space-m;
        }

        svg {
            display: inline-block;
            height: $icon-m;
            width: $icon-l;
            padding-right: $space-xxs;
            margin-top: 0.1em;
            .st0 {
                stroke: $color-icon;
            }

            @include mobile {
                margin-bottom: $space-xxs;
                padding-right: 0;
            }
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            svg {
                height: $icon-l;
            }
        }
    }

    &--sitewide {
        background-color: $color-blue-10;
        padding-left: 0px;
        padding-right: 0px;
    }

    &-dismiss {
        display: inline;
        padding-left: $space-xxs;
    }

    &-separator {
        color: $color-gray-30;
        padding-right: $space-xxxs;
        padding-left: $space-xxxs;
    }

    &-body {
        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-description {
        display: inline;
        text-align: center;
    }

    &-title {
        font-weight: $font-weight-bold;
        padding-right: $space-xxxs;
        display: inline;

        @include mobile {
            padding-right:0;
            text-align: center;
            margin-bottom: $space-xxs;
        }
    }

    &-links {
        display: inline;
        list-style-type: none;
        padding-left: $space-xxs;
        li {
            display: inline;
        }

        @include mobile {
            display: block;
            margin-top: $space-s;
        }
    }
}

.cmp-notification--dynamic {
    height: 0;
    .cmp-notification-wrapper {
        transform: scale(0);
    }

    &.error {
        height: auto;
        .cmp-notification-wrapper {
            transform: scale(1);
        }
    }
}

.cmp-specification-table {
    .cmp-notification-wrapper {
        justify-content: normal;
        background-color:transparent;
        padding: $space-s 0;
    }
}

.cmp-sku-details--sticky {
    .cmp-notification-wrapper {
        display: none;
    }
}

.cmp-sku-list__container  {
    .cmp-notification-wrapper {
        justify-content: left;
        padding: $space-xxs 0 0 0;

        @include IE11-only {
            justify-content: flex-start;
        }

        @include mobile {
            padding: $space-xxs 0 0 0;
        }
    }
}

// Style System

.cmp-notification--sitewide {
    .cmp-notification-wrapper {
        background-color: $color-blue-10;
        border-top: 1px solid $color-blue-20;
        border-bottom: 1px solid $color-blue-20;
        margin: 0 -30% 0;
    }
}

.cmp-notification--left {
    .cmp-notification-wrapper {
        justify-content: left;
        background-color: transparent;
        padding: 0;
    }
}

.cmp-notification--feature {
    .cmp-notification-wrapper {
        background-color: transparent;
        border-top: 1px solid $color-border-accent;
        border-bottom: 1px solid $color-border-accent;
    }
}

.cmp-notification--error {
    .cmp-notification-wrapper {
        transition: transform 200ms ease-in-out;

        svg {
            .st0 {
                stroke: $color-error;
            }
        }
    }
}

.container-sitewide-notification {
    background-color: $color-blue-10;
}