#my-account {
    .cmp-order-details {

        &__container {
            display: flex;
            flex-wrap: wrap;

            @include mobile {
                flex-direction: column;
                flex-wrap: nowrap;
            }

            h2 {
                order: 0;
                flex-grow: 2;
                width: 100%;
                margin-bottom: $space-s;
            }
        }

        &__no-results {
            @include font-h2;
            padding: $space-xl 0 $space-xl;
        }

        &__new-details-link-text {
            background: $color-gray-10;
            @include font-body;
            width: 100%;
            display: flex;  
            flex-direction: row;
            line-height: $icon-m; 
            @include mobile {  
                flex-direction: column;
            } 
            .new-details-link-section{
                padding: $space-xxs 0;
                color: $color-link;
                .new-details-text{
                    display: inline-block;
                    vertical-align: top;
                    line-height: $icon-m;
                }
                .new-details-icon {
                    margin-right: $space-xxs;
                    display: inline-block;
                    padding-left: $space-xxxs;
                    line-height: $icon-m; 
                    svg {
                        height: $icon-m;
                        width: $icon-m;
                        .st0,
                        .st1, g {
                            stroke-width: 1.5px;
                            stroke: $color-link;
                        }
                    }
                    &:hover {
                        color: $color-link-hover;
                        text-decoration: underline;
                        transition: $hover-transition;
                    }
                }
            }
            .new-details-status-icon{
                flex: auto;
                text-align: right;
                padding-top: $space-xxs;
                padding-right: $space-xxs;
                @include mobile {  
                    text-align: left;
                    padding: $space-xxxs;
                } 
            }
            
        }

        &__order-info {
            order: 1;
            flex-grow: 1;
            width: 50%;

            @include mobile {
                width: 100%;
            }

            .cmp-order-details__order-number {
                @include font-h3;
                width: 100%;
            };

            .cmp-order-details__order-date {
                @include font-utility;
                width: 100%;
            }

            h4 {
                @include font-h4;
                margin-bottom: $space-xxxs;
            }
            .text {
                @include font-body;
            }

            .cmp-order-details {
                &__address-container {
                    display: flex;
                    margin-top: $space-l;

                    .cmp-order-details {
                        &__ship-to, &__bill-to {
                            flex: 1;
                            @include font-body;
                            margin-right: $space-m;

                                .postalcode {
                                    white-space: nowrap;
                                }
                        }
                    }
                }

                &__payment-container {
                    display: flex;
                    margin-top: $space-s;

                    .cmp-order-details {
                        &__payment-method {
                            display: flex;
                            flex: 1;
                            flex-wrap: wrap;
                            @include font-body;

                            h4 {
                                width: 100%;
                            }

                            svg {
                                width: $icon-s;
                                height: $icon-s;
                                margin-right: $space-xxs;
                                margin-top: 0.4em;
                            }
                        }
                    }
                }
            }

        }

        &__order-summary {
            order: 1;
            flex-grow: 1;
            min-width: 25%;
            justify-content: space-between;

            @include mobile {
                width: 100%;
            }

            h4 {
                background-color: $color-background-dark;
                padding: ($space-xxxs - .1em) $space-xxs ($space-xxxs + .1em) ($space-xxs + .1em);
                @include font-h4;
                color: $color-font-light;
                margin-bottom: $space-xs;
                border-radius: $border-radius;
            }

            .cmp-order-details__order-subtotal,
            .cmp-order-details__order-savings,
            .cmp-order-details__order-shipping,
            .cmp-order-details__order-tax,
            .cmp-order-details__order-total {
                display: flex;

                @include font-body;
                margin-bottom: $space-xxs;

                &_left {
                    flex: 2;
                }
                &_right {
                    flex: 1;
                    text-align: right;
                }
            }

            .cmp-order-details__order-tax {
                border-bottom: $border-divider-large;
                padding-bottom: $space-xs;
                margin-bottom: $space-xxxs;
            }

            .cmp-order-details__order-total {
                &_left {
                    @include font-body;
                    padding-top: $space-xxs;
                    max-width: 100px;
                    @include mobile {
                        padding-top: $space-xxxs;
                    }
                }
                &_right h1 {
                    @include font-h1;
                }
            }

            .cmp-button {
                width: 100%;
            }

        }

        &__order-shipment-list {
            order: 2;
            width: 100%;

            .order-shipment-list__hr {
                margin: $space-l 0;
                background-color: $color-border-medium;
                border: none;
                height: 1px;
            }

            .cmp-order-details__shipment-title {
                text-transform: capitalize;
            }

            .order-shipment {
                margin-top: $space-xl;

                @include mobile {
                    margin-top: $space-m;
                }

                .showing-item-counter {
                    @include mobile {
                        display: none;
                    }
                    @include tablet {
                        display: none;
                    }
                }

                .order-shipment-header {
                    padding: 0;
                    width: 100%;
                    margin-bottom: $space-xxs;
                    clear: both;
            
                    @include mobile {
                        min-height: 0px;
                        padding-bottom: $space-xxs;
                    }
        
                    &__left {
                        display: inline-block;
                        width: 50%;
                        vertical-align: bottom;
        
                        @include mobile {
                            width: 100%;
                            margin-left: 0;
                            margin-bottom: $space-xxs;
                        }
        
                        .order-shipment-header__shipment-count { 
                            @include font-h3;   
                            line-height: 1.1em;
                            height: 1.1em;
                            padding-right: $space-xs;
                            margin-right: $space-xs;
                            border-right: $border-light;
                            display: inline-block;
                        }
        
                        .order-shipment-header__item-count { 
                            height: 1.1em;
                            display: inline-block;
                        }
                    }
        
                    &__right {
                        display: inline-block;  
                        vertical-align:top;
                        width: 45%;
                        margin-left: 5%;
                        .cmp-order-list__del-status {
                            //@include font-h3;   
                            @include font-utility;   
                            text-align: right;
                            margin-bottom: $space-xxs;
        
                            @include mobile {  
                                text-align: left;
                            } 
        
                            .cmp-order-list-delivery__icon {
                                display: inline-block;  
                                line-height: $icon-m; 
        
                                svg {
                                    height: $icon-m;
                                    width: $icon-m;
                                    .st0,
                                    .st1 {
                                        stroke-width: 1.0px;
                                        stroke: $color-icon;
                                    }
                                }
                                margin-right: $space-xxs;
                            }
        
                            .cmp-order-list-delivery__icon__complete {
                                display: inline-block;  
                                line-height: $icon-m; 
                                
                                svg {
                                    height: $icon-m;
                                    width: $icon-m;
                                    .st0,
                                    .st1 {
                                        stroke-width: 1.5px;
                                        stroke: $color-teal-30;
                                    }
                                }
                                margin-right: $space-xxs;
                            }
        
                            .cmp-order-list-delivery__text {
                                display: inline-block; 
                                vertical-align: top;
                                line-height: $icon-m; 
                            }
                        }
                        .cmp-order-list__view-shipments {
                            @include font-h3; 
                            color: $color-link;
                            margin-bottom: $space-xxs;
                        }
        
                        @include mobile {
                            float: left;
                            width: 100%;
                            margin-left: 0;
                        }
                    }
                }  
            }
        }
    }
}