#my-account {
    .cmp-tabs {
        margin-bottom: 0px;

    }

    .cmp-search__resultsCount-container {
        position: inherit;
        width: 300px;
        float: left;
        left: 0px;
        margin-bottom: $space-xxs;
        padding-top: $space-m;

        @include mobile {
            width: 100%;
        }
        .cmp-search__resultsCount {
            padding-bottom: $space-xs;
        }
    }

    .cmp-search-sortby {
        width: 200px;
        float: right;
        margin-bottom: $space-xxs;
        @include mobile {
            width: 100%;
        }
    }
    
    .cmp-order-list {

        &__container {
            background-color: $color-background-light;
            padding: $space-s $space-m 0 $space-m;
            width: 100%;
            margin-bottom: $space-xxs;
            clear: both;
    
            @include mobile {
                padding-bottom: $space-xxs;
            }
    
            &.disabled {
                .cmp-order-details__left {
                    min-height: 150px;
    
                    @include mobile {
                        min-height: 0px;
                        padding-bottom: $space-s;
                    }
                }
            }

            .cmp-order-list__right {
                float: right;
                width: 12em;
                margin-left: $space-m;
                .cmp-order-list__del-status {
                    @include font-h3; 
                    margin-bottom: $space-xxs;
                    display: flex;

                    .cmp-order-list-delivery__icon {
                        svg {
                            height: $icon-m;
                            width: $icon-m;
                            .st0,
                            .st1 {
                                stroke-width: 1.0px;
                                stroke: $color-icon;
                            }
                        }
                        margin-right: $space-xxs;
                    }

                    .cmp-order-list-delivery__icon__complete {
                        svg {
                            height: $icon-m;
                            width: $icon-m;
                            .st0,
                            .st1 {
                                stroke-width: 1.5px;
                                stroke: $color-teal-30;
                            }
                        }
                        margin-right: $space-xxs;
                    }
                }
                .cmp-order-list__view-shipments {
                    @include font-h3; 
                    color: $color-link;
                    margin-bottom: $space-xxs;
                }

                @include mobile {
                    float: left;
                    width: 100%;
                    margin-left: 0px;
                }
            }

            .cmp-order-list_hr {
                display: none;
                @include mobile {
                    display: block;
                    width: auto;
                    margin: $space-xs  0;
                }
            }
            //.cmp-order-details__left{
                .cmp-order-list__code {
                    @include font-h3; 
                    color: $color-link;
                    width: 50%;
                    margin-bottom: $space-xxs;
                    @include mobile {
                        width: 100%;
                    }
                }
                .cmp-order-list__date {
                    @include font-small; 
                    width: 50%;
                    color: $color-gray-50;
                    @include mobile {
                        width: 100%;
                    }
                }
                .cmp-order-list__line-item-count {
                    @include font-small;
                    color: $color-gray-50;
                    width: 50%;
                    display: none;

                    @include mobile {
                        display: block;
                        width: 100%;
                    }
                }
                .cmp-order-list__total {
                    @include font-h1; 
                    width: 50%;
                    padding-bottom: $space-xxs;
                    @include mobile {
                        width: 100%;
                    }
                }
            //}
        }  
        &__title {
            @include font-h3;
            margin-bottom: $space-xxs;

            @include tablet-and-under {
                margin-bottom: $space-s;
            }
        }

        &__no-results {
            border: $border-dotted;
            text-align: center;
            padding: $space-xl 0 $space-xl;
            .icon {
                margin: 0 auto $space-s auto;
                height: $icon-xl;
                width: $icon-xl;
                svg {
                    max-height: $icon-xl;
                    .st0 {
                        stroke: $color-gray-30;
                    }
                }
            }
        }
    }
}