@import "variables.scss";
@import 'mixins.scss';
@import 'typography.scss';

.overlay-image-thumbnails-placeholder {
  margin-top: $space-l;
}
.overlay-image-view-placeholder {
  .image-area-wrapper {
    margin: 0 $space-s;
    max-width: 950px;
    img {
      width: 100%;
    }
  }  
}

.tap-to-zoom {    
  display: flex;
  justify-content: center;
  svg {
    width: $icon-m;
    height: $icon-m;
    padding-right: $space-xxxs;
  }
  .zoom-label {
    @include font-utility;
  }
}

.image-description {
  border-top: $border-light;
  padding-top: $space-xxs;
  @include font-caption;
}
