.cmp-title__print, .cmp-qr-code {
    display: none;
}

@media print {
    @page {

        size: A4;

        @bottom-left {
            content: element(header);
            border-top: 1px solid #c6cdd2;
            margin-top: -40px;
            margin-right: -235px;
        }

        @bottom-right {
            content: counter(page);
            border-top: 1px solid #c6cdd2;
            @include font-xsmall;
            margin-top: -40px;
        }
    }

    .cmp-title__print {
        display:block;
        @include font-xsmall;
        bottom: 0;
        position: running(header);
        position: fixed;
    }

    * {
        float:none !important;
    }

    body{
        padding: 0;
    }

    .container {
        padding: 5px;
    }

    .cmp-anchor, .cmp-external-header__links, .mopinion-survey-content, .cmp-share, a.cmp-back-to-top, .cmp-external-footer__links, .cmp-external-list__link::after, a.cmp-button ,a.cmp-utility-button{
        display: none;
    }

    .layoutcontainer .cmp-section-container__title{
        padding: 0.5em 0 0.5em 0;
    }

    .cmp-external-footer {
        background-color: $color-white;
        padding: $space-m 0 $space-m 0;
        margin-top: $space-xl;
        overflow: hidden;
        clear: both;
        border-top: 1px solid #c6cdd2;
    }

    .cmp-external-footer__logo {
        float: left !important;
    }

    .cmp-external-footer__copyright {
        float: right !important;

        p {
            color: $color-gray-50;
        }
    }

    .sectioncontainer {
        page-break-before: always;
    }

    h4, p {
        widows: 3;
        orphans: 3;
    }

    .image, .table {
        page-break-inside: avoid;
    }

    .cmp-external-header {
        border-bottom: none;
        width: 100%;
    }

    .cmp-qr-code {
        @include font-xsmall;
        padding-top: $space-xs;
        display: unset;
        float: right !important;
    }

    .cmp-qr-code__img {
        vertical-align: middle;

        &::after {
            border-bottom: 1px solid #c6cdd2;
        }
    }

    .cmp-section-container .cmp-text{
        p,li{
            width: 120%;
        }
    }

    .cmp-image__title {
        font-size: $font-size-xsmall;
    }

    .cmp-accent-rule hr {
       width: 4em;
    }

    .cmp-tag-list--label .cmp-tag-list__item {
       font-size: $font-size-xsmall;
    }

    h1 {
       font-size: $font-size-h1-s;
       padding-bottom: $space-s;
       margin-right: -135px;
    }

    h2 {
       font-size: $font-size-h2-s;
    }

    h3 {
       font-size: $font-size-h3-s;
       font-weight: medium;
    }

    p , h4 , li{
       font-size: $font-size-h4-s;
    }

}