.cmp-title__print {
    display: none;
}

@media print {
    @page {
        // margin: 60px;
        size: letter;
        @bottom-right {
            content: counter(page);
        }
    }

    @page :first {
        .cmp-title__text {
            display: none;
        }
    }

    .container {
        padding: 0 20px;
    }

    .cmp-section-container .cmp-image {
        width: 100%;
    }

    .cmp-anchor, .cmp-external-header__links, .mopinion-survey-content, .cmp-share, a.cmp-back-to-top, .cmp-external-footer__links, .cmp-external-list__link::after {
        display: none;
    }

    .layoutcontainer .sectioncontainer {
        margin: $space-m 0 $space-s 0;
        // break-before: page;
        break-inside: avoid-page;
        // break-after: page;
        // page-break-before: always;
        // page-break-inside: avoid;
        // page-break-after: always;
    }

    .layoutcontainer .cmp-section-container__title {
        padding: $space-xxs 0 $space-xxs $space-xxs;
        background: $color-gray-10;
        margin-bottom: 1.5em;
        border: none;
    }

    .cmp-external-footer {
        background-color: $color-white;
        padding: $space-m 0 $space-m 0;
        margin-top: $space-xl;
        overflow: hidden;
        clear: both;
        border-top: 1px solid #c6cdd2;
    }

    .cmp-external-footer__logo {
        float: left;
    }

    .cmp-external-footer__copyright {
        float: right;

        p {
            font-size: 0.9em;
            color: $color-gray-50;
        }
    }

    .cmp-external-header {
        background-color: $color-white;
        width: 100%;
        z-index: 100;
        position: absolute;
    }

    .cmp-qr-code__img {
        float: right;
        height: 75px;
        width: 75px;

        &::after {
            border-bottom: 1px solid #c6cdd2;
        }
    }

    .cmp-title__print {
        border-top: 1px solid #c6cdd2;
        width: 100%;
        @include font-small;
        padding-top: $space-xs;
        float: left;
        bottom: 0;
        position: fixed
    }
}