@media print {
    @page {
        size: letter portrait;
        margin-top: 20px;

        @bottom-left {
            content: element(header);
            border-top: 1px solid #c6cdd2;
            margin-top: -40px;
            margin-right: 0px;
        }

        @bottom-right {
            content: counter(page);
            font-family: 'acumin-pro', arial, sans-serif;
            font-size: 0.8em;
            font-weight: light;
            line-height: 1.6em;
            color: #4f5b64;
            margin-bottom: 1em;
            margin-top: 0;
            margin-top: -40px;
            margin-left: -100px;
        }

    }
}