#quick-order{
    padding-left: 0;
    margin-right: $space-xxs;
    margin-bottom: $space-xxs;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @include tablet {
        flex-direction: column;
        .quick-order-parent{
            margin-bottom: $space-s;
        }
    }

  .quick-order-parent {
    display: flex;
    flex-direction: row;

    @include mobile {
      display: none;
    }
    
    .cmp-sku-details__quantity{
      padding: $space-xxs $space-xs $space-xxs;
      margin: 0 $space-xxs 0 0;
      width: 65px;
      height: 3.1em;
      float: left;
      border: $border-medium;
      -webkit-appearance: none;
      -webkit-border-radius: $border-radius;
      border-radius: $border-radius;
      background: $color-white;
      @include font-utility;
      &:active {
        border: 2px solid $color-focus;
      }
      font-family: inherit;
      font-weight: inherit;
      text-align: center;

      -moz-appearance: textfield;

      &:focus {
        outline: 2px solid $color-focus;
      }
    }

  .quick-order-sku {
      width: 176px;
      text-align: left;
      &::placeholder{
        color: $color-disabled;
      }
      @include mobile {
        width: 100%;
        margin-right: 0;
      }
  }
    .cmp-button{
        padding: $space-xs $space-m;
        margin-bottom: 0px;

        &.disabled {
          background-color: $color-disabled;
          cursor: default;
        }
    }
  }
  .quick-order-multiple-item{
      display: flex;
      align-items: center;
      margin-left: $space-m;
      @include tablet {
        margin-left: 0px;
      }

      @include mobile {
        margin-left: 0px;
      }

      svg {
        width: $icon-s;
        margin-bottom: -3px;
        margin-right: $space-xxxs;
  
        .st0{
          stroke: $color-link;
          &:hover {
            stroke: $color-link-hover;
          }
        }
  
        .st1{
          stroke: $color-link;
          &:hover {
            stroke: $color-link-hover;
          }
        }
  
        .st2{
          stroke: $color-link;
          &:hover {
            stroke: $color-link-hover;
          }
        }
      }
  
      a {
        &:hover {
          color: $color-link-hover;
        }
      }
  }
}
