#quick-order{
    padding-left: $space-xxs;
    margin-right: $space-xxs;
    margin-bottom: $space-xxs;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    @include tablet {
        flex-direction: column;
        .quick-order-parent{
            margin-bottom: $space-s;
        }
    }

  .quick-order-parent {
    display: flex;
    flex-direction: row;

    @include mobile {
      display: none;
    }

  .quick-order-sku {
      margin-right: $space-xxs;
      width: 176px;
      text-align: left;
      @include mobile {
        width: 100%;
        margin-right: 0;
      }
  }
    .cmp-button{
        padding: $space-xs $space-m;
        margin-bottom: 0px;
    }
  }
  .quick-order-multiple-item{
      display: flex;
      align-items: center;
      color: $color-link;
      margin-left: $space-m;
      @include tablet {
        margin-left: 0px;
      }

    svg {
      margin-bottom: -3px;
      margin-right: $space-xxxs;
      .st0,
      .st1 {
        stroke: $color-link;
      }
    }
  }
}
