.cmp-search-results {
    margin-left: -14px;

    @include tablet-and-under {
        & > div {
            position: relative;
        }
    }

    @include tablet {
        margin-left: -12px;
    }

    @include mobile {
        margin-left: -4px;
    }

    .cmp-category-wrapper {
        @include  mobile {
            display: none;
        }

        .cmp-category-item {
            .cmp-category-label {
                @include font-h4;
                font-weight: $font-weight-bold;
                color: $color-link;
            }

            padding-bottom: $space-s;
            cursor: pointer;

            .cmp-categories-back {
                display: inline;
                div {
                    display: inline;
                }
                svg {
                    height: $icon-s;
                    width: $icon-s;
                    margin-right: $space-xxxs;
                    .st0 {
                        stroke: $color-link;
                    }
                }
            }
        }

        .backLink {
            .cmp-category-label {
                font-weight: $font-weight-light;
            }
        }

        .active {
            cursor: default;
            .cmp-category-label {
                color: black;
            }
        }

        .cmp-category-separator {
            height: 0;
            margin: $space-s 0;
        }
    }
    .inactive {
        &:hover {
            border: $border-disabled;
        }    
    }
}
.cmp-search__container {
    position: relative;
    width: 75%;
    float: left;
    padding-left: 2%;

    &__header {
        width: 60%;
        margin-left: -15%;

        @include mobile {
            width: 100%;
            float: none;
            padding-left: 0;
            margin-left: 0;
            margin-top: $space-s * -1;
        }
    }

    @include mobile {
        width: 100%;
        float: none;
        padding-left: 0;
        top: 0;
        margin-top: $space-s;
    }
}
.cmp-search__results-container {
    @include list-container;
}
.cmp-search__results {
    @include list-styles;
    @include mobile {
        &-thumbnail {
            display: none;
        }
    }

    &Count {
        margin-bottom: 0;

        .count {
            color: $color-font-dark;
            font-weight: $font-weight-bold;
        }

        .results {
            @include font-utility-large;
        }

        .query-box {
            margin-bottom: $space-xs;

            .query {
                color: $color-font-dark;
                margin-bottom: 0;
                display: inline-block;
            }

            .category {
                font-size: $font-size-small;
                margin-left: $space-xxxs;
            }
        }

        &.noresults {
            width: 70%;
            margin-left: 0;
            margin-bottom: $space-s;
            overflow: visible;
            height: auto;
        }

        @include mobile {
            margin: unset;
            overflow: visible;
            text-overflow: unset;
            white-space: normal;
            overflow: visible;
            height: auto;

            &.noresults {
                width: 100%;
                margin: 0;
            }
        }

        @include mobile {
            padding-bottom: $space-xs;
        }
    }
    ul li {
        padding-bottom: $space-xxs;
    }
}
.cmp-search__results-item {
    padding: $space-m;
    background-color: $color-background-light;
    @include list-item;

    &-breadcrumb {
        display: flex;
        @include font-small;
        margin-top: $space-s;

        svg {
            margin: $space-xxxs $space-xxxs 0 $space-xxxs;
            width: $icon-s;
            height: $icon-s;

            .st0 {
                stroke: $color-icon;
            }
        }

        &.skuitem {
            margin-top: 0;

            @include mobile {
                margin-top: 0;
                padding-bottom: $space-s;
            }
        }
    }
}
.cmp-search__results-body {
    width: 100%;
    float: left;
    @include mobile {
        padding-bottom: 0;
    }
    &--image {
        @include list-item-body-includes-thumbnail;
    }
}
.cmp-search__results-thumbnail {
    @include list-item-thumbnail;
}
.cmp-search__no-results {
    border: $border-medium;
    text-align: center;
    padding: $space-xl 0 $space-xl;
    .icon {
        margin: 0 auto $space-s auto;
        height: $icon-xl;
        width: $icon-xl;
        svg {
            max-height: $icon-xl; 
            .st0 {
                stroke: $color-gray-30;
            }
        }
    }
}
div.cmp-search__no-results {
    padding: $space-xl $space-xl;

    @include mobile {
        padding: $space-l;
    }
}
.paginate__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: $space-m 0 $space-s 0;
    clear: both;
    @include mobile {
        padding: $space-m;
    }
    li {
        display: inline;
        @include mobile {
            display: none;
        }
        a {
            cursor: pointer;
            @include font-utility;
            margin: 0 $space-xxs 0 0;
            border: $border-medium;
            border-radius: $border-radius;
            float: left;
            padding-top: $space-xxs;
            text-decoration: none;
            text-align: center;
            height: $button-fixed;
            width: $button-fixed;

            &:hover {
                color: $color-link;
                border: $border-link;
            }

            &:active {
                color: $color-font-medium;
                border: $border-dark;
            }
        }
        &.disabled {
            a {
                border-color: $color-border-medium;
                color: $color-disabled;
                &:hover {
                    color: $color-disabled;
                }
            }
        }
        &.selected {
            a {
                border: $border-selected;
                padding-top: ($space-xxs - .1em);
                font-weight: $font-weight-bold;
                cursor: default;

                &:hover {
                    @include font-utility;
                }

                &:focus {
                    outline: none;
                }
            }
            @include mobile {
                display: inline;
            }
        }
        &.next,
        &.previous {
            a {
                border: none;
                &:hover {
                    svg .st0 {
                        stroke: $color-link;
                    }
                }
            }
            > a > div {
                height: 24px;
                width: 15px;
            }
            svg {
                width: $icon-m;
                height: 24px;
                margin-left: ($space-xxs + 0.15em);
                margin-top: ($space-xxxs - 0.15em);
                @include mobile {
                    height: 24px;
                }
                .st0 {
                    stroke: $color-font-dark;
                }
            }
            @include mobile {
                display: inline;
            }
            &.disabled {
                a {
                    cursor: default;
                    svg .st0 {
                        stroke: $color-disabled;
                    }
                    &:hover {
                        svg .st0 {
                            stroke: $color-disabled;
                        }
                    }
                }
            }
        }
        &.break {
            a {
                border: none;
                color: $color-gray-40;
            }
        }
    }
}

@mixin sticky-show-sort {
    position: fixed;
    background-color: $color-white;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    border: none;
    margin: 0;
    padding: ($space-xs - .05em) $space-xs $space-xs 1.32em;
    height: 47px !important;
    opacity: 1 !important;
}

.cmp-search-show-btn {
    .btn-show-sort-filter {
        display: none;
        @include font-utility;
        border: $border-dark;
        border-radius: $border-radius;
        margin-bottom: $space-xl;
        padding: $space-xs ($space-xl - 0.25em) ($space-xs + .05em) $space-s;
        position: relative;
        text-decoration: none;
        &:hover {
            color: $color-link;
            text-decoration: none;
            border: $border-link;
            svg {
                .st0 {
                    stroke: $color-link;
                }
            }
        }
        transition: none;
        .closeIcon {
            display: none;
        }
        .filterIcon {
            display: block;
        }
        svg {
            position: absolute;
            top: 14px;
            right: 13px;
            width: $icon-m;
            height: $icon-m;
            .st0 {
                stroke: $color-icon;
            }
            @include mobile {
                top: 12px;
                right: 12px;
            }
        }
        @include mobile {
            display: block;
        }

        @include mobile {
            margin-bottom: $space-s;
            svg {
                margin: 0 2% 0 0;
            }
            &--sticky {
                @include sticky-show-sort;
            }
            float: none;
            background-position: 95% 13px;
        }
    }
    @include mobile {
        float: none;
        width: 100%;
    }
}

.cmp-search-category-dropdown {
    margin-bottom: $space-s;

    text-decoration: none;
    &:hover {
        text-decoration: none;
    }

    transition: none;

    svg {
        position: absolute;
        top: 14px;
        right: 13px;
        width: $icon-m;
        height: $icon-m;
        .st0 {
            stroke: $color-icon;
        }
        @include mobile {
            top: 15px;
            right: 12px;
        }
    }

    @include mobile {
        svg {
            margin: 0 2% 0 0;
        }
    }
}

.cmp-search-show-btn,
.cmp-search-category-dropdown {

    @include mobile {
        padding-bottom: 0;
    }
}

.cmp-search__related-suggestions {
    @include inline-tag-list;

    .related-searches-text {
        display: inline-block;
        margin-right: $space-xs;
        padding-top: $space-xxxs;
    }

    a.item {
        background-color: $color-blue-10;
        color: $color-link;
        svg {
            .st0 {
                stroke: $color-link;
            }
        }
    }

    a.item:hover {
        color: $color-link-hover;
        svg {
            .st0 {
                stroke: $color-link-hover;
            }
        }
    }
}

.cmp-search__sorted-container {
    color: $color-font-medium;

    .cmp-search__resultsCount {
        float: left;
        width: 50%;
    }

    .cmp-search-sortby {
        float: right;
        width: 270px;
        text-align: left;
        @media screen and (min-width: #{$tablet-width + 1px}) and (max-width:880px) {
            float: left;
        }
    }


    @include mobile {
        display: flex;
        flex-wrap: wrap;

        .cmp-search__sorted-by {
            order: 0;
            padding-bottom: $space-xs;
            padding-top: 0;
        }
        .cmp-search-filters__tag {
            order: 1;
        }
    }

    .text-strike {
        text-decoration: line-through;
    }
}

.cmp-search__sorted-by {
    @include font-small;
    display: none;
    float: left;
    width: 100%;
    @include mobile {
        display: block;
        padding-bottom: $space-xs;
        padding-top: 0;
        float: none;
        width: 100%;
    }

}

.cmp-search-inline {
    background-color: $overlay-dark;
    border-radius: $border-radius;
    padding: $space-xs $space-m;
    height: $height-medium;
}

.show-sort-filters {
    @include mobile {
        #surveyContent {
            display: none;
        }

        .heading--with-selected-value {
            display: none;
        }
    }
    @include mobile {
        .cmp-search-show-btn {
            .btn-show-sort-filter {
                display: block;
                @include sticky-show-sort;
                z-index: ($cmp-banner-z-index + 1) !important;
                border-radius: 0;
                .filterIcon {
                    display: none;
                }
                .closeIcon {
                    display: block;
                }
            }
        }
        .btn-show-sort-filter {
            z-index: 4;
        }
        .cccmp-search__container,
        .cmp-footer,
        .cmp-back-to-top {
            display: none;
        }
    }

}

@include mobile {
    #js-search-app {
        .overlay {
            position: fixed;
        }
    }
}
