.cmp-search__container {
    width: 75%;
    float: left;
    padding-left: 2%;

    @include tablet {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    @include mobile {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

.cmp-search__results-container {
    @include list-container;
}

.cmp-search__results {
    @include list-styles;
}

.cmp-search__results-item {
    @include list-item;
}

.cmp-search__results-body {
    width: 100%;
    float: left;

    &--image {
        @include list-item-body-includes-thumbnail;
    }
}

.cmp-search__results-thumbnail {
    @include list-item-thumbnail;
}

.cmp-search__no-results {
    border: 1px solid $color-gray-30;
    text-align: center;
    padding: $space-xxl 0;
    .icon {
        margin: 0 auto $space-s auto;
        height: $icon-xl;
        width: $icon-xl;
        svg {
            .st0 {
                stroke: $color-gray-30;
            }
        }
    }
}

.paginate__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: $space-xxl 0;
    clear: both;
    li {
        display: inline;
        a {
            cursor: pointer;
            margin: 0 $space-xxs;
            border: 1px solid $color-border-dark;
            float: left;
            padding: $space-xxs $space-s;
            font-size: (#{$font-size-small-m - 0.1em});
            color: $color-font-medium;
            text-decoration: none;
            &:hover {
                color: $color-link;
            }
        }
        &.disabled {
            a {
                border-color: $color-border-light;
                color: $color-disabled;
                &:hover {
                    color: $color-disabled;
                }
            }
        }
        &.selected {
            a {
                background: $color-background-dark;
                color: $color-font-light;
            }
        }

        &.next,
        &.previous {
            a {
                &:hover {
                    svg .st0 {
                        stroke: $color-link;
                    }
                }
            }
            > a > div {
                height: 24px;
                width: 15px;
            }
            svg {
                width: 24px;
                height: 20px;
                margin-left: -5px;
                margin-top: 3px;

                .st0 {
                    stroke: $color-font-dark;
                }
            }

            &.disabled {
                a {
                    cursor: default;

                    svg .st0 {
                        stroke: $color-disabled;
                    }

                    &:hover {
                        svg .st0 {
                            stroke: $color-disabled;
                        }
                    }
                }
            }
        }
    }
}

.btn-show-sort-filter {
    float: right;
    display: none;
    @include tablet-and-under {
        display: block;
    }
}
