.cmp-search-results {
    margin-left: -14px;

    @include tablet-and-under {
        & > div {
            position: relative;
        }
    }

    @include tablet {
        margin-left: -12px;
    }

    @include mobile {
        margin-left: -4px;
    }
}
.cmp-search__container {
    position: relative;
    top: -55px;
    width: 75%;
    float: left;
    padding-left: 2%;
    margin-top: $space-l;

    &__header {
        width: 60%;
        margin-left: -15%;

        @include tablet {
            width: 100%;
            float: none;
            padding-left: 0;
            margin-left: 0;
            margin-top: $space-xl;
        }

        @include mobile {
            width: 100%;
            float: none;
            padding-left: 0;
            margin-left: 0;
            margin-top: $space-s * -1;
        }
    }
    @include tablet {
        width: 100%;
        float: none;
        padding-left: 0;
    }
    @include mobile {
        width: 100%;
        float: none;
        padding-left: 0;
        top: 0;
        margin-top: $space-s;
    }

    .cmp-search-filters__tags {

        @include tablet {
            width: 100%;
            padding: 0;
            margin: 0 $space-xxs $space-s 0;
        }

        @include mobile {
            margin-top: 0;
            margin: 0 $space-xxs $space-xxs 0;
        }
    }
}
.cmp-search__results-container {
    @include list-container;
}
.cmp-search__results {
    @include list-styles;
    @include mobile {
        &-thumbnail {
            display: none;
        }
    }
    &Count {
        .query {
            color: $color-font-dark;
        }
    }
}
.cmp-search__results-item {
    padding: $space-m;
    background-color: $color-background-light;
    @include list-item;

    &-breadcrumb {
        display: flex;
        @include font-small;
        margin-top: $space-s;

        svg {
            margin: ($space-xxxs + 0.2em) $space-xxxs 0 $space-xxxs;
            width: $icon-s;
            height: $icon-s;

            .st0 {
                stroke: $color-icon;
            }
        }

        &.skuitem {
            padding-bottom: $space-m;
            margin-top: -$space-xs;

            @include mobile {
                margin-top: 0;
                padding-bottom: $space-s;
            }
        }
    }
}
.cmp-search__results-body {
    width: 100%;
    float: left;
    @include mobile {
        padding-bottom: 0;
    }
    &--image {
        @include list-item-body-includes-thumbnail;
    }
}
.cmp-search__results-thumbnail {
    @include list-item-thumbnail;
}
.cmp-search__no-results {
    border: 1px solid $color-gray-30;
    text-align: center;
    padding: $space-xl 0 $space-xl;
    .icon {
        margin: 0 auto $space-s auto;
        height: $icon-xl;
        width: $icon-xl;
        svg {
            .st0 {
                stroke: $color-gray-30;
            }
        }
    }
}
div.cmp-search__no-results {
    padding: $space-xl $space-xl;
    @include mobile {
        padding: $space-l $space-l;
    }
}
.paginate__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: $space-xl 0;
    clear: both;
    @include mobile {
        padding: 0;
    }
    li {
        display: inline;
        @include mobile {
            display: none;
        }
        a {
            cursor: pointer;
            @include font-utility;
            margin: 0 $space-xxs 0 0;
            border: 1px solid $color-border-light;
            float: left;
            padding-top: ($space-xxs - 0.1em);
            text-decoration: none;
            text-align: center;
            height: $button-fixed;
            width: $button-fixed;

            &:hover {
                color: $color-link;
                border: 1px solid $color-border-dark;
            }
        }
        &.disabled {
            a {
                border-color: $color-border-light;
                color: $color-disabled;
                &:hover {
                    color: $color-disabled;
                }
            }
        }
        &.selected {
            a {
                border: 2px solid $color-gray-50;
                font-weight: $font-weight-bold;
            }
            @include mobile {
                display: inline;
            }
        }
        &.next,
        &.previous {
            a {
                border: none;
                &:hover {
                    svg .st0 {
                        stroke: $color-link;
                    }
                }
            }
            > a > div {
                height: 24px;
                width: 15px;
            }
            svg {
                width: $icon-m;
                height: 24px;
                margin-left: ($space-xxs + 0.15em);
                margin-top: ($space-xxxs - 0.15em);
                @include mobile {
                    height: 24px;
                }
                .st0 {
                    stroke: $color-font-dark;
                }
            }
            @include mobile {
                display: inline;
            }
            &.disabled {
                a {
                    cursor: default;
                    svg .st0 {
                        stroke: $color-disabled;
                    }
                    &:hover {
                        svg .st0 {
                            stroke: $color-disabled;
                        }
                    }
                }
            }
        }
        &.break {
            a {
                border: none;
                color: $color-gray-40;
            }
        }
    }
}

@mixin sticky-show-sort {
    position: fixed;
    background-color: $color-white;
    z-index: 4;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: $shadow;
    border: none;
    margin: 0;
    padding: $space-xs $space-xs $space-xs 1.32em;
    height: 54px;
}

.cmp-search-show-btn {
    .btn-show-sort-filter {
        display: none;
        @include font-utility;
        border: 1px solid $color-border-dark;
        margin-bottom: $space-xl;
        padding: $space-xs ($space-xl - 0.25em) $space-xs $space-s;
        position: relative;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        transition: none;
        .closeIcon {
            display: none;
        }
        .filterIcon {
            display: block;
        }
        svg {
            position: absolute;
            top: 14px;
            right: 13px;
            width: $icon-m;
            height: $icon-m;
            .st0 {
                stroke: $color-icon;
            }
            @include mobile {
                top: 15px;
                right: 12px;
            }
        }
        @include tablet-and-under {
            display: block;
        }
        @include tablet {
            float: right;
            margin-bottom: 0;
        }
        @include mobile {
            margin-bottom: $space-m;
            svg {
                margin: 0 2% 0 0;
            }
            &--sticky {
                @include sticky-show-sort;
            }
            float: none;
            background-position: 95% 13px;
        }
    }
    @include mobile {
        float: none;
        width: 100%;
    }
}

.cmp-search-category-dropdown {
    margin-bottom: $space-s;

    text-decoration: none;
    &:hover {
        text-decoration: none;
    }

    transition: none;

    svg {
        position: absolute;
        top: 14px;
        right: 13px;
        width: $icon-m;
        height: $icon-m;
        .st0 {
            stroke: $color-icon;
        }
        @include mobile {
            top: 15px;
            right: 12px;
        }
    }

    @include tablet {
        margin-right: $space-xxs;

        .css-1l0huv0-control.cmp-custom-dropdown__control{
            max-height: 51px;
        }
    }

    @include mobile {
        svg {
            margin: 0 2% 0 0;
        }
    }
}

.cmp-search-show-btn,
.cmp-search-category-dropdown{
    @include tablet {
        float: left;
        width: 165px;
        margin-bottom: 0;
        padding-bottom: $space-xxl;
    }
    @include mobile {
        padding-bottom: 0;
    }
}

.cmp-search__resultsCount-container {
    position: relative;
    left: 27%;
    width: 70%;

    @include tablet-and-under {
        position: absolute;
        top: ($space-s + $space-xxs);
        width: 100%;
        left: 0;
    }

    @include mobile {
        margin-bottom: $space-xl;
        top: ($space-xxl * 2 + $space-l);
    }
}

.cmp-search__resultsCount {
    &.noresults {
        width: 70%;
        margin-left: 0;
        margin-top: -3.5em;
        overflow: visible;
        height: auto;
    }
    @include tablet-and-under {
        margin: unset;
        padding-bottom: $space-l;
        overflow: visible;
        text-overflow: unset;
        white-space: normal;
        overflow: visible;
        height: auto;
        &.noresults {
            width: 100%;
            margin: 0;
        }
    }

    .text-strike {
        text-decoration: line-through;
    }
}

.cmp-search__related-suggestions {
    position: relative;
    @include font-body;
    color: $color-font-medium;

    .item {
        color: $color-link;
        height: 1em;
        padding: 0 $space-xxs;
        cursor: pointer;
    }

    .item:hover {
        text-decoration: underline;
    }

    .vertical-bar {
        color: $color-border-light;
    }

    @include tablet-and-under {
        top: -13px;
        margin-bottom: $space-xxl;
    }
}

.cmp-search__sorted-container{
    @include mobile {
        display: flex;
        flex-wrap: wrap;

        .cmp-search__sorted-by{
            order: 0;
            padding-bottom: $space-xxl;
            padding-top: 0;
        }
        .cmp-search-filters__tag {
            order: 1;
        }
    }
}
.cmp-search__sorted-by {
    display: none;
    float: left;
    width: 100%;
    @include mobile {
        display: block;
        padding: $space-m 0;
        float: none;
        width: 100%;
    }
    @include tablet {
        display: block;
        padding-top: $space-s;

        float: right;
        width: auto;
    }
}

div.cmp-search__sorted-by {
    padding: $space-s 0;
}
.cmp-search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(0, 0%, 100%, 0.8);
    width: 200%;
    height: 130%;
    padding: 50% 80%;
    margin: -30%;
    z-index: 9999;

    > div {
        margin-left: -32px;
    }
}
html.showing-spinner {
    overflow: hidden;
    height: 100%;
}

.show-sort-filters {
    @include tablet-and-under {
        #surveyContent {
            display: none;
        }
    }
    @include mobile {
        .cmp-search-show-btn {
            .btn-show-sort-filter {
                display: block;
                @include sticky-show-sort;
                z-index: ($cmp-banner-z-index + 1) !important;
                .filterIcon {
                    display: none;
                }
                .closeIcon {
                    display: block;
                }
            }
        }
        .btn-show-sort-filter {
            z-index: 4;
        }
        .cccmp-search__container,
        .cmp-footer,
        .cmp-back-to-top {
            display: none;
        }
    }

    @include tablet {
        height: 100vh;

        .cmp-search__resultsCount-container {
            z-index: -1;
        }

        .cmp-search__results-container {
            position: relative;
            z-index: -1;
        }

        .cmp-search-bar {
            z-index: -1;
        }
    }
}

@include tablet-and-under {
    #js-search-app {
        .overlay {
            position: fixed;
        }
    }
}
