.cmp-search-bar {
    width: 100%;
    float: left;

    &__input {
        float: left;
        width: 100%;
        border: 1px solid $color-border-light;
        background: $color-white;
        padding: $space-s;
        @include font-utility;

        font-size: $font-size-h3;

        &:focus {
            outline-width: 2px;
            outline-color: $color-blue-30;
        }
    }
}
