.cmp-search-bar {
    width: 100%;
    float: left;
    margin-bottom: $space-m;
    position: relative;

    &__input {
        @include font-body;
        font-size: $font-size-h3;
        float: left;
        width: 100%;
        border: 1px solid $color-border-light;
        background: $color-white;
        padding: $space-s $space-xl $space-s $space-s;
        color: $color-font-dark;

        &:focus {
            outline: 2px solid $color-focus;
        }

        &::-ms-clear {
            display: none;
        }
    }

    &__icon-search {
        svg {
            position: absolute;
            right: $space-s;
            top: $space-s;
            width: $icon-l;
            height: $icon-l;
            
            .st0 {
                stroke: $color-icon;
            }
        }

        &--clear {
            svg {
                position: absolute;
                right: $space-s;
                top: $space-s;
                width: $icon-l;
                height: $icon-l;
                cursor: pointer;

                .st0 {
                    stroke: $color-icon;
                }
            }
        }
    }
}
