.cmp-search-bar {
    width: 100%;
    float: left;
    margin-bottom: $space-m;

    &__input {
        float: left;
        width: 100%;
        border: 1px solid $color-border-light;
        background: $color-white;
        padding: $space-s;
        @include font-utility;

        font-size: $font-size-h3;
        color: $color-font-dark;

    }
}