.layoutcontainer {
    position: relative;

    .sectioncontainer {
        padding: 0;
        margin: $space-xl 0 $space-l 0;
    }

    .cmp-section-container__title {
        padding: $space-s 0 $space-m 0;
        margin: 0em 14px;
        border-top: 1px solid $color-border-light;

        @include mobile {
            padding: $space-s 0 $space-m 0;
            margin: 0 2px;
        }

        @include tablet {
            padding: $space-s 0 $space-m 0;
            margin: 0 12px;
        }
    }

    .cmp-section-container__background {
        display: none;
    }
    .cmp-section-container–-light {
        overflow-y: hidden;
        .cmp-section-container__wrapper {
            padding: $space-s 0 !important;
        }

        .cmp-section-container__background {
            display: block;
            position: absolute;
            background-color: $color-background-light;
            width: 100vw;
            left: 50%;
            right: 50%;
            top: 3em;
            margin-left: -50vw;
            margin-right: -50vw;
            height: calc(100% - 5em);
            z-index: -1;
        }

        .cmp-section-container__title {
            border: none;
        }
    }
}
