.cmp-share {
    list-style: none;
    padding-left: 0;
    float: right;
}

.cmp-share__item {
    @include font-small;
    display: block;
    float: left;
    line-height: 1.8em;

    &:first-of-type {
        padding-top: $space-s;
        padding-right: $space-s;
    }
}

.cmp-share__link {
    display: block;
    float: left;
    padding: $space-s;

    svg {
        width: 24px;
        fill: $color-gray-30;
    }

    &.addthis_button_twitter {
        svg {
            fill: #4aabe7;
        }
    }

    &.addthis_button_linkedin {
        svg {
            fill: #3479b1;
        }
    }
}
