.cmp-sku {
    &-details {
        h3{
            @include font-h2;
        }

        svg {
            width: $icon-m;
            fill: $color-link;
            float:left;
            .st0 , .st1 {
                   stroke: $color-link;
            }
        }

        &__heading {
            img {
                display: none;
            }
        }

        &__ecom {
            background: $color-background-light;
            padding: $space-l;
        }
        &__buyinfo {
            display: flex;
            flex-flow: row;
            align-items: center;
            flex-wrap: wrap;
        }

        &__priceinfo {
            background-color: $color-background-light;
            padding-right: $space-s;
            margin-top: -1em;
        }
        &__price {
            @include font-h1;
        }

        &__stockdetails {
            float:left;
        }

        &__availability{
            padding: 0 $space-l 0 $space-s;
            padding-right: $space-s;
            @include font-h3 ;
            margin-top: -1em;
            border-left: 1px solid $color-border-light;
            svg {
                .st0 {
                       stroke: $color-success;
                }
            }
        }

        &__order {
            @include font-small;
        }

        &__buttons{
            display:flex;
        }

        input[type="text"] {
            margin: 0 0.5em 0 0;
            padding: 0.90em 0.5em;
            width: 50px;
            height: 10%;
            float:left;
            border: 1px solid $color-border-light;
            background: $color-white;
            @include font-utility;
        }
    }

    &-details--sticky {
        .cmp-sku-details__wrapper {
            display: flex;
            align-items: flex-start;
        }

        .cmp-sku-details__heading {
            display: flex;
            align-items: center;
            flex-grow: 1;

            img {
                display: block;
                width: 92px;
                height: 63px;
                
                border: 1px solid $color-border-light;
                margin-right: $space-m
            }

            .cmp-sku-details__info {
                h1 {
                    @include font-h3;

                    margin-block-start: 0;
                    margin-block-end: 0;
                }

                h3 {
                    @include font-utility;

                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }
        }

        .cmp-sku-details__ecom {
            background: none;
            padding: 0;
        }

        .cmp-sku-details__buyinfo {
            margin-top: 10px;
        }

        .cmp-sku-details__priceinfo {
            background: none;

            span {
                @include font-body;
            }

            .cmp-sku-details__price {
                @include font-h3;
            }
        }

        .cmp-sku-details__availability {
            display: none;
        }

        .cmp-sku-details__web-quote {
            display: none;
        }
    }
}

// IE 11 CSS hacks
@media all and (-ms-high-contrast:none) {
    .cmp-sku-details__info {
        h3 {
            display: inline;
        }
    }
}

// Edge Css hacks
@supports (-ms-ime-align: auto) {
    .cmp-sku-details__info {
        h3 {
            display: inline;
        }
    }
  }