.cmp-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: $space-m;
}

.cmp-table__table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        padding: $space-xs $space-l $space-xxxs 0;
        text-align: left;
        vertical-align: top;
        width: 50%;
    }

    td p {
        margin-bottom: $space-xxs;
    }

    th p {
        font-weight: $font-weight-regular;
        margin-bottom: $space-xxs;
    }

    tr {
        border-top: 1px solid $color-border-rule;
    }
}

.cmp-table--collapse .cmp-table__table {
    @include mobile {
        td {
            display: block;
            word-wrap: break-word;
            padding: 0;
            width: 50%;
        }

        td:first-child {
            padding-top: $space-xs;
        }

        td:last-child {
            padding-bottom: $space-xxxs;
        }

        tr {
            padding-bottom: $space-xs;
        }

        thead {
            display: none;
        }
    }
}

.cmp-table--divide {
    ul {
        list-style-type: none;
    }

    ul, li {
        padding-left: 0;
        margin-block-end: 0;
        margin-bottom:0;
    }

    @include tablet-and-over {
        column-count: 2;
        -webkit-column-count: 2;
        column-gap: $space-l;
        column-fill: balance;

        tr {
            display: inline-block;
            width: 100%;
        }

        td {
            width: 50%;
            display: inline-block;
        }

        td:first-child:nth-last-child(1) {
            /* -or- li:only-child { */
            width: 100%;
        }

        /* two items */
        td:first-child:nth-last-child(2),
        td:first-child:nth-last-child(2)~td {
            width: 49%;
        }

        /* three items */
        td:first-child:nth-last-child(3),
        td:first-child:nth-last-child(3)~td {
            width: 32%;
        }

        /* four items */
        td:first-child:nth-last-child(4),
        td:first-child:nth-last-child(4)~td {
            width: 23%;
        }

        td:first-child:nth-last-child(5),
        td:first-child:nth-last-child(5)~td {
            width: 18%;
        }

        td:first-child:nth-last-child(6),
        td:first-child:nth-last-child(6)~td {
            width: 15%;
        }

        td:first-child:nth-last-child(7),
        td:first-child:nth-last-child(7)~td {
            width: 13%;
        }
    }
}

.column-table-support-false .cmp-table--divide .cmp-table {
    column-count: unset;
    -webkit-column-count: 2;
    column-gap: unset;
    column-fill: unset;

    tr {
        margin-right: $space-s;
        display: inline-block;
        width: calc(50% - 0.7em);

        &:nth-child(even) {
            margin-right: 0;
        }
    }
}

.cmp-table__caption {

    p {
        @include font-caption;
    }
}

div.table {
    margin-bottom: $space-m;
}