.cmp-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.cmp-table__table {
    border-top: 1px solid $color-border-accent;
    width: 100%;
    border-collapse: collapse;

    td, th {
        padding: $space-xs $space-l $space-xxxs 0;
        text-align: left;
        vertical-align: top;
    }

    td p {
        margin-bottom: $space-xxs;
    }

    th p {
        font-weight: $font-weight-bold;
        margin-bottom: $space-xxs;
    }

    tr {
        border-bottom: 1px solid $color-border-rule;
    }
}

.cmp-table--collapse .cmp-table__table {
    @include mobile {
        td {
            display: block;
            word-wrap: break-word;
            padding: 0;
        }
        td:first-child {
            padding-top: $space-xs;
        }
        td:last-child {
            padding-bottom: $space-xxs;
        }
        tr {
            padding-bottom: $space-xs;
        }
        thead {
            display: none;
        }
    }
}

.cmp-table--divide .cmp-table {
    column-count:2;
    -moz-column-count:2;
    -webkit-column-count:2;
}

.cmp-table__caption {
    @include font-caption;
}

div.table {
    margin-bottom: $space-xl;
}