.cmp-tabs {
    height: 65px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    @include tablet-and-under {
        display: none;
     }

    &-wrapper {
        position: relative;
        width: 100%;
    }

    &__tab {
        padding: 0.5625em $space-m;
        border: 1px solid $color-border-light;
        border-left: 1px solid $color-border-light;
        display: inline-block;
        font-size: $font-size-body;
        color: $color-font-medium;
        background-color: $color-white;
        font-weight: $font-weight-light;
        border-radius: $border-radius $border-radius 0 0;

        &::before {
            content: '';
            border-bottom: 1px solid #c6cdd2;
            height: 1px;
            width: 100%;
            position: absolute;
            top: 43px;
            left: 0;
            z-index: -1;
        }

        &:hover {
            cursor: pointer;
            color: $color-link-hover;
        }

        &.active {
            border-bottom: none;
            border-top: 3px solid $color-icon;
            padding-top: 0.4375em;
            padding-bottom: 0.625em;

            .cmp-tabs__tab-label {
                color: $color-font-dark;
                font-weight: $font-weight-bold;
            }

            &:hover {
                cursor: default;
                color: $color-font-dark;
            }
        }

        & ~ .cmp-tabs__tab {
            border-left: none;

            &::before {
                content: none;
                border-bottom: none;
                height: 0;
                width: 0;
                position: static;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
        }
    }

    &.fader-fade {
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.fader-fade--right {
            overflow-x: scroll;
            scrollbar-width: thin;
            -ms-overflow-style: scrollbar;
            &::-webkit-scrollbar {
                display: block;
            }
        }

        &.fader-fade--left {
            overflow-x: scroll;
            scrollbar-width: thin;
            -ms-overflow-style: scrollbar;
            &::-webkit-scrollbar {
                display: block;
            }
        }
    }

    &.fader-container {
        height: 100%;
        margin-top: 0;

        &--right {
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
        }

        &--left {
            background: linear-gradient(to left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }
}