.cmp-tag-cloud__list {
    float: left;
    list-style: none;
    padding-left:0.1em;
    margin-bottom: $space-l;
}

.cmp-tag-cloud__item {
    @include font-small;
    float: left;
    padding: $space-xxxs $space-xs ($space-xxs - .1em) $space-xs;
    margin: 0 $space-xxs $space-xxs 0;
    background-color: $color-blue-10;
    a {
        text-decoration: none;
        color: $color-link-hover;
    }
    &:hover {
        background-color: $color-blue-20;
        cursor:pointer;
    }
    &:active {
        background-color: $color-blue-10;
    }
}