.cmp-tag-cloud {
    h3 {
        margin-bottom: $space-xs;
    }
}

.cmp-tag-cloud__list {
    float: left;
    list-style: none;
    padding-left:0.1em;
    margin-bottom: $space-l;
}

.cmp-tag-cloud__item {
    @include font-small;
    float: left;
    padding: ($space-xxxs - .05em) $space-xs ($space-xxxs + .05em) $space-xs;
    margin: 0 $space-xxs $space-xs 0;
    background-color: $color-blue-10;
    border-radius: $border-radius;
    a {
        text-decoration: none;
        color: $color-link-hover;
    }
    &:hover {
        background-color: $color-blue-20;
        cursor:pointer;
    }
    &:active {
        background-color: $color-blue-10;
    }
}