.cmp-tag-list {
    list-style: none;
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 0;

    &__item {
        display: inline;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.cmp-tag-list--comma-separated {
    .cmp-tag-list {
        margin-bottom: $space-l;
        &__item {
            &::after {
                content: ',';
            }

            &:last-of-type {
                &::after {
                    content: '';
                    display: none;
                }
            }
        }
    }
}

.cmp-tag-list--stacked {
    .cmp-tag-list {
        margin-bottom: $space-l;
        &__item {
            display: block;
        }
    }
}

.cmp-tag-list--label {
    .cmp-tag-list {
        margin-bottom: $space-s;
        &__item {
            font-size: $font-size-small;
            display: inline-block;
            padding: $space-xxxs $space-xs ($space-xxs - .1em) $space-xs;
            background-color: $color-background-dark;
            color: $color-white;
        }
    }
}
