.cmp-tag-list {
    list-style: none;
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 0;

    &__item {
        display: inline;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.cmp-tag-list--comma-separated {
    .cmp-tag-list {
        margin-bottom: $space-s;
        &__item {
            &::after {
                content: ',';
            }

            &:last-of-type {
                &::after {
                    content: '';
                    display: none;
                }
            }
        }

        @include mobile {
            margin-bottom: $space-s;
        }
    }
}

.cmp-tag-list--comma-separated-small {
    .cmp-tag-list {
        @include font-small;
        margin-bottom: $space-l;
        &__item {
            &::after {
                content: ',';
            }

            &:last-of-type {
                &::after {
                    content: '';
                    display: none;
                }
            }
        }

        @include mobile {
            margin-bottom: $space-l;
        }
    }
}


.cmp-tag-list--stacked {
    .cmp-tag-list {
        margin-bottom: $space-l;
        &__item {
            display: block;
        }

        @include mobile {
            margin-bottom: $space-s;
        }
    }
}

.cmp-tag-list--label {
    .cmp-tag-list {
        margin-bottom: $space-s;
        &__item {
            @include font-small;
            display: inline-block;
            padding: ($space-xxxs - .05em) $space-xs ($space-xxxs + .05em) $space-xs;         
            margin: 0 $space-xxs $space-xs 0;
            background-color: $color-background-dark;
            color: $color-font-light;
            border-radius: .25em;
        }
    }
}
