@import "variables.scss";
@import "mixins.scss";
@import "typography.scss";

.thumbnail-container {
  display: inline-block;
  border: $border-medium;
  transition: border 0.3s ease-out;
  padding: 0;
  margin-left: $space-xs;
  margin-bottom: $space-xs;
  width: $thumbnail-s;
  max-height: 53px;
  overflow: hidden;

  .thumbnail-img-inner {
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    line-height: 0;
  }

  svg {
    position: absolute;
    width: $icon-m;
    height: $icon-m;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    path {
      stroke: $color-white !important;
      stroke: 1.5px;
    }
  }

  .thumbnail-video-overlay {
    position: absolute;
    height: 53px;
    width: 100%;
    background-color: $color-blue-50;
    opacity: 0.2;
  }
  .thumbnail-video-icon-bg {
    position: absolute;
    background-color: $color-black;
    width: $icon-l;
    height: $icon-l;
    border-radius: $border-radius;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  .thumbnail-time-stamp-bg {
    background-color: $color-black;
    position: absolute;
    height: 20px;
    width: 45px;
    right: 0;
    bottom: 0;

    .thumbnail-time-stamp-text {
      @include font-small;
      color: $color-white;
    }
  }
}

.thumbnail-active {
  border: $border-selected;
}

.thumbnail-title {
  @include font-h4;
}
