@mixin font-body {
    font-family: $font-stack;
    font-size: $font-size-body;
    font-weight: $font-weight-light;
    line-height: $line-height-text;
    color: $color-font-dark;
    letter-spacing: $letter-spacing-small;
    margin-bottom: $space-s;
    margin-top: 0;
}

@mixin font-h1 {
    font-size: $font-size-h1;
    line-height: $line-height-heading;
    font-weight: $font-weight-light;
    margin-bottom: $space-s;
    margin-top: 0;

    @include mobile {
        font-size: $font-size-h1-m;
    }
}

@mixin font-h2 {
    font-size: $font-size-h2;
    color: $color-font-medium;
    font-weight: $font-weight-light;
    line-height: $line-height-text;
    margin-bottom: $space-s;
    margin-top: 0;
}

@mixin font-h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-regular;
    line-height: $line-height-text;
    margin-bottom: $space-s;
    margin-top: 0;
}

@mixin font-h4 {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    margin-bottom: $space-xxs;
    line-height: $line-height-text;
    margin-top: 0;
}

@mixin font-utility {
    color: $color-font-medium;
}

@mixin font-small {
    font-size: $font-size-small;
    color: $color-font-medium;

    @include mobile {
        font-size: $font-size-small-m;
    }
}

@mixin font-xsmall {
    font-family: $font-stack;
    font-size: $font-size-xsmall;
    font-weight: light;
    line-height: $line-height-text;
    color: $color-font-medium;
    margin-bottom: $space-s;
    margin-top: 0;
}
@mixin font-caption {
    font-style: italic;
    margin-top: $space-m;
    padding-top: $space-xs;
    border-top: 1px solid $color-border-light;
}

@mixin multiLineEllipsis(
    $lineHeight: $line-height-text,
    $lineCount: 1,
    $bgColor: white
) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: left;
    margin-right: -0.7em;
    padding-right: 0.7em;
}

html {
    @include font-body;
    font-size: 16px;

    &[lang='zh'],
    &[lang='zh-CN'] {
        font-family: $zh-font-stack;
    }

    &[lang='ja-JP'],
    &[lang='ja'] {
        font-family: $ja-font-stack;
    }
}

body {
    margin: 0 0 0 0;

    @include mobile {
        font-size: 1.1em;
    }
}

p {
    margin-top: 0;
}

h1 {
    @include font-h1;
}

h2 {
    @include font-h2;
}

h3 {
    @include font-h3;
}

h4,
h5,
h6 {
    @include font-h4;
}

ul {
    list-style-type: square;
    padding-left: 1.2em;
    margin-top: 0;

    li {
        margin-bottom: $space-s;
        word-break: break-word;
    }
}

ol {
    padding-left: 1.2em;
    margin-top: 0;

    li {
        margin-bottom: $space-s;
        word-break: break-word;
    }
}

b,
strong {
    font-weight: $font-weight-regular;
}

.cmp-text {
    padding-bottom: $space-m;
}

blockquote {
    @include font-h2;
    font-style: italic;
    padding-left: $space-s;
    border-left: 2px solid $color-border-accent;
    margin: $space-s 0 $space-l 0;
}

//Style System

.cmp-text--finePrint .cmp-text {
    @include font-small;
    font-style: italic;
}

.cmp-text--noPadding .cmp-text {
    padding-bottom: 0;
}

.cmp-text--h1 .cmp-text {
    @include font-h1;
}