@mixin font-body {
    font-family: $font-stack;
    font-size: $font-size-body;
    font-weight: $font-weight-light;
    line-height: $line-height-text;
    color: $color-font-dark;
    letter-spacing: $letter-spacing-small;
    margin-bottom: $space-s;
    margin-top: 0;
    word-break: break-word;
}

@mixin font-utility {
    color: $color-font-medium;
}

@mixin font-small {
    font-size: $font-size-small;
    color: $color-font-medium;
}

@mixin font-xsmall {
    font-family: $font-stack;
    font-size: $font-size-xsmall;
    font-weight: light;
    line-height: $line-height-text;
    color: $color-font-medium;
    margin-bottom: $space-s;
    margin-top: 0;
}
@mixin font-caption {
    font-style: italic;
    margin-top: $space-m;
    padding-top: $space-xs;
    border-top: 1px solid $color-border-light;
}

@mixin multiLineEllipsis(
    $lineHeight: $line-height-text,
    $lineCount: 1,
    $bgColor: white
) {
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount;
    text-align: left;
    margin-right: -0.7em;
    padding-right: 0.7em;
}

html {
    font-size: 16px;
}

body {
    @include font-body;
    margin: 0 0 0 0;

    @include mobile {
        font-size: 1.1em;
    }

}

p {
    margin-top: 0;
}

h1 {
    font-size: $font-size-h1;
    font-weight: $font-weight-light;
    line-height: $line-height-heading;
    margin-bottom: $space-s;
    margin-top: 0;

    @include mobile {
        font-size: $font-size-h1-m;
    }
}

h2 {
    font-size: $font-size-h2;
    font-weight: $font-weight-light;
    line-height: $line-height-text;
    color: $color-font-medium;
    margin-bottom: $space-s;
    margin-top: 0;
}

h3 {
    font-size: $font-size-h3;
    font-weight: $font-weight-regular;
    line-height: $line-height-text;
    margin-bottom: $space-xs;
    margin-top: 0;
}

h4,
h5,
h6 {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    line-height: $line-height-text;
    margin-bottom: $space-xxs;
    margin-top: 0;
}

ul {
    list-style-type: square;
    padding-left: 1.2em;
    margin-top: 0;

    li {
        margin-bottom: $space-s;
    }
}

ol {
    padding-left: 1.2em;
    margin-top: 0;

    li {
        margin-bottom: $space-s;
    }
}

b,
strong {
    font-weight: $font-weight-bold;
}

.cmp-text {
    padding-bottom: $space-s;
}
