#user-greetings {
    display: flex;
    justify-content: flex-end;

    .greetings {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: $font-stack;
        font-size: $font-size-h2;
        line-height: $line-height-text;

        .greeting{
            color: $color-gray-50;
            text-decoration: none solid rgb(79, 91, 100);
        }

        .name{
            font-weight: $font-weight-bold;
        }

        .company{
            font-size: $font-size-h4;
        }

        .company,.name{
            color: $color-videothumbnail-overlay;
            text-decoration: none solid $overlay-dark;
        }
    }

    .logo {
        margin-left: 13px;
        display: flex;
        align-items: center;

        svg {
            width: 90px;
        }
    }
}