#user-greetings {
    display: flex;
    justify-content: flex-end;

    @include mobile {
        justify-content: space-between;
      }

    .greetings {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include mobile {
            align-items: flex-start;
          }

        h2{
            margin-bottom: 9px;
        }
    }

    .logo {
        display: flex;
        align-items: center;

        svg {
            margin-left: $space-s;
            width: 90px;
        }
    }
}