.cmp-utility-button {

      padding: ($space-xxs + 0.1em) $space-xs $space-xs $space-s;
      background-color: $color-white;
      border: 1px solid $color-border-dark;
      @include font-utility;
      transition: all 0.25s ease;
      text-decoration: none;

    img.inline-svg {
          display: none;
         }

    svg {
        width: $icon-m;
        height: $icon-m;
        vertical-align: text-top;

        .st0 {
            stroke: $color-gray-50;
        }

        @include mobile {
            float: right;
            height: auto;
            width: $icon-m;
            height: ($icon-m + .25em);
        }
    }

    &:hover {
        color: $color-link;
        text-decoration: none;
        svg {
            .st0 {
                stroke: $color-link;
            }
        }


    }

    &:disabled {
        border: 1px solid $color-disabled;
        color: $color-disabled;
        svg {
            .st0 {
                stroke: $color-disabled;
            }
        }
    }

    @include mobile {
        width: 100%;
        float: left;
        font-size: $font-size-body-m;
        padding: $space-xxs $space-xs $space-xxs $space-xs;
        margin: 0 0 0 0;
    }
}

div.pdfbutton {
    margin-bottom: $space-l;
}