.cmp-utility-button {
    @include font-utility;
    padding: $space-xs $space-s;
    background-color: $color-white;
    border: 1px solid $color-border-dark;
    transition: $hover-transition;
    text-decoration: none;

    span {
        padding-right: $space-xxxs;
    }



    svg {
        width: $icon-m;
        height: $icon-m;
        vertical-align: text-top;

        .st0 {
            stroke: $color-gray-50;
        }

        @include mobile {
            float: right;
        }
    }

    &:hover {
        color: $color-link;
        text-decoration: none;

        svg {
            .st0 {
                stroke: $color-link;
            }
        }
    }

    &:disabled {
        border: 1px solid $color-disabled;
        color: $color-disabled;

        svg {
            .st0 {
                stroke: $color-disabled;
            }
        }
    }

    @include mobile {
        width: 100%;
        float: left;
        margin: 0;
        height: 55px;
    }

    &.method-file-button {
        @include tablet-and-under {
            display: none;
        }
    }
}

div.pdfbutton {
    margin: $space-s 0 $space-xxl 0;
}