.cmp-utility-button {

      padding: 0.6em $space-xs $space-xs;
      margin: 0 $space-s $space-l 0;
      background-color: $color-white;
      border: 1px solid $color-border-dark;
      height: 2.75em;
      @include font-utility;
      color: $color-font-medium;
      transition: all 0.25s ease;
      text-decoration: none;

    img.inline-svg {
          display: none;
         }

    svg {
        width: $icon-m;
        height: 24px;
        vertical-align: text-top;

        .st0 {
            stroke: $color-gray-50;
        }

        @include mobile {
            float: right;
        }
    }

    &:hover {
        color: $color-link;
        text-decoration: none;
        svg {
            .st0 {
                stroke: $color-link;
            }
        }


    }

    &:disabled {
        border: 1px solid $color-disabled;
        color: $color-disabled;
        svg {
            .st0 {
                stroke: $color-disabled;
            }
        }
    }

    @include mobile {
        width: 100%;
        float: left;
        font-size: $font-size-body-m;
        margin: 0 0 $space-s 0;
    }
}