/*PRIMARY BLUE*/
$color-blue-10: desaturate(lighten(#0077bb, 58), 20);
$color-blue-20: desaturate(lighten(#0077bb, 50), 20);
$color-blue-30: desaturate(lighten(#0077bb, 30), 20);
$color-blue-50: #0077bb;
$color-blue-70: darken(#0077bb, 10%);

/*SECONDARY TEAL*/
$color-teal-10: desaturate(lighten(#0f7f85, 67), 17);
$color-teal-20: desaturate(lighten(#0f7f85, 50), 20);
$color-teal-30: lighten(#0f7f85, 10%);
$color-teal-50: #0f7f85;
$color-teal-70: darken(#0f7f85, 10%);

/*GRAYSCALE*/
$color-white: #fff;
$color-gray-10: lighten(#4f5b64, 60%);
$color-gray-20: lighten(#4f5b64, 55%);
$color-gray-30: lighten(#4f5b64, 45%);
$color-gray-40: lighten(#4f5b64, 30%);
$color-gray-50: #4f5b64;
$color-black: darken(#4f5b64, 15%);

/*Use Specific*/
$color-font-dark: $color-black;
$color-font-medium: $color-gray-50;
$color-font-light: $color-white;
$color-link: $color-blue-50;
$color-link-hover: $color-blue-70;
$color-link-visited: $color-blue-70;
$color-disabled: $color-gray-40;
$color-accent: $color-teal-30;
$color-border-light: $color-gray-30;
$color-border-dark: $color-gray-40;
$color-border-accent: $color-teal-30;
$color-background-light: $color-gray-10;
$color-background-dark: $color-gray-50;
$color-icon: $color-gray-50;
$color-success: #00871a;
$color-error: #e60f33;
$color-focus: $color-blue-30;

/*SHADOW**/
$shadow: 0px 1px 5px 0px rgba(79, 91, 100, 0.2);

/* FONT */
$font-stack: 'acumin-pro', arial, sans-serif;

/*FONT SIZES*/
$font-size-h1: 2.25em;
$font-size-h2: 1.4em;
$font-size-h3: 1.1em;
$font-size-h4: 1em;
$font-size-h5: 1em;
$font-size-h6: 1em;
$font-size-body: 1em;
$font-size-small: 0.9em;

/*LINE HEIGHT*/
$line-height-heading: 1.4em;
$line-height-text: 1.7em;

/*FONT WEIGHT*/
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

/*LETTER SPACING*/
$letter-spacing-small: 0.02em;

/*MOBILE STYLING*/
$font-size-h1-m: 1.75em;
$font-size-h2-m: 1.4em;
$font-size-h3-m: 1.2em;
$font-size-h4-m: 1.1em;
$font-size-h5-m: 1.1em;
$font-size-h6-m: 1.1em;
$font-size-body-m: 1.1em;
$font-size-small-m: 1em;
$line-height-text-m: 1.5em;

/*ICON SIZES*/
$icon-s: 1em; /* 16px */
$icon-m: 1.5em; /* 24px */
$icon-l: 2em; /* 32px */
$icon-xl: 4em; /* 64px */

/*SPACE & MARGINS*/
$space-xxxs: 0.25em;
$space-xxs: 0.5em;
$space-xs: 0.75em;
$space-s: 1em;
$space-m: 1.5em;
$space-l: 2em;
$space-xl: 3em;
$space-xxl: 5em;

/* Breakpoints */
$max-width: 1460px;
$desktop-width: 1200px;
$tablet-width: 650px;

@mixin tablet-and-under {
    @media screen and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: #{$tablet-width + 1px}) and (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: #{$tablet-width}) {
        @content;
    }
}
