<div data-sly-resource="${'header' @ resourceType='waters/components/structure/header'}" data-sly-unwrap="${!isEditMode}"></div>

<div class="container">
    <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
         data-sly-repeat.child="${templatedContainer.structureResources}"
         data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"/>
</div>

<div data-sly-resource="${'footer' @ resourceType='waters/components/structure/footer'}" data-sly-unwrap="${!isEditMode}"></div>