<!-- Mopinion  start -->
<script type="text/javascript">
    (function(){var id="wisnehv1kluqtxmcj37o4wxz48q20axlqsu";var js=document.createElement("script");js.setAttribute("type","text/javascript");js.setAttribute("src","//deploy.mopinion.com/js/pastease.js");document.getElementsByTagName("head")[0].appendChild(js);var t=setInterval(function(){try{new Pastease.load(id);clearInterval(t)}catch(e){}},50)})();
</script>
<!-- Mopinion end -->


<!-- Brightcove framework start -->

<sly data-sly-use.video="com.waters.aem.core.components.content.Video">
    <script src="//players.brightcove.net/${video.brightcoveAccount}/${video.brightcovePlayerId}_default/index.min.js"></script>
</sly>

 <!-- Brightcove framework end-->

<!-- launch script end -->
<script type="text/javascript">_satellite.pageBottom();</Script>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories='waters.common'}"/>
<sly data-sly-call="${clientlib.js @ categories='waters.site'}"/>
