<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">

    <sly data-sly-include="meta.html"></sly>

    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>

    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <link rel="stylesheet" href="https://use.typekit.net/fko8taa.css">
    <link rel="stylesheet" type="text/css" href="/etc/designs/waters/main.css" media="screen" />
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
</template>