<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html"
          data-sly-use.meta="meta.html"
          data-sly-use.header="com.waters.aem.core.components.structure.Header">

    <meta charset="UTF-8">

    <sly data-sly-test.categoryListing="${header.categoryListing}">
        <link rel="canonical" href="${categoryListing.currentPageHref}">
        <link rel="next" href="${categoryListing.nextPageHref}" data-sly-unwrap="${!categoryListing.hasNextPage}">
        <link rel="prev" href="${categoryListing.previousPageHref}" data-sly-unwrap="${!categoryListing.hasPreviousPage}">
    </sly>

    <sly data-sly-test="${!categoryListing}" data-sly-call="${meta.meta @ renderCanonical=true}"/>
    <sly data-sly-test="${categoryListing}" data-sly-call="${meta.meta @ renderCanonical=false}"/>

    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>

    <sly data-sly-include="head.socialmedia.html"/>
    <sly data-sly-include="customheaderlibs.html"/>

    <sly data-sly-call="${headlibRenderer.headlibs @
        designPath                = page.designPath,
        staticDesignPath          = page.staticDesignPath,
        clientLibCategories       = page.clientLibCategories,
        clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
        hasCloudconfigSupport     = page.hasCloudconfigSupport}"/>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"/>

    <!--script to add and remove opacity style-->
    <script>
        !function(i){var e,t,n,o,a="at-body-style";function d(){return i.getElementsByTagName("head")[0]}e=d(),t=a,n="body {opacity: 1 !important}",e&&((o=i.createElement("style")).id=t,o.innerHTML=n,e.appendChild(o)),setTimeout(function(){var e,t,n;e=d(),t=a,!e||(n=i.getElementById(t))&&e.removeChild(n)},4e3)}((window,document));
    </script>

    <!--launch script-->
    <script data-sly-test="${header.launchScript}" src="${header.launchScript}" defer></script>

</template>
