<sly data-sly-use.metaPage="com.waters.aem.core.components.structure.page.Meta">
    <meta name="twitter:card" content="${metaPage.twitterCard}">
    <meta name="twitter:site" content="${metaPage.twitterPublisherHandle}">
    <meta name="twitter:creator" content="${metaPage.twitterPublisherHandle}">
    <meta name="twitter:title" content="${metaPage.title}">
    <meta name="twitter:description" content="${metaPage.description}">
    <meta name="twitter:url" content="${metaPage.externalizedPageUrl}">

    <meta data-sly-test.description="${metaPage.metaDescription || metaPage.description}" name="description" content="${description}">

    <sly data-sly-test="${metaPage.twitterImage}">
        <meta name="twitter:image" content="${metaPage.twitterImage}">
    </sly>

    <sly data-sly-test="${metaPage.ogType != 'none'}">
        <meta property="og:title" content="${metaPage.title}">
        <meta property="og:type" content="${metaPage.ogType}">
        <meta property="og:url" content="${metaPage.externalizedPageUrl}">
        <meta property="og:description" content="${metaPage.description}">

        <sly data-sly-test="${metaPage.ogImage}">
            <meta property="og:image" content="${metaPage.ogImage}">
        </sly>
    </sly>

    <sly data-sly-test="${metaPage.facebookAppId}">
        <meta property="fb:app_id" content="${metaPage.facebookAppId}">
    </sly>

    <sly data-sly-test="${metaPage.robotsTags}">
        <meta name="robots" content="${metaPage.robotsTags @ join=', '}">
    </sly>

    <link rel="canonical" href="${metaPage.canonicalUrl}">

    <link data-sly-repeat.hrefLang="${metaPage.hrefLangItems}" rel="alternate"
          hreflang="${hrefLang.languageTag}" href="${hrefLang.href}"/>

    <link rel="icon" sizes="192x192" href="/etc.clientlibs/waters/clientlibs/clientlib-resources/resources/icon-192x192.png">

    <title>${metaPage.title} <sly data-sly-test.hasSkuCode="${metaPage.skuCode}">- ${metaPage.skuCode}   </sly> : Waters</title>

    <script data-sly-test.homepage="${metaPage.homepage}" type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://www.waters.com/",
            "name": "${metaPage.title @ context='scriptString'}",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.waters.com/waters/keywordSearch.htm?cid=505548&q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    <script data-sly-test="${homepage}" type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Waters Corporation",
            "url": "https://www.waters.com/",
            "sameAs": [
                "https://www.linkedin.com/company/waters/",
                "https://www.facebook.com/Waters",
                "https://www.youtube.com/user/WatersCorporation",
                "https://twitter.com/WatersCorp",
                "https://www.youtube.com/channel/UCfUs2fCDhx07fkszsJ0jOcA"
            ],
            "description": "${metaPage.description @ context='scriptString'}",
            "logo": "https://www.waters.com/content/dam/waters/en/brand-assets/logos/waters-logo-black.svg",
            "telephone": "(508) 478-2000",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "34 Maple St.",
                "addressLocality": "Milford",
                "addressRegion": "MA",
                "postalCode": "01757"
            }
        }
    </script>
    <script data-sly-test="${metaPage.libraryPage}" type="application/ld+json">
        ${metaPage.schemaJson @ context='unsafe'}
    </script>
    <script data-sly-test="${metaPage.skuPage}" type="application/ld+json">
         ${metaPage.productSchemaJson @ context='unsafe'}
    </script>
</sly>