<template data-sly-template.responsiveGrid="${ @ container}">
   <div id="${container.id}" class="cmp-container" style="${container.backgroundStyle @ context='styleString'};background-image: none;">
	<sly data-sly-use.container="com.waters.aem.core.components.content.Container">
   		<div class="cmp-container__wrapper" data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}">

   		</div>
   		<div class="cmp-container__background-overlay"></div>
   		<div class="cmp-container__background-image">
   		<sly data-sly-test="${properties.backgroundImageReference}">
        	<picture>
   				<source srcset="${container.desktopUrl}" media="(min-width: 651px) and (max-width: 1200px)">
   				<source srcset="${container.mobileUrl}" media="(max-width: 650px)">
   				<img src="${container.desktopUrl}">
            </picture>
        </sly>
   		</div>
   	</sly>
	</div>
	<link rel="preload" href="/etc.clientlibs/waters/components/content/container/clientlib-container.css" as="style"  onload="this.onload=null;this.rel='stylesheet'">
</template>