@import '../../styles/index.scss';

button.primary {
  @include font-body;
  margin-bottom: 0;
  border: none;
  background-color: $color-link;
  border-radius: $border-radius;
  color: $color-font-light;
  height: $height-medium;
  padding: 0 $space-l;
  text-transform: uppercase;
  line-height: $line-height-button;
  &.active {
    outline: none;
  }
  &:hover {
    background-color: $color-link-hover;
    transition: $hover-transition;
    box-shadow: none;
    cursor: pointer;
  }
  &:disabled {
    background-color: $color-disabled;
    cursor: default;
  }
  &.dark {
    background: transparent;
    border: 1px solid $color-white;
    &:hover {
      background-color: $color-white;
      color: $color-font-medium;
      transition: $hover-transition;
    }
  }
}

button.secondary {
  @include font-body;
  background: transparent;
  color: $color-link;
  height: $height-medium;
  padding: 0 $space-l;
  border: $border-link;
  border-radius: $border-radius;
  text-transform: uppercase;
  line-height: $line-height-button;
  &.active {
    outline: none;
  }
  &:hover {
    background-color: $color-link-hover;
    color: $color-font-light;
    border: $border-link-hover;
    transition: $hover-transition;
    cursor: pointer;
  }
  &:disabled {
    border: $border-disabled;
    color: $color-disabled;
    background: transparent;
    cursor: default;
  }
  &.dark {
    border: $border-light;
    color: $color-font-light;
    &:hover {
      background-color: $color-white;
      color: $color-font-medium;
      transition: $hover-transition;
    }
  }
}

button.text {
  background: transparent;
  @include font-body;
  color: $color-link;
  height: $height-medium;
  padding: 0 $space-l;
  border: none;
  border-radius: $border-radius;
  line-height: $line-height-button;
  &.active {
    outline: none;
  }
  &:hover {
    color: $color-link-hover;
    text-decoration: underline;
    transition: $hover-transition;
    cursor: pointer;
  }
  &.dark {
    color: $color-gray-20;
    &:hover {
      color: $color-font-light;
      text-decoration: underline;
      transition: $hover-transition;
      cursor: pointer;
    }
  }
}

button.utilityBorder {
  background: transparent;
  @include font-body;
  @include font-utility;
  height: $height-medium;
  padding: 0 $space-s;
  border: $border-dark;
  border-radius: $border-radius;
  line-height: $line-height-button;
  &.active {
    outline: none;
  }
  .icon {
    svg {
      width: $icon-m;
      margin-left: $space-xxs;
      margin-bottom: -6px;
      .st0 {
        stroke: $color-icon;
      }
    }
  }
  &:hover {
    color: $color-link;
    border: $border-link;
    transition: $hover-transition;
    cursor: pointer;
    svg .st0 {
      stroke: $color-link;
    }
  }
  &.dark {
    color: $color-gray-20;
    border: 1px solid $color-gray-20;
    .icon {
      svg {
        stroke: $color-gray-20;
      }
    }
    &:hover {
      color: $color-font-light;
      border: $border-light;
      transition: $hover-transition;
      cursor: pointer;
    }
  }
}

@include mobile {
  button {
    width: 100%;
  }
}
