<div class="cmp-anchor">
    <span class="cmp-anchor__icon"><img alt="${'Jump to ' @ i18n}" src="/content/dam/we-retail/en/products/activities/surfing/source/jump.svg" class="inline-svg">${'Jump to' @ i18n}</span>
    <span class="cmp-anchor__icon cmp-anchor__icon--hide"><img alt="${'Close ' @ i18n}" src="/content/dam/we-retail/en/products/activities/surfing/source/close.svg" class="inline-svg">${'Close' @ i18n}</span>
    <ul data-sly-use.anchor="com.waters.aem.core.components.content.Anchor"
        data-sly-test.links="${anchor.links}"
        data-sly-list.link="${links}"
        data-sticky-text="${'Jump to' @ i18n}"
        data-close-text="${'Close' @ i18n}"
        class="cmp-anchor__ullist"
        id="cmp-anchor">
        <li class="cmp-anchor__list">
            <a class="cmp-anchor__link" href="${link.href}">${link.title}</a>
        </li>
    </ul>
</div>
<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!links, text=component.title}"/>