<ul
    class="cmp-share addthis_toolbox"
    data-sly-use.share="com.waters.aem.core.components.content.Share"
    data-base-url="${share.baseUrl}"
>
    <li class="cmp-share__item">${'Share' @ i18n}</li>
    <li
        class="cmp-share__item"
        data-sly-repeat.serviceCode="${share.serviceCodes}"
    >
        <a class="cmp-share__link addthis_button_${serviceCode}">
            <img
                src="/content/dam/waters/brand-assets/icons/${serviceCode}.svg"
                class="inline-svg"
            />
        </a>
    </li>
    <li class="cmp-share__item">
        <a class="cmp-share__link addthis_button_link">
            <img
                src="/content/dam/waters/brand-assets/icons/link.svg"
                class="inline-svg"
            />
        </a>
    </li>
    <li class="cmp-share__item">
        <a class="cmp-share__link addthis_button_compact">
            <img
                src="/content/dam/waters/brand-assets/icons/share.svg"
                class="inline-svg"
            />
        </a>
    </li>
</ul>
