<a class="cmp-back-to-top" href="#" title="${'Back To Top' @ i18n}"><img alt="${'Back To Top' @ i18n}" src="/content/dam/waters/brand-assets/icons/up.svg" class="inline-svg"></a>

<div data-sly-use.externalFooter="com.waters.aem.core.components.structure.ExternalFooter"
     class="cmp-external-footer">
    <div class="container">
        <div class="cmp-external-footer__logo">
            <a href="${externalFooter.logoLink.href}" target="${externalFooter.newWindow ? '_blank' : ''}">
                <img src="${externalFooter.logoImage.fileReference}" alt="${externalFooter.logoAltText}"/>
            </a>
        </div>
        <div class="cmp-external-footer__links">
            <nav data-sly-test="${externalFooter.footerLinks}">
                <a data-sly-repeat="${externalFooter.footerLinks}" href="${item.link.href}" target="${item.newWindow ? '_blank' : ''}">
                    ${item.text}<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html" data-sly-call="${patterns.linkIcon @ linkItem=item}"/>
                </a>
                <a data-sly-test="${externalFooter.cookiesLink}" href="${externalFooter.cookiesLink.href}" target="_blank">${'Cookies' @ i18n}</a>
                <a class="optanon-toggle-display dl_Anchor" href="#">${'Cookie Preferences' @ i18n}</a>
            </nav>
        </div>
        <div class="cmp-external-footer__copyright">
            <p>${externalFooter.copyrightText}</p>
        </div>
    </div>
</div>

<script type="text/javascript" id="datalayer">
    var parsedData = JSON.parse('${externalFooter.dataLayer @ context="unsafe"}');

    if (parsedData.page) {
        parsedData.page.serverName = window.location.hostname;
    }

    window.digitalData = parsedData;

    document.dispatchEvent(new CustomEvent('digitalDataReady', {}));
</script>