<a class="cmp-back-to-top" href="#" title="${'Back To Top' @ i18n}"><img alt="${'Back To Top' @ i18n}" src="/content/dam/waters/brand-assets/icons/up.svg" class="inline-svg"></a>

<div data-sly-use.externalFooter="com.waters.aem.core.components.structure.ExternalFooter"
     class="cmp-external-footer">
    <div class="container">
        <div class="cmp-external-footer__logo">
            <a href="${externalFooter.logoLink.href}" target="${externalFooter.newWindow ? '_blank' : ''}">
                <img src="${externalFooter.logoImage.fileReference}" alt="${externalFooter.logoAltText}"/>
            </a>
        </div>
        <div class="cmp-external-footer__links">
            <sly data-sly-test="${externalFooter.footerLinks}">
                <nav data-sly-list="${externalFooter.footerLinks}"><a href="${item.link.href}" target="${item.newWindow ? '_blank' : ''}">${item.text}<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html" data-sly-call="${patterns.linkIcon @ linkItem=item}"/></a></nav>
            </sly>
        </div>
        <div class="cmp-external-footer__copyright">
            <p>${externalFooter.copyrightText}</p>
        </div>
    </div>
</div>

<script id="datalayer" type="text/javascript">
    window.dataLayer = '${externalFooter.dataLayer @ context="unsafe"}';
 </script> 