<div data-sly-use.featurecard="com.waters.aem.core.components.content.FeatureCard">
	<script type="application/json" id="cmp-featurecard-json">
        {
            "title": "${featurecard.title @ i18n, context='html'}",
            "description": "${featurecard.description @ i18n, context='html'}",
            "icon": "${featurecard.icon @ i18n, context='unsafe'}",
			"feature": "${featurecard.feature @ i18n, context='unsafe'}",
        }
    </script>
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=true, text=component.title}"/>