<div class="cmp-visual-gallery"
     data-sly-use.visualGallery="com.waters.aem.core.components.content.VisualGallery"
     data-sly-test="${visualGallery.json}"
     data-json='${visualGallery.json  @ context="unsafe"}'>
</div>

</div>
    <script type="application/json" class="video-configs-json">
        {
            "videoConfig": {
                "playIcon": "/content/dam/waters/en/brand-assets/icons/play.svg",
                "closeIcon": "/content/dam/waters/en/brand-assets/icons/close.svg",
                "brightcoveVideoId": "${visualGallery.videoId  @ context='scriptString'}",
                "brightcoveAccount": "${visualGallery.brightcoveAccount  @ context='scriptString'}",
                "brightcovePlayerId": "${visualGallery.brightcovePlayerId  @ context='scriptString'}"
            }
        }
    </script>
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!visualGallery.src, text=component.title}"/>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.js @ categories='waters.visualgallery'}"/>
<link rel="preload" href="/etc.clientlibs/waters/components/content/visualgallery/clientlib-visualgallery.css" as="style"  onload="this.onload=null;this.rel='stylesheet'">