<sly data-sly-use.externalHeader="com.waters.aem.core.components.structure.ExternalHeader" class="cmp-external-header" data-search-path="${externalHeader.searchPath.href}">
    <div class="container">
        <div class="cmp-external-header__logo">
            <a class="cmp-external-header-logo__link" href="${externalHeader.logoLink.href}" target="${externalHeader.newWindow?'_blank':''}">
                <img  src="${externalHeader.logo.fileReference}" alt="${externalHeader.logoAltText}"/>
            </a>
        </div>
        <nav class="cmp-external-header__links">
            <ul data-sly-test="${externalHeader.linkItems || externalHeader.languageLocation}">
                <li data-sly-repeat="${externalHeader.linkItems}" class="cmp-external-header__links__item">
                    <a class="cmp-external-header-links__link" href="${item.link.href}" target="${item.newWindow ? '_blank' : ''}">
                        <span>${item.text}</span>
                        <sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
                             data-sly-call="${patterns.linkIcon @ linkItem=item, class='cmp-external-header-links__icon'}"/>
                    </a>
                </li>
                <li class="cmp-external-header__links__item">
                    <a class="cmp-external-header-links__link" href="${externalHeader.regionLinkItem.link.href}" target="${externalHeader.regionLinkItem.newWindow ? '_blank' : ''}">
                        <span>${externalHeader.languageLocation}</span>
                        <sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
                             data-sly-call="${patterns.linkIcon @ linkItem=externalHeader.regionLinkItem, class='cmp-external-header-links__icon'}"/>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</sly>
