<header data-sly-use.externalHeader="com.waters.aem.core.components.structure.ExternalHeader" class="cmp-external-header" data-search-path="${externalHeader.searchPath}">
    <div class="container">
        <div class="cmp-external-header__logo">
            <a class="cmp-external-header-logo__link" href="${externalHeader.logoLink.href}" target="${externalHeader.newWindow?'_blank':''}">
                <img  src="${externalHeader.logo.fileReference}" alt="${externalHeader.logoAltText}"/>
            </a>
        </div>
    </div>
</header>