<div data-sly-use.featurecard="com.waters.aem.core.components.content.FeatureCards" class="cmp-featurecards">    
    <div class="cmp-feature-heading">${featurecard.title @ context='html'}</div>
    <ul class="cmp-features" data-sly-test="${featurecard.features}">
        <li class="cmp-features_list" data-sly-repeat="${featurecard.features}">
            <div class="cmp-features_feature-wrapper">
                <div class="cmp-feature-icon-wrapper">
                    <img class="${item.icon ? 'inline-svg' : ''}" data-sly-test="${item.icon}" src="${item.icon}"/>
                </div>
                <div class="cmp-features_feature">${item.feature}</div>
            </div>
        </li>
    </ul>
    <div class="cmp-features_description">${featurecard.description @ context='html'}</div>    
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=true, text=component.title}"/>