<h1>Status</h1>

<div class="row" data-sly-use.importerStatus="com.waters.aem.hybris.components.HybrisImporterStatus">
    <div class="col-12">
        <div data-sly-test="${importerStatus.running}" class="alert alert-primary" role="alert">
            Hybris import running...
        </div>

        <div data-sly-test="${!importerStatus.running && !importerStatus.lastImportDate}" class="alert alert-info" role="alert">
            No Hybris imports have been executed.
        </div>

        <div data-sly-test="${!importerStatus.running && importerStatus.lastImportDate && importerStatus.success}" class="alert alert-success" role="alert">
            Last Hybris import completed on <a href="${currentPage.path}.audit.html" target="_blank">${importerStatus.lastImportDate}</a>.
        </div>

        <div data-sly-test="${!importerStatus.running && importerStatus.lastImportDate && !importerStatus.success}" class="alert alert-danger" role="alert">
            Last Hybris import failed on <a href="${currentPage.path}.audit.html" target="_blank">${importerStatus.lastImportDate}</a>.
        </div>
    </div>

    <div class="col-6">
        <form method="POST" action="/bin/importer/executor">
            <input type="hidden" name="force" value="false"/>
            <input type="hidden" name="replicate" value="true"/>
            <button type="submit" class="btn btn-primary">Run Import</button>
        </form>
    </div>
</div>