<div data-sly-use.searchBar="com.waters.aem.core.components.content.SearchBar"
     id="js-search-bar"
     class="cmp-search-bar__form"
     data-base-url="${searchBar.baseUrl}"
     data-isocode="${searchBar.isocode}"
     data-icon-search="/content/dam/waters/en/brand-assets/icons/search.svg"
     data-icon-clear="/content/dam/waters/en/brand-assets/icons/close.svg"
     data-placeholder-tablet="${'Search topics, products, SKU numbers...' @ i18n}"
     data-placeholder-mobile="${'Search' @ i18n}">
</div>