<div data-sly-use.iframe="com.waters.aem.core.components.content.Iframe"
     data-sly-test="${iframe.source}"
     class="cmp-iframe">
    <iframe src="${iframe.source}"
            height="${iframe.height}"
            scrolling="auto"
            allowfullscreen seamless>
    </iframe>
    <div class="no-pdf-plugin-container-ie hide" data-sly-text="${'<p>Your IE browser does not have the Adobe PDF Reader add-on installed/enabled!</p><ol><li>Click <a href=\'https//get.adobe.com/reader\' target=\'_blank\'>here</a> to download and install Adobe PDF Reader (if not already installed)</li><li>Enable Adobe PDF Reader in your browser.  Click <a href=\'https://helpx.adobe.com/acrobat/kb/cant-view-pdf-web.html#Advancedsolutions\' target=\'_blank\'>here</a> for instructions.</li><li>Lastly, reload the page to view the PDF.</li></ol>' @ i18n, context='unsafe'}">
    </div>
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!iframe.source, text=component.title}"/>