<div data-sly-use.chat="com.waters.aem.core.components.content.Chat" class="cmp-chat"
     data-chat-url="${chat.chatUrl}"
     data-chat-icon="/content/dam/waters/en/brand-assets/icons/chat.svg"
     data-chat-available-text="${'Live Chat is available now' @ i18n}"
     data-chat-unavailable-text="${'Live Chat is unavailable' @ i18n}"
     data-chat-text="${'Do you need help finding a product or ordering online?' @ i18n}"
     data-chat-button-text="${'ASK A QUESTION' @ i18n}">
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=true, text=component.title}"/>
