<div data-sly-use.myaccount="com.waters.aem.core.components.content.Cart">
    <div class="cmp-title">
        <h1 class="cmp-title__text">Cart Component</h1>
        <div class="cmp-title__print">Cart Component</div>
        <div class="cmp-accent-rule"><hr></div>
    </div>
    <p>This is just a authoring component, it wouldn't appear to end user</p>
</div>

<sly
        data-sly-use.patterns="/apps/waters/components/content/patterns.html"
        data-sly-call="${patterns.placeholder @ show=true, text=component.title}"
/>
