<div data-sly-use.skuDetails="com.waters.aem.core.components.content.SkuDetails"
     data-sly-test.sku="${skuDetails.displayableSku}"
     class="cmp-sku-details">
    <div class="cmp-sku-details__wrapper">
        <div class="cmp-sku-details__container">
            <div class="cmp-sku-details__heading">
                <img src="${sku.primaryImageThumbnail}" alt="${sku.primaryImageAlt}">
                <div class="cmp-sku-details__info">
                    <h1>
                        <span class="cmp-sku-details__code">${'SKU:' @ i18n} ${sku.code}</span><br/>
                        <span class="cmp-sku-details__info-title"id="skuTitle">${sku.title}</span>
                    </h1>
                </div>
            </div>
            <div class="cmp-sku-details__ecom-wrapper">
                <div class="cmp-sku-details__ecom" 
                    data-price="${sku.formattedPrice}" 
                    data-sku-code="${sku.code}"
                    data-sku-title="${sku.title}" 
                    data-discontinued="${!sku.active ? 'true' : ''}"
                    data-country-restricted="${'This product is not available.' @ i18n}"
                    data-replacement-sku-code="${sku.replacementSkuCode}"
                    data-replacement-sku-href="${sku.replacementSkuPageHref}">
                </div>
            </div>
        </div>
    </div>
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!sku, text=component.title}"/>
