<div data-sly-use.skuDetails="com.waters.aem.core.components.content.SkuDetails"
     data-sly-test.sku="${skuDetails.displayableSku}"
     class="cmp-sku-details">
    <div class="cmp-sku-details__wrapper">
        <div class="cmp-sku-details__container">
            <div class="cmp-sku-details__heading">
                <img src="${sku.primaryImageThumbnail}" alt="${sku.primaryImageAlt}">
                <div class="cmp-sku-details__info">
                    <div class="cmp-sku-details__code">${sku.code}</div>
                    <h1>${sku.title}</h1>
                </div>
            </div>
            <div class="cmp-sku-details__ecom" data-sly-test="${sku.active}">
                <div class="cmp-sku-details__buyinfo">
                    <div class="cmp-sku-details__priceinfo">
                        <sly data-sly-test.price="${sku.formattedPrice}">
                            <span>${'List Price' @ i18n}</span>
                            <div class="cmp-sku-details__price">${price}</div>
                        </sly>
                    </div>
                    <div class="cmp-sku-details__availability"
                        data-instock="instock"
                        data-lowstock = "lowstock"
                        data-out-of-stock="out-of-stock">
                        <span class="cmp-sku-details__stockdetails">${'In Stock' @ i18n}
                            <img alt="${'In Stock' @ i18n}" src="/content/dam/waters/en/brand-assets/icons/success.svg" class="inline-svg">
                        </span>
                        <div class="cmp-sku-details__order">${'Order now' @ i18n}</div>
                    </div>
                    <div class="cmp-sku-details__buttons">
                        <input class="cmp-sku-details__quantity" type="number" placeholder="Qty" max="999" min="0" value="">
                        <a class="cmp-button">${'ADD TO CART' @ i18n}</a>
                    </div>
                </div>
                <a class="cmp-sku-details__web-quote" href="#">${'Do you need a web quote?' @ i18n}</a>
            </div>
            <div class="cmp-notification-wrapper" data-sly-test="${!sku.active}">
                <div class="cmp-notification-icon">
                    <img class="inline-svg" src="/content/dam/waters/en/brand-assets/icons/attention.svg"/>
                </div>
                <div class="cmp-notification-body">
                    <div class="cmp-notification-description">
                        <sly data-sly-test="${sku.replacementSkuCode}">
                            ${'The part number you selected is no longer available, but there is a replacement. The replacement part number is ' @ i18n}
                            <a href="${sku.replacementSkuPageHref}">${sku.replacementSkuCode}</a>
                        </sly>
                        <sly data-sly-test="${!sku.replacementSkuCode}">
                            ${'The part number you selected is no longer available.' @ i18n}
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/json" id="commerce-configs-json">
        {
            "locale": "${skuDetails.locale}",
            "availabilityUrl": "${skuDetails.skuAvailabilityUrl @ context='unsafe'}",
            "pricingUrl": "${skuDetails.skuCustomerPriceUrl @ context='unsafe'}",
            "addToCartUrl": "${skuDetails.addToCartUrl @ context='unsafe'}",
            "countryCode": "${skuDetails.countryCode @ context='scriptString'}",
            "isoCode": "${skuDetails.isoCode @ context='scriptString'}",
            "addToCartLabel": "${'ADD TO CART' @ i18n, context='scriptString'}",
            "qtyLabel": "${'Qty' @ i18n, context='scriptString'}",
            "skuInfo": {
                "inStockLabel": "${'In Stock' @ i18n, context='scriptString'}",
                "listPriceLabel": "${'List Price' @ i18n, context='scriptString'}",
                "formattedPrice": "${skuDetails.formattedPrice}",
                "outOfStockLabel": "${'Out of Stock' @ i18n, context='scriptString'}",
                "orderNowLabel": "${'Order Now' @ i18n, context='scriptString'}",
                "orderSoonLabel": "${'Order Soon' @ i18n, context='scriptString'}",
                "shipsByLabel": "${'Ships by {0}' @ format=['{shipByDate}'], i18n, context='scriptString'}",
                "onlyXInStockLabel": "${'Only {0} in stock' @ format=['{quantity}'], i18n, context='scriptString'}",
                "inStockIcon": "/content/dam/waters/en/brand-assets/icons/success.svg",
                "lowStockIcon": "/content/dam/waters/en/brand-assets/icons/attention.svg",
                "outOfStockIcon": "/content/dam/waters/en/brand-assets/icons/x.svg",
                "maxAmount": 999
            },
            "modalInfo": {
                "icon": "/content/dam/waters/en/brand-assets/icons/checkmark.svg",
                "closeIcon": "/content/dam/waters/en/brand-assets/icons/close.svg",
                "title": "${'Item Added to Cart' @ i18n, context='scriptString'}",
                "textHeading": "${sku.code @ context='scriptString'}",
                "text": "${sku.title @ context='scriptString'}",
                "buttons": [
                    {
                        "text": "${'View Cart' @ i18n, context='scriptString'}",
                        "action": "${skuDetails.viewCartUrl @ context='unsafe'}"
                    },
                    {
                        "text": "${'Continue Shopping' @ i18n, context='scriptString'}",
                        "action": "close"
                    }
                ]
            }
        }
    </script>
</div>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!sku, text=component.title}"/>
