<!-- //
COLOR PALETTE
Blue: #0077bb
Berry: #993355
Orange: #EE7700
Green: #88B23F
Teal: #119988
Purple: #550088
Red: #BF0E2B
TEXT STYLES
p
h1
h2
h3
h4
caption
feature
boxed
cta
event-details
MOBILE STYLES
mobile-smaller
mobile-hide
mobile-center
mobile-padding
mobile-full-width
mobile-padding-top
mobile-padding-bottom
// -->
<!--[if (gte mso 9)|(lte ie 8)]>
<style type="text/css">
    table {border-collapse: collapse;}
</style>
<![endif]-->
<!--[if gte mso 9]>
<style>
    li {text-indent: -1em;}
</style>
<![endif]-->
<!--[if gte mso 11]>
<style>
    a {color: #0077bb !important; text-decoration: none !important;}
</style>
<![endif]-->
<style type="text/css">
    /* ///////////  TEMPLATE CSS  //////////// */
    /* Structure */
    /* Fix for Apple Links */
    a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
    }
    /* Images */
    /* Text Styles */
    /* Button */
    /* ///////////  TABLET CSS  //////////// */
    @media screen and (max-width: 620px) {
        /* Structure */
        .column {
            width: 100% !important;
            max-width: 100% !important;
        }
        .column .content {
            width:100% !important;
            max-width: 100% !important;
        }
        .subcontent {
            width: 100% !important;
            max-width: 100% !important;
        }
        .column .content img {
            width: 100% !important;
        }
        .column .subcolumn {
            width: 100% !important;
            max-width: 100% !important;
        }
        /* Images */
        .container img {
            width: 100%;
        }
        .icon {
            width: 15% !important;
        }
        /* Mobile Specific */
        .mobile-smaller {
            width: 70% !important;
            max-width: 70% !important;
        }
        .mobile-hide {
            display: none !important;
        }
        .mobile-center {
            text-align: center !important;
        }
        .mobile-padding {
            padding: 30px !important;
        }
        .mobile-icon {
            width: 20% !important;
            max-width: 20% !important;
        }
    }
    /* ///////////  MOBILE CSS  //////////// */
    @media screen and (max-width: 420px) {
        /* Structure */
        .column {
            width: 100% !important;
            max-width: 100% !important;
        }
        .column .content {
            width: 100% !important;
            max-width: 100% !important;
        }
        .column .content img {
            width: 100% !important;
        }
        /* Text Styles */
        p {
            padding-bottom: 15px !important;
            font-size: 17px !important;
            line-height: 25px !important;
        }
        li {
            font-size: 28px !important;
        }
        ul {
            font-size: 16px !important;
            line-height: 24px !important;
        }
        .h1 {
            font-size: 28px !important;
            line-height: 36px !important;
            padding-bottom: 24px !important;
        }
        .h2 {
            font-size: 23px !important;
            line-height: 28px !important;
            padding-bottom: 20px !important;
        }
        .h3 {
            font-size: 20px !important;
            line-height: 28px !important;
        }
        .copyright {
            font-family: Arial, sans-serif;
            font-size: 12px !important;
            color: #999999 !important;
            text-align: center;
            line-height: 18px !important;
        }
        .boxed {
            padding: 10px 0px 10px 0px !important;
        }
        .cta a {
            font-size: 19px !important;
            line-height: 25px !important;
        }
        .feature {
            font-size: 13px !important;
        }
        /* Button */
        .button td a {
            font-size: 22px !important;
            line-height: 26px !important;
            padding: 8px 30px !important;
            display: inline-block;
        }
        .button {
            width: 100% !important;
        }
        /* Images */
        .social img {
            width: 44px !important;
        }
        .waters {
            width: 225px !important;
        }
        /* Mobile Specific */
        .mobile-smaller {
            width: 70% !important;
            max-width: 70% !important;
        }
        .mobile-hide {
            display: none !important;
        }
        .mobile-center {
            text-align: center !important;
        }
        .mobile-padding {
            padding: 30px !important;
        }
        .mobile-full {
            width: 100% !important;
            max-width: 100% !important;
        }
        .mobile-padding-top {
            padding: 30px 30px 0px 30px !important;
        }
        .mobile-padding-bottom {
            padding: 0px 30px 30px 30px !important;
        }
        .mobile-no-padding {
            padding: 0px 30px 0px 30px !important;
        }
    }
</style>