<div data-sly-use.banner="com.waters.aem.core.components.content.Banner"
     class="cmp-banner">

    <div class="cmp-banner__background-image" data-sly-resource="${'par' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
    <div class="cmp-banner__parsys" data-sly-resource="${'backgroundimage' @ resourceType='waters/components/content/image'}"></div>

</div>
<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=true, text=component.title}"/>
