/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

html {
  font-size: 16px; }

body {
  font-family: "acumin-pro", arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  color: #2d3439;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
  margin-top: 0;
  margin: 0 0 0 0; }

p {
  margin-top: 0; }

h1 {
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1em;
  margin-top: 0; }
  @media screen and (max-width: 650px) {
    h1 {
      font-size: 1.6em; } }

h2 {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.6em;
  color: #4f5b64;
  margin-bottom: 1em;
  margin-top: 0; }

h3 {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 0.75em;
  margin-top: 0; }

h4,
h5,
h6 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 0.5em;
  margin-top: 0; }

ul {
  list-style-type: square;
  padding-left: 1.2em;
  margin-top: 0; }
  ul li {
    margin-bottom: 1em; }

ol {
  padding-left: 1.2em;
  margin-top: 0; }
  ol li {
    margin-bottom: 1em; }

b,
strong {
  font-weight: 500; }

.cmp-text {
  padding-bottom: 1em; }

* {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  padding-top: 6.5em;
  overflow-x: hidden; }
  @media screen and (max-width: 650px) {
    body {
      padding-top: 6.1875em; } }

.aem-GridColumn {
  padding: 0 14px; }
  @media screen and (max-width: 650px) {
    .aem-GridColumn {
      padding: 0 4px; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .aem-GridColumn {
      padding: 0 12px; } }

.layoutcontainer > div {
  margin: 0 0 0 -14px; }
  @media screen and (max-width: 650px) {
    .layoutcontainer > div {
      margin: 0 0 0 -4px; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .layoutcontainer > div {
      margin: 0 0 0 -12px; } }

.layoutcontainer .sectioncontainer {
  padding: 0;
  margin: 3em 0 2em 0; }

.layoutcontainer .cmp-section-container__title {
  padding: 1em 0 1.5em 0;
  margin: 0em 14px;
  border-top: 1px solid #c6cdd2; }
  @media screen and (max-width: 650px) {
    .layoutcontainer .cmp-section-container__title {
      padding: 1em 0 1.5em 0;
      margin: 0 2px; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .layoutcontainer .cmp-section-container__title {
      padding: 1em 0 1.5em 0;
      margin: 0 12px; } }

.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 80px; }
  .container__left {
    width: 25%;
    float: left; }
  .container__content {
    width: 75%;
    float: right; }
    @media screen and (max-width: 650px) {
      .container__content {
        width: 100%; } }
    @media screen and (min-width: 651px) and (max-width: 1200px) {
      .container__content {
        width: 100%; } }
  @media screen and (max-width: 650px) {
    .container {
      padding: 0 20px; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .container {
      padding: 0 40px; } }

a {
  color: #0077bb;
  transition: all 0.25s ease;
  text-decoration: none; }
  a:hover {
    color: #005788;
    text-decoration: underline; }
  a:active {
    color: #0077bb;
    text-decoration: none; }

.hidden {
  display: none; }

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: none; }
  .overlay.active {
    display: block; }

.clearfix:after {
  display: table;
  clear: both;
  content: ''; }

.cmp-button button,
.cmp-button a,
a.cmp-button,
button.cmp-button {
  color: #4f5b64;
  padding: 0.75em 2em;
  margin: 0 0 2em 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #0077bb;
  border: 2px solid transparent;
  transition: all 0.25s ease;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  float: left; }
  .cmp-button button:hover,
  .cmp-button a:hover,
  a.cmp-button:hover,
  button.cmp-button:hover {
    background-color: #005788; }
  .cmp-button button:active,
  .cmp-button a:active,
  a.cmp-button:active,
  button.cmp-button:active {
    background-color: #0077bb;
    color: #fff; }
  @media screen and (max-width: 650px) {
    .cmp-button button,
    .cmp-button a,
    a.cmp-button,
    button.cmp-button {
      width: 100%;
      float: left;
      margin: 0 0 1em 0; } }

.cmp-button--disabled button.cmp-button,
.cmp-button--disabled a.cmp-button,
a.cmp-button--disabled,
button.cmp-button--disabled {
  color: #4f5b64;
  padding: 0.75em 2em;
  margin: 0 0 2em 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #9ca7b0; }

.cmp-button--secondary button.cmp-button,
.cmp-button--secondary a.cmp-button,
a.cmp-button--secondary,
button.cmp-button--secondary {
  color: #4f5b64;
  padding: 0.75em 2em;
  margin: 0 0 2em 0;
  color: #0077bb;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid #0077bb;
  transition: all 0.25s ease; }
  .cmp-button--secondary button.cmp-button:hover,
  .cmp-button--secondary a.cmp-button:hover,
  a.cmp-button--secondary:hover,
  button.cmp-button--secondary:hover {
    color: #005788;
    border: 1px solid #005788; }
  .cmp-button--secondary button.cmp-button:active,
  .cmp-button--secondary a.cmp-button:active,
  a.cmp-button--secondary:active,
  button.cmp-button--secondary:active {
    color: #0077bb;
    background-color: #fff; }
  @media screen and (max-width: 650px) {
    .cmp-button--secondary button.cmp-button,
    .cmp-button--secondary a.cmp-button,
    a.cmp-button--secondary,
    button.cmp-button--secondary {
      width: 100%;
      float: left;
      margin: 0 0 1em 0; } }

.cmp-button--secondary--disabled button.cmp-button,
.cmp-button--secondary--disabled a.cmp-button,
a.cmp-button--secondary--disabled,
button.cmp-button--secondary--disabled {
  color: #9ca7b0;
  border: 1px solid #9ca7b0; }

@media (max-width: 768px) {
  div.cmp-button,
  div.cmp-button--disabled,
  div.cmp-button--secondary,
  div.cmp-button--secondary--disabled,
  div.cmp-button--utility,
  div.cmp-button--utility--disabled,
  div.cmp-button--floating-utility,
  div.cmp-button--floating-utility--disabled,
  button.cmp-button--disabled,
  button.cmp-button--secondary,
  button.cmp-button--secondary--disabled,
  button.cmp-button--utility,
  button.cmp-button--utility--disabled,
  button.cmp-button--floating-utility,
  button.cmp-button--floating-utility--disabled,
  a.cmp-button--disabled,
  a.cmp-button--secondary,
  a.cmp-button--secondary--disabled,
  a.cmp-button--utility,
  a.cmp-button--utility--disabled,
  a.cmp-button--floating-utility,
  a.cmp-button--floating-utility--disabled {
    width: 100%;
    margin-bottom: 1em; } }

.cmp-button--left button.cmp-button,
.cmp-button--left a.cmp-button,
a.cmp-button.cmp-button--left,
button.cmp-button.cmp-button--left {
  float: left;
  display: block; }

.cmp-button--right button.cmp-button,
.cmp-button--right a.cmp-button,
a.cmp-button.cmp-button--right,
button.cmp-button.cmp-button--right {
  float: right;
  display: block; }

.cmp-button--center {
  text-align: center; }

.cmp-button--center button.cmp-button,
.cmp-button--center a.cmp-button,
a.cmp-button.cmp-button--center,
button.cmp-button.cmp-button--center {
  display: inline-block;
  float: none; }

hr,
.cmp-horizontal-rule hr {
  margin: 2em 0;
  background-color: #c6cdd2;
  border: none;
  height: 1px; }
  @media screen and (max-width: 650px) {
    hr,
    .cmp-horizontal-rule hr {
      width: 200%;
      margin-left: -25%; } }

.cmp-accent-rule hr {
  margin: 0 0 2em 0;
  width: 100%;
  background-color: #14abb3;
  height: 2px;
  border: none; }
  @media screen and (max-width: 650px) {
    .cmp-accent-rule hr {
      width: 100%; } }

img {
  max-width: 100%; }

.cmp-image {
  max-width: 100%;
  margin: 0 0 1em 0; }

.cmp-image__title {
  width: 100%;
  display: block;
  font-style: italic;
  margin-top: 1.5em;
  padding-top: 0.75em;
  border-top: 1px solid #c6cdd2; }

.cmp-image--border img {
  border: 1px solid #c6cdd2; }

div.image {
  margin-bottom: 2em; }

.cmp-external-header {
  border-bottom: 1px solid #c6cdd2;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; }
  .cmp-external-header__logo {
    padding: 1.2em 0 0.9em;
    width: 115px;
    float: left; }
    .cmp-external-header__logo img {
      height: 32px; }
  .cmp-external-header__links {
    float: right;
    padding: 0.75em 0 0.75em 0; }
    .cmp-external-header__links ul {
      list-style: none;
      padding: 0;
      margin: 0.95em 0 0; }
    .cmp-external-header__links__item {
      display: inline-block;
      margin-left: 1.5em;
      margin-bottom: 0; }
      .cmp-external-header__links__item:first-of-type {
        margin-left: 0; }
      .cmp-external-header__links__item span {
        float: left;
        display: inline-block; }
        @media screen and (max-width: 650px) {
          .cmp-external-header__links__item span {
            display: none; } }
      .cmp-external-header__links__item a {
        color: #4f5b64; }
        .cmp-external-header__links__item a:hover {
          color: #0077bb; }
          .cmp-external-header__links__item a:hover svg .st0 {
            stroke: #0077bb; }
        .cmp-external-header__links__item a:active {
          color: #4f5b64; }
          .cmp-external-header__links__item a:active svg .st0 {
            stroke: #4f5b64; }
      .cmp-external-header__links__item img.inline-svg {
        display: none; }
      .cmp-external-header__links__item svg {
        display: inline-block;
        float: left;
        width: 30px;
        height: 25px;
        padding-left: 0.3em; }
        .cmp-external-header__links__item svg .st0 {
          stroke: #4f5b64; }
        @media screen and (max-width: 650px) {
          .cmp-external-header__links__item svg {
            width: 36px;
            height: 36px;
            padding-left: 0;
            margin-top: -9px; } }

.cmp-external-footer {
  background-color: #4f5b64;
  padding: 1.5em 0 11em 0;
  margin-top: 3em;
  overflow: hidden;
  width: 100%; }
  .cmp-external-footer a {
    color: #fff; }

.cmp-external-footer__logo {
  width: 115px;
  float: left;
  margin-right: 3em;
  margin-top: 0.75em; }
  .cmp-external-footer__logo a {
    float: left;
    width: 115px;
    display: block; }
  .cmp-external-footer__logo img {
    height: 32px;
    max-width: 115px; }
  @media screen and (max-width: 650px) {
    .cmp-external-footer__logo {
      width: 100%; } }

.cmp-external-footer__links {
  width: calc(100% - 165px);
  float: right;
  text-align: right;
  margin-top: 0.5em; }
  .cmp-external-footer__links a {
    margin-left: 2em;
    display: inline;
    line-height: 2.5em;
    transition: all 0.25s ease; }
    .cmp-external-footer__links a:hover {
      text-decoration: underline;
      color: #fff; }
    .cmp-external-footer__links a:first-of-type {
      padding-left: 0; }
  @media (max-width: 860px) {
    .cmp-external-footer__links {
      width: 100%; }
      .cmp-external-footer__links a {
        display: block;
        float: left;
        width: 50%;
        margin-left: 0;
        text-align: left; } }

.cmp-external-footer__copyright {
  float: right;
  margin-top: 2em; }
  .cmp-external-footer__copyright p {
    font-size: 0.9em;
    color: #4f5b64;
    color: #fff; }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-external-footer__copyright {
      margin-top: 2em; } }
  @media screen and (max-width: 650px) {
    .cmp-external-footer__copyright {
      float: left;
      margin-top: 2em; } }

.cmp-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  height: 2.75em;
  width: 2.75em;
  text-align: center;
  line-height: 30px;
  background: #fff;
  color: #2d3439;
  cursor: pointer;
  display: block;
  opacity: 0;
  border: 1px solid #c6cdd2;
  padding-top: 9px;
  box-shadow: 0px 1px 5px 0px rgba(79, 91, 100, 0.2);
  transition: opacity 0.5s ease; }
  .cmp-back-to-top svg {
    width: 1.5em;
    height: 24px; }
    .cmp-back-to-top svg .st0 {
      stroke: #4f5b64; }
  .cmp-back-to-top:hover {
    border: 1px solid #9ca7b0; }
    .cmp-back-to-top:hover svg .st0 {
      stroke: #005788; }
  .cmp-back-to-top:active {
    border: 1px solid #c6cdd2; }
    .cmp-back-to-top:active svg .st0 {
      stroke: #4f5b64; }
  .cmp-back-to-top:disabled {
    border: 1px solid #9ca7b0; }
    .cmp-back-to-top:disabled svg .st0 {
      stroke: #9ca7b0; }
  .cmp-back-to-top.cmp-back-to-top-show {
    opacity: 1; }
  .cmp-back-to-top.cmp-back-to-top-affix {
    position: relative;
    float: right;
    bottom: 20px; }

.cmp-list {
  float: left;
  width: 100%;
  margin-bottom: 1.5em; }
  .cmp-list__list {
    list-style: none;
    padding-left: 0;
    float: left;
    width: 100%;
    margin: 0; }
  .cmp-list__item {
    display: block;
    float: left;
    width: 100%; }
    .cmp-list__item-link {
      display: block;
      margin-bottom: 0; }
    .cmp-list__item-description {
      margin: 0.5em 0;
      overflow: hidden;
      position: relative;
      line-height: 1.6em;
      max-height: 4.8em;
      text-align: left;
      margin-right: -0.7em;
      padding-right: 0.7em; }
    .cmp-list__item-date {
      font-size: 0.9em;
      color: #4f5b64; }
    .cmp-list__item-title {
      font-size: 1.1em; }
  .cmp-list--image .cmp-list__item-body {
    float: left;
    width: calc(100% - 14em);
    margin-right: 2em; }
    @media screen and (max-width: 650px) {
      .cmp-list--image .cmp-list__item-body {
        width: 100%; } }
  .cmp-list--image .cmp-list__item-thumbnail {
    float: right;
    width: 12em; }
    .cmp-list--image .cmp-list__item-thumbnail img {
      width: 100%;
      border: 1px solid #c6cdd2;
      margin-bottom: 1em; }
    @media screen and (max-width: 650px) {
      .cmp-list--image .cmp-list__item-thumbnail {
        width: 100%;
        margin-bottom: 0;
        margin-top: 1em; } }

.cmp-external-list {
  list-style: none;
  padding-left: 0; }

.cmp-external-list__item {
  display: block;
  float: left;
  width: 100%; }

.cmp-external-list__link {
  display: block;
  float: left;
  padding-right: 27px;
  margin-bottom: 0;
  position: relative;
  font-size: 1.1em; }

.cmp-external-list__link::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='18' height='25' viewBox='0 0 24 24' stroke='%230077bb' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.3em;
  transition: all 0.25s ease; }

.cmp-external-list__link:hover::after {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='25' viewBox='0 0 24 24' fill='none' stroke='%23005788' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-external-link'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'%3E%3C/path%3E%3Cpolyline points='15 3 21 3 21 9'%3E%3C/polyline%3E%3Cline x1='10' y1='14' x2='21' y2='3'%3E%3C/line%3E%3C/svg%3E");
  width: 24px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 0.3em; }

div.externallist {
  margin-bottom: 1.5em; }

.cmp-tag-list {
  list-style: none;
  float: left;
  width: 100%;
  padding-left: 0;
  margin-top: 0; }
  .cmp-tag-list__item {
    display: inline; }
    .cmp-tag-list__item:first-of-type {
      margin-left: 0; }

.cmp-tag-list--comma-separated .cmp-tag-list {
  margin-bottom: 2em; }
  .cmp-tag-list--comma-separated .cmp-tag-list__item::after {
    content: ','; }
  .cmp-tag-list--comma-separated .cmp-tag-list__item:last-of-type::after {
    content: '';
    display: none; }

.cmp-tag-list--stacked .cmp-tag-list {
  margin-bottom: 2em; }
  .cmp-tag-list--stacked .cmp-tag-list__item {
    display: block; }

.cmp-tag-list--label .cmp-tag-list {
  margin-bottom: 1em; }
  .cmp-tag-list--label .cmp-tag-list__item {
    font-size: 0.9em;
    display: inline-block;
    padding: 0.25em 0.75em 0.4em 0.75em;
    background-color: #4f5b64;
    color: #fff; }

.cmp-share {
  list-style: none;
  padding-left: 0;
  float: right; }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-share {
      display: none; } }
  @media screen and (max-width: 650px) {
    .cmp-share {
      display: none; } }

.cmp-share__item {
  font-size: 0.9em;
  color: #4f5b64;
  display: block;
  float: left;
  line-height: 1.8em; }
  .cmp-share__item:first-of-type {
    padding-top: 1em;
    padding-right: 1em; }

.cmp-share__link {
  display: block;
  float: left;
  padding: 0.75em; }
  .cmp-share__link svg {
    width: 24px;
    height: 24px;
    fill: #c6cdd2; }
  .cmp-share__link.addthis_button_twitter svg {
    fill: #4aabe7; }
  .cmp-share__link.addthis_button_linkedin svg {
    fill: #3479b1; }

.cmp-banner {
  margin: 0 -30%;
  padding: 0 30%;
  margin-top: -2em; }
  .cmp-banner .container {
    padding: 0;
    margin: 0; }
  .cmp-banner__backgroundImage {
    padding: 0 30%;
    margin: 0 -30%; }
  @media (min-width: 1920px) {
    .cmp-banner {
      margin: 0 -40%;
      padding: 0 40%;
      margin-top: -2em; }
      .cmp-banner__backgroundImage {
        padding: 0 40%;
        margin: 0 -40%; } }
  @media screen and (max-width: 650px) {
    .cmp-banner {
      padding: 0 24px;
      margin: 0 -24px;
      margin-top: -2em; }
      .cmp-banner__backgroundImage {
        padding: 0 24px;
        margin: 0 -24px; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-banner {
      padding: 0 52px;
      margin: 0 -52px;
      margin-top: -2em; }
      .cmp-banner__backgroundImage {
        padding: 0 52px;
        margin: 0 -52px; } }

.cmp-banner--light .cmp-banner {
  margin-bottom: 2em;
  background: #f1f3f4; }

.cmp-banner--dark .cmp-banner {
  margin-bottom: 2em;
  background: #0f7f85; }
  .cmp-banner--dark .cmp-banner p,
  .cmp-banner--dark .cmp-banner a,
  .cmp-banner--dark .cmp-banner h1,
  .cmp-banner--dark .cmp-banner h2,
  .cmp-banner--dark .cmp-banner h3,
  .cmp-banner--dark .cmp-banner h4,
  .cmp-banner--dark .cmp-banner h5,
  .cmp-banner--dark .cmp-banner h6,
  .cmp-banner--dark .cmp-banner ul li,
  .cmp-banner--dark .cmp-banner ol li {
    color: #fff; }

.cmp-banner--header .cmp-banner {
  margin-top: -2em; }

.cmp-banner--notHeader .cmp-banner {
  margin-top: 0; }

.cmp-banner__parsys {
  padding: 3em 0 1.5em 0; }

.cmp-banner__backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.cmp-search-bar {
  width: 100%;
  float: left;
  margin-bottom: 1.5em;
  position: relative; }
  .cmp-search-bar__input {
    font-family: "acumin-pro", arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.6em;
    color: #2d3439;
    letter-spacing: 0.02em;
    margin-bottom: 1em;
    margin-top: 0;
    font-size: 1.1em;
    float: left;
    width: 100%;
    border: 1px solid #c6cdd2;
    background: #fff;
    padding: 1em 3em 1em 1em;
    color: #2d3439; }
    .cmp-search-bar__input:focus {
      outline: 2px solid #66bdee; }
    .cmp-search-bar__input::-ms-clear {
      display: none; }
  .cmp-search-bar__icon-search svg {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
    height: 2em; }
    .cmp-search-bar__icon-search svg .st0 {
      stroke: #4f5b64; }
  .cmp-search-bar__icon-search--clear svg {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 2em;
    height: 2em;
    cursor: pointer; }
    .cmp-search-bar__icon-search--clear svg .st0 {
      stroke: #4f5b64; }

.cmp-anchor {
  float: left;
  width: 100%;
  list-style: none;
  padding-left: 0;
  position: relative;
  background-color: #fff; }
  .cmp-anchor svg {
    width: 1.5em;
    float: right;
    fill: #4f5b64;
    margin-top: -.15em; }
  .cmp-anchor__list-heading {
    display: none;
    font-size: 1.1em; }
  .cmp-anchor--sticky {
    position: fixed;
    z-index: 150;
    width: 300%;
    top: 72px;
    box-shadow: 0px 1px 5px 0px rgba(79, 91, 100, 0.2);
    margin: 0 -0% 0 -50%;
    padding: 0 162.5% 0 50%;
    border-top: 1px solid #c6cdd2; }
    @media screen and (max-width: 650px) {
      .cmp-anchor--sticky {
        padding: 0 158.5% 0 50%;
        overflow-y: hidden;
        height: 52px; } }
    @media screen and (max-width: 650px) {
      .cmp-anchor--sticky .cmp-anchor__list {
        padding-left: 0;
        columns: unset;
        margin-top: 0; }
        .cmp-anchor--sticky .cmp-anchor__list .cmp-anchor__list-item {
          width: 100%; } }
    .cmp-anchor--sticky .cmp-anchor__list-heading {
      display: none;
      position: relative;
      cursor: pointer;
      margin-bottom: 1em;
      box-shadow: 0px 1px 1px 0px rgba(79, 91, 100, 0.2);
      font-size: 1.1em; }
      @media screen and (max-width: 650px) {
        .cmp-anchor--sticky .cmp-anchor__list-heading {
          display: block;
          display: block;
          width: 150%;
          margin-left: -25%;
          padding-left: 25%;
          height: 50px;
          padding-top: 0.5em; } }
      .cmp-anchor--sticky .cmp-anchor__list-heading .cmp-icon {
        display: block;
        float: right;
        right: 15%;
        position: absolute;
        top: 0.7em;
        padding-right: 0.75em; }
    @media screen and (max-width: 650px) {
      .cmp-anchor--sticky {
        transition: height ease 0.5s;
        height: 52px; }
        .cmp-anchor--sticky.open {
          height: 100vh; }
          .cmp-anchor--sticky.open .cmp-anchor__list-heading--closed {
            opacity: 0;
            height: 0; }
          .cmp-anchor--sticky.open .cmp-anchor__list-heading--open {
            opacity: 1; }
        .cmp-anchor--sticky.closed {
          height: 52px; }
          .cmp-anchor--sticky.closed .cmp-anchor__list-heading--closed {
            opacity: 1; }
          .cmp-anchor--sticky.closed .cmp-anchor__list-heading--open {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0; } }
  .cmp-anchor .cmp-anchor__link.active {
    color: #4f5b64; }

.cmp-anchor__list {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0.75em 0; }
  @media screen and (max-width: 650px) {
    .cmp-anchor__list {
      columns: 2;
      margin-top: -1em;
      padding: 0 0 0.75em 0; }
      .cmp-anchor__list.cmp-anchor-show {
        margin-bottom: 100%;
        float: none;
        display: block;
        text-align: left;
        padding: 1em; } }
  .cmp-anchor__list-item {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.8em;
    padding-right: 2em;
    font-size: 1.1em; }
    @media screen and (max-width: 650px) {
      .cmp-anchor__list-item {
        width: 100%;
        float: left;
        padding-right: 0;
        padding-top: 1em; } }

@media screen and (max-width: 650px) {
  .cmp-anchor--column-1 .cmp-anchor__list {
    columns: 1; } }

.cmp-anchor--column-1 .cmp-anchor__list-item {
  width: 100%; }

@media screen and (max-width: 650px) {
  .cmp-anchor--column-2 .cmp-anchor__list {
    columns: 2; } }

.cmp-anchor--column-2 .cmp-anchor__list-item {
  width: 100%; }

@media screen and (max-width: 650px) {
  .cmp-anchor--column-3 .cmp-anchor__list {
    columns: 3; } }

.cmp-anchor--column-3 .cmp-anchor__list-item {
  width: 100%; }

.cmp-search__container {
  width: 75%;
  float: left;
  padding-left: 2%; }
  .cmp-search__container__header {
    width: 60%;
    margin-left: -15%; }
    @media screen and (min-width: 651px) and (max-width: 1200px) {
      .cmp-search__container__header {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-left: 0; } }
    @media screen and (max-width: 650px) {
      .cmp-search__container__header {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-left: 0; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-search__container {
      width: 100%;
      float: none;
      padding-left: 0; } }
  @media screen and (max-width: 650px) {
    .cmp-search__container {
      width: 100%;
      float: none;
      padding-left: 0; } }

.cmp-search__results-container {
  float: left;
  width: 100%;
  margin-bottom: 1.5em; }

.cmp-search__results {
  list-style: none;
  padding-left: 0;
  float: left;
  width: 100%;
  margin: 0; }
  @media screen and (max-width: 650px) {
    .cmp-search__results-thumbnail {
      display: none; } }
  .cmp-search__resultsCount .query {
    color: #2d3439; }

.cmp-search__results-item {
  display: block;
  float: left;
  width: 100%; }
  .cmp-search__results-item-link {
    display: block;
    margin-bottom: 0; }
  .cmp-search__results-item-description {
    margin: 0.5em 0;
    overflow: hidden;
    position: relative;
    line-height: 1.6em;
    max-height: 4.8em;
    text-align: left;
    margin-right: -0.7em;
    padding-right: 0.7em; }
  .cmp-search__results-item-date {
    font-size: 0.9em;
    color: #4f5b64; }
  .cmp-search__results-item-title {
    font-size: 1.1em; }
  .cmp-search__results-item-title {
    font-size: 1.1em; }
  @media screen and (max-width: 650px) {
    .cmp-search__results-item {
      margin-bottom: 2em; } }

.cmp-search__results-body {
  width: 100%;
  float: left;
  padding-bottom: 1em; }
  @media screen and (max-width: 650px) {
    .cmp-search__results-body {
      padding-bottom: 0; } }
  .cmp-search__results-body--image {
    float: left;
    width: calc(100% - 14em);
    margin-right: 2em; }
    @media screen and (max-width: 650px) {
      .cmp-search__results-body--image {
        width: 100%; } }

.cmp-search__results-thumbnail {
  float: right;
  width: 12em; }
  .cmp-search__results-thumbnail img {
    width: 100%;
    border: 1px solid #c6cdd2;
    margin-bottom: 1em; }
  @media screen and (max-width: 650px) {
    .cmp-search__results-thumbnail {
      width: 100%;
      margin-bottom: 0;
      margin-top: 1em; } }

.cmp-search__no-results {
  border: 1px solid #c6cdd2;
  text-align: center;
  padding: 3em 0 3em; }
  .cmp-search__no-results .icon {
    margin: 0 auto 1em auto;
    height: 4em;
    width: 4em; }
    .cmp-search__no-results .icon svg .st0 {
      stroke: #c6cdd2; }

div.cmp-search__no-results {
  padding: 3em 3em; }
  @media screen and (max-width: 650px) {
    div.cmp-search__no-results {
      padding: 2em 2em; } }

.paginate__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 5em 0;
  clear: both; }
  .paginate__container li {
    display: inline; }
    @media screen and (max-width: 650px) {
      .paginate__container li {
        display: none; } }
    .paginate__container li a {
      cursor: pointer;
      color: #4f5b64;
      margin: 0 0.5em 0 0;
      border: 1px solid #9ca7b0;
      float: left;
      padding-top: 0.4em;
      text-decoration: none;
      text-align: center;
      height: 2.75em;
      width: 2.75em; }
      .paginate__container li a:hover {
        color: #0077bb; }
    .paginate__container li.disabled a {
      border-color: #c6cdd2;
      color: #9ca7b0; }
      .paginate__container li.disabled a:hover {
        color: #9ca7b0; }
    .paginate__container li.selected a {
      background: #4f5b64;
      color: #fff;
      border: 1px solid #4f5b64; }
    @media screen and (max-width: 650px) {
      .paginate__container li.selected {
        display: inline; } }
    .paginate__container li.next a:hover svg .st0, .paginate__container li.previous a:hover svg .st0 {
      stroke: #0077bb; }
    .paginate__container li.next > a > div, .paginate__container li.previous > a > div {
      height: 24px;
      width: 15px; }
    .paginate__container li.next svg, .paginate__container li.previous svg {
      width: 1.5em;
      height: 20px;
      margin-left: 0.5em;
      margin-top: 0.25em; }
      @media screen and (max-width: 650px) {
        .paginate__container li.next svg, .paginate__container li.previous svg {
          height: 24px; } }
      .paginate__container li.next svg .st0, .paginate__container li.previous svg .st0 {
        stroke: #2d3439; }
    @media screen and (max-width: 650px) {
      .paginate__container li.next, .paginate__container li.previous {
        display: inline; } }
    .paginate__container li.next.disabled a, .paginate__container li.previous.disabled a {
      cursor: default; }
      .paginate__container li.next.disabled a svg .st0, .paginate__container li.previous.disabled a svg .st0 {
        stroke: #9ca7b0; }
      .paginate__container li.next.disabled a:hover svg .st0, .paginate__container li.previous.disabled a:hover svg .st0 {
        stroke: #9ca7b0; }
    .paginate__container li.break {
      display: none; }

.cmp-search-show-btn .btn-show-sort-filter {
  display: none;
  color: #4f5b64;
  border: 1px solid #9ca7b0;
  padding: 0 2em 0 0.75em;
  margin-bottom: 3em;
  height: 2.75em;
  line-height: 2.75em;
  width: 100%;
  position: relative; }
  .cmp-search-show-btn .btn-show-sort-filter svg {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 1.5em;
    height: 1.5em; }
    .cmp-search-show-btn .btn-show-sort-filter svg .st0 {
      stroke: #4f5b64; }
  @media screen and (max-width: 1200px) {
    .cmp-search-show-btn .btn-show-sort-filter {
      display: block; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-search-show-btn .btn-show-sort-filter {
      max-width: 160px;
      float: right; } }
  @media screen and (max-width: 650px) {
    .cmp-search-show-btn .btn-show-sort-filter {
      float: none;
      background-position: 95% 13px; } }

@media screen and (min-width: 651px) and (max-width: 1200px) {
  .cmp-search-show-btn {
    float: right;
    width: 30%; } }

@media screen and (max-width: 650px) {
  .cmp-search-show-btn {
    float: none;
    width: 100%; } }

.cmp-search__resultsCount {
  margin-top: -3.5em;
  margin-bottom: 2em;
  margin-left: -37%;
  width: 100%;
  overflow: hidden;
  height: 70px; }
  .cmp-search__resultsCount.noresults {
    width: 70%;
    margin-left: 0;
    margin-top: -3.5em;
    margin-bottom: 2em;
    overflow: visible;
    height: auto; }
  @media screen and (max-width: 1200px) {
    .cmp-search__resultsCount {
      margin: unset;
      padding-bottom: 2em;
      overflow: visible;
      text-overflow: unset;
      white-space: normal;
      overflow: visible;
      height: auto; }
      .cmp-search__resultsCount.noresults {
        width: 100%;
        margin: 0; } }

.cmp-search__sorted-by {
  display: none;
  float: left;
  width: 100%; }
  @media screen and (max-width: 650px) {
    .cmp-search__sorted-by {
      display: block;
      padding-bottom: 1.5em; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-search__sorted-by {
      display: block; } }
  @media screen and (min-width: 651px) and (max-width: 1200px) {
    .cmp-search__sorted-by {
      float: left;
      width: 70%; } }
  @media screen and (max-width: 650px) {
    .cmp-search__sorted-by {
      float: none;
      width: 100%; } }

.cmp-search-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9;
  padding: 25% 50%; }
  .cmp-search-overlay > div {
    margin-left: -75px; }

html.showing-spinner {
  overflow: hidden;
  height: 100%; }

.cmp-table {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.cmp-table__table {
  border-top: 1px solid #14abb3;
  width: 100%;
  font-family: "acumin-pro", arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.6em;
  color: #2d3439;
  letter-spacing: 0.02em;
  margin-bottom: 1em;
  margin-top: 0;
  border-collapse: collapse; }
  .cmp-table__table td, .cmp-table__table th {
    padding: 0.75em 2em 0.25em 0;
    text-align: left;
    vertical-align: top; }
  .cmp-table__table td p {
    margin-bottom: 0.5em; }
  .cmp-table__table th p {
    font-weight: 500;
    margin-bottom: 0.5em; }
  .cmp-table__table tr {
    border-bottom: 1px solid #e3e6e9; }

@media screen and (max-width: 650px) {
  .cmp-table--collapse .cmp-table__table td {
    display: block;
    word-wrap: break-word;
    padding: 0 2em 0 0; }
  .cmp-table--collapse .cmp-table__table td:first-child {
    padding-top: 0.75em; }
  .cmp-table--collapse .cmp-table__table td:last-child {
    padding-bottom: 0.5em; }
  .cmp-table--collapse .cmp-table__table tr {
    padding-bottom: 0.75em; }
  .cmp-table--collapse .cmp-table__table thead {
    display: none; } }

.cmp-table__caption {
  font-style: italic;
  margin-top: 1.5em;
  padding-top: 0.75em;
  border-top: 1px solid #c6cdd2; }

div.table {
  margin-bottom: 3em; }

.cmp-search-filters ul {
  padding: 0;
  margin: 0; }

.cmp-search-filters li {
  color: #4f5b64;
  list-style: none;
  margin-bottom: 0; }

.cmp-search-filters input[type='input'] {
  color: #4f5b64;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 0.75em;
  background-color: transparent;
  outline: none;
  border: 1px solid #9ca7b0;
  color: #4f5b64; }

.cmp-search-filters__filter ul {
  transition: all 0.4s ease-out;
  max-height: 0px;
  overflow-y: scroll;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75em;
  padding-right: 0.75em; }
  .cmp-search-filters__filter ul li {
    padding: 5px 0;
    display: table; }
    .cmp-search-filters__filter ul li label {
      display: table-cell; }

.cmp-search-filters__filter a.filter-toggle {
  color: #4f5b64;
  border-top: 1px solid #9ca7b0;
  display: block;
  background-color: #fff;
  padding: 0 0.75em;
  margin: 0;
  text-decoration: none;
  height: 2.75em;
  line-height: 2.75em;
  position: relative; }
  .cmp-search-filters__filter a.filter-toggle svg {
    position: absolute;
    top: 12px;
    right: 13px;
    width: 20px;
    height: 20px; }
    .cmp-search-filters__filter a.filter-toggle svg .st0 {
      stroke: #4f5b64; }
  .cmp-search-filters__filter a.filter-toggle .expandIcon {
    display: block; }
  .cmp-search-filters__filter a.filter-toggle .collapseIcon {
    display: none; }
    .cmp-search-filters__filter a.filter-toggle .collapseIcon .st0 {
      stroke: #fff; }
  .cmp-search-filters__filter a.filter-toggle .mobileIcon {
    display: none; }
  @media screen and (max-width: 1200px) {
    .cmp-search-filters__filter a.filter-toggle .expandIcon {
      display: none; }
    .cmp-search-filters__filter a.filter-toggle .mobileIcon {
      display: block; } }

.cmp-search-filters__filter:last-child h3 {
  border-bottom: 1px solid #9ca7b0;
  height: calc(2.75em + 2px); }

.cmp-search-filters__filter__item__count {
  font-style: italic;
  color: #4f5b64; }

.cmp-search-filters__filter__item input[type='checkbox'] {
  display: none; }

.cmp-search-filters__filter__item .checkbox {
  display: inline-block;
  appearance: none;
  border: 1px solid #9ca7b0;
  height: 1rem;
  width: 1em;
  vertical-align: -2px;
  margin-right: 10px;
  transition: none; }
  .cmp-search-filters__filter__item .checkbox svg {
    display: none;
    width: 0.8em;
    height: 0.8em;
    margin-left: 1px;
    margin-top: 1px;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg); }
    .cmp-search-filters__filter__item .checkbox svg .st0 {
      stroke: #fff;
      stroke-width: 4; }
  .cmp-search-filters__filter__item .checkbox.checked {
    border: 1px solid #4f5b64;
    background-color: #4f5b64; }
    .cmp-search-filters__filter__item .checkbox.checked svg {
      display: block; }

.cmp-search-filters__filter__search {
  display: none;
  position: relative; }
  .cmp-search-filters__filter__search,
  .cmp-search-filters__filter__search input[type='input'] {
    width: 100%;
    position: relative;
    margin-bottom: 0; }
  .cmp-search-filters__filter__search input[type='input'] {
    padding-right: 3em; }
  .cmp-search-filters__filter__search svg {
    position: absolute;
    top: 10px;
    right: 9px;
    width: 25px;
    height: 25px; }
    .cmp-search-filters__filter__search svg .st0 {
      stroke: #4f5b64; }

.cmp-search-filters__filter__year {
  display: none;
  margin: 0.75em auto;
  width: 180px; }
  .cmp-search-filters__filter__year__min, .cmp-search-filters__filter__year__max {
    width: 80px; }
    .cmp-search-filters__filter__year__min input[type='input'], .cmp-search-filters__filter__year__max input[type='input'] {
      width: 100%;
      text-align: center; }
    .cmp-search-filters__filter__year__min label, .cmp-search-filters__filter__year__max label {
      display: block;
      text-align: center; }
  .cmp-search-filters__filter__year__min {
    float: left; }
  .cmp-search-filters__filter__year__max {
    float: right; }

.cmp-search-filters__filter.expanded a.filter-toggle {
  background-color: #4f5b64;
  color: #fff; }
  .cmp-search-filters__filter.expanded a.filter-toggle .expandIcon {
    display: none; }
  .cmp-search-filters__filter.expanded a.filter-toggle .collapseIcon {
    display: block; }
  @media screen and (max-width: 1200px) {
    .cmp-search-filters__filter.expanded a.filter-toggle .collapseIcon,
    .cmp-search-filters__filter.expanded a.filter-toggle .mobileIcon {
      display: none; } }

.cmp-search-filters__filter.expanded ul,
.cmp-search-filters__filter.expanded .cmp-search-filters__filter__search,
.cmp-search-filters__filter.expanded .cmp-search-filters__filter__year {
  transition: all 0.4s ease-out;
  max-height: 200px;
  padding-top: 0.75em;
  padding-bottom: 0.75em; }

.cmp-search-filters__tags {
  margin-top: 2.75em;
  margin-bottom: 1em; }
  .cmp-search-filters__tags a {
    font-size: 0.9em;
    color: #4f5b64;
    display: block;
    float: left;
    padding: 2px 0.75em 2px 1.5em;
    margin: 0 8px 8px 0;
    text-decoration: none;
    background-color: #f1f3f4;
    position: relative; }
    .cmp-search-filters__tags a svg {
      position: absolute;
      top: 6px;
      left: 4px;
      width: 16px;
      height: 16px; }
      .cmp-search-filters__tags a svg .st0 {
        stroke: #4f5b64; }
    .cmp-search-filters__tags a:hover {
      background-color: #e3e6e9; }
    .cmp-search-filters__tags a.cmp-search-filters__tags__clear {
      color: #fff;
      background-color: #4f5b64; }
      .cmp-search-filters__tags a.cmp-search-filters__tags__clear .st0 {
        stroke: #fff; }
      .cmp-search-filters__tags a.cmp-search-filters__tags__clear:hover {
        background-color: #4f5b64; }
  @media screen and (max-width: 1200px) {
    .cmp-search-filters__tags {
      margin-top: 0;
      display: none; } }

.cmp-search-apply-btn {
  display: none; }
  .cmp-search-apply-btn a {
    color: #4f5b64;
    background-color: #0077bb;
    text-align: center;
    padding: 0 0.75em;
    margin-bottom: 1em;
    color: #fff;
    height: 2.75em;
    line-height: 2.75em;
    width: 100%;
    display: block; }
  @media screen and (max-width: 1200px) {
    .cmp-search-apply-btn {
      display: block; } }

.cmp-search-done-btn {
  display: none; }
  .cmp-search-done-btn a {
    color: #4f5b64;
    border: 1px solid #0077bb;
    text-align: center;
    padding: 0 0.75em;
    margin-bottom: 1em;
    color: #0077bb;
    height: 2.75em;
    line-height: 2.75em;
    width: 100%;
    display: block; }

.cmp-search-hide-btn {
  display: none; }
  .cmp-search-hide-btn a {
    width: 30px;
    height: 30px;
    display: block;
    float: right; }
    .cmp-search-hide-btn a .st0 {
      stroke: #4f5b64; }
  @media screen and (max-width: 1200px) {
    .cmp-search-hide-btn {
      display: block; } }

.cmp-search-sortby {
  margin-bottom: 2em; }
  .cmp-search-sortby__select {
    position: relative; }
    .cmp-search-sortby__select select {
      color: #4f5b64;
      background-color: transparent;
      border-radius: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 2.75em;
      padding: 0 0.75em 0.1em 0.75em;
      border: 1px solid #9ca7b0;
      position: relative; }
      .cmp-search-sortby__select select:hover, .cmp-search-sortby__select select:focus {
        outline: none; }
        .cmp-search-sortby__select select:hover::-ms-value, .cmp-search-sortby__select select:focus::-ms-value {
          color: inherit;
          background-color: transparent; }
      .cmp-search-sortby__select select::-ms-expand {
        display: none; }
    .cmp-search-sortby__select svg {
      position: absolute;
      top: 14px;
      right: 13px;
      width: 20px;
      height: 20px; }
      .cmp-search-sortby__select svg .st0 {
        stroke: #4f5b64; }

.cmp-search__sort-filter .cmp-search-filters__tags {
  display: none; }

@media screen and (max-width: 1200px) {
  .cmp-search__sort-filter {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden; }
    .cmp-search__sort-filter.selected {
      display: block; }
    .cmp-search__sort-filter__container {
      overflow-y: scroll;
      height: 100%;
      padding-bottom: 5em;
      position: relative; }
    .cmp-search__sort-filter .cmp-search-filters__tags {
      display: block; } }

@media screen and (max-width: 650px) {
  .cmp-search__sort-filter {
    width: 100%; } }

@media screen and (min-width: 651px) and (max-width: 1200px) {
  .cmp-search__sort-filter {
    width: 40%; } }

@media screen and (max-width: 1200px) {
  .show-sort-filters .cmp-search__sort-filter,
  .show-sort-filters .overlay {
    display: block; }
  .show-sort-filters .cmp-search__sort-filter {
    height: 100%;
    max-height: 100vh;
    z-index: 1;
    padding-bottom: 5em; }
  .show-sort-filters .container {
    max-height: calc(100vh - 6.5em);
    overflow: hidden; }
  .show-sort-filters.filter-active .cmp-search-apply-btn, .show-sort-filters.filter-active .cmp-search-sortby,
  .show-sort-filters.filter-active .cmp-search-filters h3, .show-sort-filters.filter-active .cmp-search-filters__tags, .show-sort-filters.filter-active .cmp-search-filters__filter {
    display: none; }
  .show-sort-filters.filter-active .cmp-search-done-btn {
    display: block; }
  .show-sort-filters.filter-active .cmp-search-filters__filter.expanded {
    display: block; }
    .show-sort-filters.filter-active .cmp-search-filters__filter.expanded h3 {
      display: block;
      border: none; }
      .show-sort-filters.filter-active .cmp-search-filters__filter.expanded h3 a {
        color: #4f5b64;
        background-color: transparent; }
        .show-sort-filters.filter-active .cmp-search-filters__filter.expanded h3 a:before {
          background-image: none; }
    .show-sort-filters.filter-active .cmp-search-filters__filter.expanded ul {
      max-height: none; }
  .show-sort-filters .cmp-search__sort-filter {
    padding-top: 74px; } }

.cmp-utility-button {
  padding: 0.6em 0.75em 0.75em 1em;
  background-color: #fff;
  border: 1px solid #9ca7b0;
  color: #4f5b64;
  transition: all 0.25s ease;
  text-decoration: none; }
  .cmp-utility-button img.inline-svg {
    display: none; }
  .cmp-utility-button svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-top; }
    .cmp-utility-button svg .st0 {
      stroke: #4f5b64; }
    @media screen and (max-width: 650px) {
      .cmp-utility-button svg {
        float: right;
        width: 1.5em;
        height: 1.75em; } }
  .cmp-utility-button:hover {
    color: #0077bb;
    text-decoration: none; }
    .cmp-utility-button:hover svg .st0 {
      stroke: #0077bb; }
  .cmp-utility-button:disabled {
    border: 1px solid #9ca7b0;
    color: #9ca7b0; }
    .cmp-utility-button:disabled svg .st0 {
      stroke: #9ca7b0; }
  @media screen and (max-width: 650px) {
    .cmp-utility-button {
      width: 100%;
      float: left;
      padding: 0.5em 0.75em 0.5em 0.75em;
      margin: 0 0 0 0; } }
  @media screen and (max-width: 1200px) {
    .cmp-utility-button.method-file-button {
      display: none; } }

div.pdfbutton {
  margin: 1em 0 5em 0; }

.cmp-tag-cloud__list {
  float: left;
  list-style: none;
  padding-left: 0.1em; }

.cmp-tag-cloud__item {
  font-size: 0.9em;
  color: #4f5b64;
  float: left;
  padding: 0.25em 0.75em 0.4em 0.75em;
  margin: 0 0.5em 0.5em 0;
  background-color: #e7f4fc; }
  .cmp-tag-cloud__item a {
    text-decoration: none; }
  .cmp-tag-cloud__item:hover {
    background-color: #c2e4f8;
    color: #005788;
    cursor: pointer; }
  .cmp-tag-cloud__item:active {
    background-color: #e7f4fc;
    color: #0077bb; }

.cmp-title__print, .cmp-qr-code {
  display: none; }

@media print {
  @page {
    margin-top: 20px;
    @bottom-left {
      content: element(header);
      border-top: 1px solid #c6cdd2;
      margin-top: -40px;
      margin-right: -235px; }
    @bottom-right {
      content: counter(page);
      border-top: 1px solid #c6cdd2;
      font-family: "acumin-pro", arial, sans-serif;
      font-size: 0.8em;
      font-weight: light;
      line-height: 1.6em;
      color: #4f5b64;
      margin-bottom: 1em;
      margin-top: 0;
      margin-top: -40px; } }
  .cmp-title__print {
    position: fixed;
    display: block;
    font-family: "acumin-pro", arial, sans-serif;
    font-size: 0.8em;
    font-weight: light;
    line-height: 1.6em;
    color: #4f5b64;
    margin-bottom: 1em;
    margin-top: 0;
    bottom: 0;
    position: running(header); }
  * {
    float: none !important; }
  body {
    padding: 0; }
  .container {
    padding: 5px; }
  .cmp-anchor, .cmp-external-header__links, .mopinion-survey-content, .cmp-share, a.cmp-back-to-top, .cmp-external-footer__links, .cmp-external-list__link::after, a.cmp-button, a.cmp-utility-button {
    display: none; }
  .layoutcontainer .cmp-section-container__title {
    padding: 0.5em 0 1.5em 0; }
  .cmp-external-footer {
    background-color: #fff;
    padding: 1.5em 0 1.5em 0; }
  .cmp-external-footer__logo {
    display: none; }
  .cmp-external-footer__copyright {
    float: right !important;
    margin-top: 0px; }
    .cmp-external-footer__copyright p {
      font-size: 0.8em;
      color: #4f5b64; }
  .sectioncontainer {
    page-break-before: always; }
  h4, p, li {
    widows: 3;
    orphans: 3; }
  .image, .table {
    page-break-inside: avoid; }
  .cmp-external-header {
    border-bottom: none;
    width: 100%; }
  .cmp-qr-code {
    font-family: "acumin-pro", arial, sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 1.7em;
    color: #4f5b64;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.75em;
    display: unset;
    float: left !important; }
  .cmp-qr-code__img {
    margin-bottom: -35px; }
    .cmp-qr-code__img::after {
      border-bottom: 1px solid #c6cdd2; }
  .cmp-section-container .cmp-text p, .cmp-section-container .cmp-text li {
    width: 120%; }
  .cmp-image__title {
    font-size: 0.8em; }
  .cmp-accent-rule hr {
    width: 4em; }
  .cmp-tag-list--label .cmp-tag-list__item {
    font-size: 0.8em; }
  h1 {
    font-size: 2em;
    padding-bottom: 1em;
    margin-right: -135px; }
  h2 {
    font-size: 1.3em; }
  h3 {
    font-size: 1em;
    color: #0f7f85; }
  p, h4, li {
    font-size: 0.8em; }
  .cmp-title {
    width: 500px; }
  .cmp-tag-list {
    width: 500px; } }

