<header data-sly-use.header="com.waters.aem.core.components.structure.Header" class="cmp-external-header" data-search-path="${header.searchPath.href}">
    <div class="container">
        <div class="cmp-external-header__logo">
            <a class="cmp-external-header-logo__link" href="${header.logoLink.href}" target="${header.external ? '_blank' :''}">
                <img src="${header.logo.fileReference}" alt="${header.logoAltText}"/>
            </a>
        </div>
        <nav class="cmp-external-header__links">
            <ul>
                <li class="cmp-external-header__links__item">
                    <a class="cmp-external-header-links__link" href="${header.searchPath.href}">
                        <span>${'Search Library' @ i18n}
                            <img alt="${'See Availability' @ i18n}" src="/content/dam/waters/brand-assets/icons/search.svg" class="inline-svg">
                        </span>
                    </a>
                </li>
                <li class="cmp-external-header__links__item">
                    <a class="cmp-external-header-links__link" href="#" >
                        <span>${'Sign In' @ i18n}
                            <img alt="${'See Availability' @ i18n}" src="/content/dam/waters/brand-assets/icons/user.svg" class="inline-svg">
                        </span>
                    </a>
                </li>

                <li class="cmp-external-header__links__item">
                    
                    <div class="cmp-anchor__list-heading--closed">
                        <span>${'Jump to' @ i18n}</span>
                        <span class="cmp-icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {fill: none;stroke-linecap: round;stroke-linejoin: round;}
                                </style>
                                <polyline class="st0" points="7,13 12,18 17,13 "/>
                                <polyline class="st0" points="7,6 12,11 17,6 "/>
                            </svg>
                        </span>
                    </div>
                    <div class="cmp-anchor__list-heading--open">
                        <span>${'Jump to' @ i18n}</span>
                        <span class="cmp-icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                                 viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                            <style type="text/css">
                                .st0 {fill: none;stroke-linecap: round;stroke-linejoin: round;}
                            </style>
                            <line class="st0" x1="18" y1="6" x2="6" y2="18"/>
                            <line class="st0" x1="6" y1="6" x2="18" y2="18"/>
                            </svg>
                        </span>
                    </div>





                </li>




            </ul>
        </nav>
    </div>
</header>
