<sly data-sly-use.specificationsTable="com.waters.aem.core.components.content.SpecificationsTable"
     data-sly-test.specifications="${specificationsTable.specifications}">
    <div class="cmp-table--divide cmp-table">
        <table class="cmp-table__table">
            <tbody>
            <tr data-sly-repeat.specification="${specifications}">
                <td>
                    <p><strong>${specification.title}</strong></p>
                </td>
                <td>
                    <p>${specification.formattedFeatureValues}</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="cmp-notification-wrapper" data-sly-test="${specificationsTable.sku.hazardous}">
        <img class="inline-svg"  src="/content/dam/waters/brand-assets/icons/hazardous.svg"/>
        <span class="cmp-notification-title">${'Hazaradous Material' @ i18n}</span>
        <span class="cmp-notification-description">${'This product contains hazardous material which requires special freight handling. Additional charges may apply.' @ i18n}</span>
    </div>

    <div class="cmp-notification-wrapper" data-sly-test="${specificationsTable.sku.coldChainShipping}">
        <img class="inline-svg"  src="/content/dam/waters/brand-assets/icons/coldchain.svg"/>
        <span class="cmp-notification-title">${'Cold Shipping' @ i18n}</span>
        <span class="cmp-notification-description">${'This part will be shipped cold and shipping and handling fees will be applied to your cart.' @ i18n}</span>
    </div>

</sly>

<sly data-sly-use.patterns="/apps/waters/components/content/patterns.html"
     data-sly-call="${patterns.placeholder @ show=!specifications, text=component.title}"/>